<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

<app-pegasus-card titel="Vluchten"
                  subtitel="Een overzicht van de starts {{datum.day}}-{{datum.month}}-{{datum.year}}"
                  [icon]="iconCardIcon"
                  [exportEnabled]="this.magExporteren"
                  (Exporting)="exporteerStartlijst()">
    <div class="box h-100">
        <div id="data" class="data" *ngIf="!toonStartlijstKlein">
            <app-datatable
                    id="startlijstgrid"
                    [rowData]="filteredStarts"
                    [columnDefs]="columns"
                    [loading]="isLoading"
                    [rowClassRules]="rowClassRules"
                    [frameworkComponents]="frameworkComponents"
                    (rowDoubleClicked)="openEditor($event)"
                    class="h-100 mt-n8"></app-datatable>
        </div>
        <div id="datacard" class="data" *ngIf="toonStartlijstKlein">
            <div *ngFor="let vlucht of filteredStarts;let i = index">
                <app-vlucht-card [start]="vlucht"></app-vlucht-card>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-between mt-2 w-100" id="toolbar">
            <div>
                <div class="d-flex flex-row">
                    <app-status-button
                            class="toolbarBtn"
                            tekst="Filter"
                            [actief]="filterOn"
                            (btnClicked)="filter($event)"
                            iconNaam="fas Filter">
                    </app-status-button>
                    <div>
                        <app-icon-button class="toolbarBtn"
                                         tekst="Toevoegen"
                                         iconNaam="far PlusSquare" (btnClicked)="addStart()"
                                         btnColor="btn-primary"
                                         *ngIf="!deleteMode && magToevoegen && inTijdspan"></app-icon-button>

                        <div *ngIf="this.deleteMode">
                            <app-status-button
                                    class="toolbarBtn"
                                    tekst="Archief"
                                    [actief]="trashMode"
                                    (btnClicked)="trashModeJaNee($event)"
                                    iconNaam="fas Inbox">
                            </app-status-button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-row justify-content-between" id="zoekbar">
                <div>
                    <div class="d-flex justify-content-begin align-items-end text-nowrap">
                        <div class="d-flex flex-row justify-content-between zoeken">
                            <label id="zoekLabel" for="zoekInput" class="mt-2 form-label">Zoeken: </label>
                            <input id="zoekInput"
                                   type="search"
                                   class="form-control"
                                   [(ngModel)]="zoekString"
                                   name="zoekString"
                                   (keyup)="opvragen()"
                                   (search)="opvragen()"
                            >
                            <app-icon-button class="toolbarBtn" iconNaam="fas Redo" (btnClicked)="opvragen()"
                                             *ngIf="toonRefresh"
                                             btnColor="btn-primary"></app-icon-button>
                        </div>

                        <div class="ms-2 d-flex justify-content-begin align-items-end text-nowrap"
                             *ngIf="toonVeldFilter">

                            <label for="VELD" class="form-label me-2">Vliegveld:</label>
                            <ng-select id="VELD" style="width: 160px;"
                                       [items]="veldTypes$ | async"
                                       placeholder="Filter op vliegveld"
                                       bindLabel="OMSCHRIJVING"
                                       bindValue="ID"
                                       closeOnSelect="true"
                                       openOnEnter="true"
                                       [searchable]="false"
                                       (change)="filterStarts()"
                                       [(ngModel)]="vliegveld">
                            </ng-select>
                        </div>
                    </div>
                </div>

                <div *ngIf="!toonStartlijstKlein">
                    <div class="d-flex justify-content-end">
                        <app-icon-button class="toolbarBtn" tekst="Verwijderen" iconNaam="far TrashAlt"
                                         btnColor="btn-secondary"
                                         *ngIf="magVerwijderen && !deleteMode && inTijdspan"
                                         (btnClicked)="deleteModeJaNee()"></app-icon-button>
                        <app-icon-button class="toolbarBtn" tekst="Terug" iconNaam="far ArrowAltCircleLeft"
                                         btnColor="btn btn-outline-primary" *ngIf="deleteMode"
                                         (btnClicked)="deleteModeJaNee()"></app-icon-button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-tijd-invoer></app-tijd-invoer>
    <app-start-editor [VliegerID]="VliegerID" [VliegveldID]="vliegveld"></app-start-editor>
    <app-export-startlijst (exportDataset)="exportDataset($event)"></app-export-startlijst>

    <div class="exportOverlay" *ngIf="isExporting">
        <div class="exportPosition">
            <span class="exportBorder"><fa-icon [icon]="downloadIcon" class="me-3 downloadIcon"></fa-icon> Data wordt geexporteerd .....</span>
        </div>
    </div>
</app-pegasus-card>
