.box {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.row {
  --bs-gutter-x: 0;
}

.toolbarBtn {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

#zoekLabel {
  margin-right: 2em;
}

.data {
  flex-grow: 100;
  overflow: scroll;
  max-height: calc(100vh - 215px);
}

#toolbar {
  flex-grow: 1;
}

.downloadIcon {
  font-size: 30px;
}

.exportOverlay {
  position: absolute; /* Sit on top of the page content */
  top: 80px;
  left: 0;
  height: calc(100% - 160px);
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: normal;
  z-index: 2;
}

.exportBorder {
  border: solid 2px grey;
  padding: 10px;
  z-index: 3;
  background-color: white;
}

.exportPosition {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoeken {
  min-width: 40%;
}

.flarm-container {
  border-style: double;
  border-color: #d2d2d2;
  border-width: 3px;
}


.slider {
  width: 0px;
  z-index: 1;
}

.handle {
  padding: 5px;
  background-color: #e8e8e8;
  position: absolute;
  top: 50%;
  margin: -20px;
  z-index: 2;
}

.omdraaien {
  transform: rotate(180deg);
}