.iconGroep {
  margin: 0;
  position: absolute;
  top: 40%;
}

.icoontje {
  margin-right: 2px;
  margin-left: 2px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 1px solid #626161FF;
  color: black;
  text-align: center;
  font: 13px "Courier New"
}

.geenIcoontje {
  margin-right: 2px;
  margin-left: 2px;
  padding-left: 2px;
  padding-right: 2px;
  width: 15px;
  height: 15px;
  color: black;
  text-align: center;
  font: 13px "Courier New"
}
