<div class="h-100 d-flex flex-row iconGroep">
    <div class="column">
        @if (!toonInstructieVlucht) {
            <div class="geenIcoontje">-</div>
        } @if (toonInstructieVlucht) {
        <div class="icoontje" data-toggle="tooltip" title="Instructie vlucht">I</div>
    }
    </div>

    <div class="column">
        @if (!toonCheckStart) {
            <div class="geenIcoontje">-</div>
        } @if (toonCheckStart) {
        <div class="icoontje" data-toggle="tooltip" title="Trainingsvlucht">T</div>
    }
    </div>
    <div class="column">
        @if (!toonPax) {
            <div class="geenIcoontje">-</div>
        } @if (toonPax) {
        <div class="icoontje" data-toggle="tooltip" title="Passagiers">P</div>
    }
    </div>
</div>
