.box {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

#toolbar {
  margin-top: 10px;
  margin-bottom: 0;
  flex-grow: 1;
  flex-direction: column;
}

.toolbarBtn {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

#zoekLabel {
  margin-right: 2em;
}

#zoekInput {
  width: 30%;
}

#data {
  flex-grow: 100;
  flex-direction: column;
  overflow: hidden;
  max-height: calc(100vh - 235px);
}
.dataContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.spinnerOverlay {
  position: absolute;
  top: 80px;
  left: 0;
  height: calc(100% - 160px);
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  color: var(--ag-foreground-color, rgba(0, 0, 0, 0.87));
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: normal;
  z-index: 2;
}

.spinnerPosition {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
