<app-error [error]="error"></app-error>

<app-pegasus-card titel="Transacties"
                  subtitel={{titel}}
                  [icon]="iconCardIcon"
                  [exportEnabled]="this.magExporteren"
                  (Exporting)="exportDataset()">
    <div class="box h-100">
        <div id="data">
            <app-datatable
                    id="transactiesgrid"
                    [pagination]="toonBladwijzer"
                    [rowData]="transacties"
                    [columnDefs]="columns"
                    [loading]="isLoading"
                    [sizeToFit]="false"
                    [frameworkComponents]="frameworkComponents"
                    (rowDoubleClicked)="bewerkTransactie($event)"
                    class="h-100 mt-n8"></app-datatable>
        </div>
        <div class="row justify-content-start mt-2" id="toolbar">
            <div class="col-3">
                @if (this.magToevoegen) {
                    <div>
                        <app-icon-button class="toolbarBtn"
                                         tekst="Toevoegen"
                                         iconNaam="far PlusSquare" (btnClicked)="addTransactie()"
                                         btnColor="btn-primary"></app-icon-button>
                        @if (this.magUploaden) {
                            <app-icon-button class="toolbarBtn" tekst="Uploaden" iconNaam="fas BasketShopping"
                                             btnColor="btn btn-outline-primary"
                                             (btnClicked)="uploadenFacturen()"></app-icon-button>
                        }
                    </div>
                }
            </div>
            <div class="col-3">
                <app-lid-invoer id="LID" class="w-100"
                                placeholder="Selecteer lid"
                                excludeLidTypes="600,607,609,610,612,613,620,625"
                                [leden]="filteredLeden"
                                (LidChanged)="lidGeselecteerd($event)">
                </app-lid-invoer>
            </div>
            <div class="col-1">
                <app-icon-button class="toolbarBtn" iconNaam="fas Redo" (btnClicked)="opvragen()"
                                 btnColor="btn-primary"></app-icon-button>
            </div>
            <div class="col-5 d-flex justify-content-end align-items-center">
                @if (!deleteMode) {
                    <div class="pe-4">
                        <input class="form-check-inline" type="checkbox" id="toonAlles" name="startverbod"
                               [ngModel]="toonAlles" (click)="switchToonAlles()">
                        <label class="form-check-label" for="toonAlles">
                            Toon alles
                        </label>
                    </div>
                } @if (deleteMode) {
                <app-icon-button class="toolbarBtn" tekst="Alles verwijderen" iconNaam="fas MinusCircle"
                                 btnColor="btn" class="deleteAlles" (btnClicked)="deleteAlles()"></app-icon-button>
            } @if (this.magVerwijderen && !deleteMode) {
                <app-icon-button class="toolbarBtn" tekst="Verwijderen" iconNaam="far TrashAlt"
                                 btnColor="btn-secondary"
                                 (btnClicked)="deleteModeJaNee()"></app-icon-button>
            } @if (deleteMode) {
                <app-icon-button class="toolbarBtn" tekst="Terug" iconNaam="far ArrowAltCircleLeft"
                                 btnColor="btn btn-outline-primary"
                                 (btnClicked)="deleteModeJaNee()"></app-icon-button>
            }
            </div>
        </div>
    </div>
</app-pegasus-card>

<app-transactie-editor (TransactieGedaan)="opvragen()"></app-transactie-editor>
<app-factuur-uploaden></app-factuur-uploaden>