<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

<app-modal titel="Aanmelden lid">
    <div body class="d-flex popupLargeWrapper" >
        <div class="onTop" *ngIf="bezig">
            <span><img src="assets/img/zandloper.gif" alt="zandloper, even wachten" width=100px> Even geduld a.u.b. .....</span>
        </div>

        <div class="d-flex flex-column">
            <div class="d-flex flex-row overflow-hidden">
                <div class="w-50 pe-2">
                    <h4>Leden</h4>
                    <div class="ledenlijst">
                        <div class="card aanmeldkaart flex-row justify-content-between" *ngFor="let lid of filteredLeden">
                            <div class="fw-bold">
                                {{lid.NAAM}}
                            </div>

                            <div class="d-flex flex-column justify-content-center p-0 me-2">
                                <app-icon-button iconNaam="fas ArrowRight" (btnClicked)="aanmelden(lid)"
                                                 [disabled]="bezig"></app-icon-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-50 ps-2 h-100">
                    <h4>Aanwezig</h4>
                    <div class="d-flex flex-row aanwezig">
                        <div class="aanweziglijst">
                            <div class="card aanmeldkaart row flex-row" *ngFor="let aanwezig of aanwezigLeden"
                                 [ngClass]="{'highlight' : geselecteerdLid &&  aanwezig.ID === geselecteerdLid.ID}"
                                 (click)="selecteerLid(aanwezig)">
                                <div class="d-flex flex-row justify-content-between p-0">

                                    <div class="d-flex flex-column justify-content-center p-0">
                                    <app-icon-button iconNaam="fas ArrowLeft" class="mx-2" (btnClicked)="afmelden(aanwezig)"
                                                     [disabled]="bezig"></app-icon-button>
                                    </div>

                                    <div class="flex-grow-1">
                                        <div class="fw-bold">
                                            {{aanwezig.NAAM}}
                                        </div>
                                        <div class="smallFont">{{aanwezig.VLIEGTUIGTYPE_OMS}}</div>
                                        <div class="smallFont">{{aanwezig.REG_CALL}}</div>
                                        <div class="smallFont">{{aanwezig.OPMERKINGEN}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column justify-content-evenly  minColumn">
                <div>
                    <div class="mt-2">Vliegtuig types</div>
                    <div class="d-flex flex-row row">
                        <div class="col-3" *ngFor="let t of vliegtuigTypes; let i=index;">
                            <div>
                                <input type="checkbox"
                                       [ngModel]="t.Geselecteerd"
                                       class="form-check-inline ingave" (change)="zetVoorkeur($event, t.ID)"> {{t.OMSCHRIJVING}}
                            </div>
                        </div>
                    </div>
                    <div class="mt-1 d-flex">
                        <app-vliegtuig-invoer id="VLIEGTUIG" class="col-4"
                                              [VLIEGTUIG_ID]="overlandVliegtuig"
                                              [vliegtuigen]="vliegtuigen"
                                              (VliegtuigChanged)="overlandVliegtuig = $event"
                                              label="Overland"
                        ></app-vliegtuig-invoer>

                        <div class="col-8 ps-2">
                            <div class="my-1">Opmerking</div>
                            <textarea [(ngModel)]="opmerking"
                                      class="w-100 text-invoer form-control"
                                      rows="1"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div footer class="w-100 d-flex">
        <div class="col-8 d-flex justify-content-start align-items-start">
            <div class="d-flex flex-row text-nowrap">
                <label id="zoekLabel" for="zoekInput" class="form-label me-2 mt-1">Zoeken : </label>
                <input id="zoekInput"
                       type="search"
                       class="form-control"
                       [(ngModel)]="zoekString"
                       name="zoekString"
                       (keyup)="filterLeden()"
                       (search)="filterLeden()"
                >
            </div>
        </div>
        <div class="col-4 d-flex flex-row justify-content-end">
            <div class="flex-row">
                <app-icon-button class="me-3" iconNaam="fas ArrowUp" (btnClicked)="omhoog()" [disabled]="!geselecteerdLid"></app-icon-button>
                <app-icon-button class="me-3" iconNaam="fas ArrowDown" (btnClicked)="omlaag()" [disabled]="!geselecteerdLid"></app-icon-button>
            </div>
        </div>
    </div>
</app-modal>

<app-lid-aanwezig-editor></app-lid-aanwezig-editor>
