@import '../../../variables';

.gezc-application {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;

    background: linear-gradient(270deg, getColor("background"),getColor("background2"));
    background-size: 400% 400%;

    -webkit-animation: CanvasAnimation 11s ease infinite;
    -moz-animation: CanvasAnimation 11s ease infinite;
    animation: CanvasAnimation 11s ease infinite;
}

@-webkit-keyframes CanvasAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes CanvasAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes CanvasAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.sidebar {
    background-color: #eeeeee;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
}

.main {
    height: calc(100vh - #{$footer-height});

    //background-color: getColor("background");
}

