<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

<app-pegasus-card titel="Kist reservering"
                  subtitel="Reserveer je kist voor een DDWV dag"
                  [icon]="reserveringIcon"
                  [exportEnabled]="this.magExporteren"
                  (Exporting)="exportDataset()">

    <div class="h-100">
        <div class="box h-100">
            <div id="data" class="w-100">
                <div class="dataContent w-100" *ngIf="reserveringView == 'maand'">
                    <ng-template *ngTemplateOutlet="maand"></ng-template>
                </div>
                <div class="dataContent w-100" *ngIf="reserveringView == 'week'">
                    <ng-template *ngTemplateOutlet="week"></ng-template>
                </div>
                <div class="dataContent w-100" *ngIf="reserveringView == 'dag'">
                    <ng-template *ngTemplateOutlet="dag"></ng-template>
                </div>
            </div>
            <div class="row justify-content-start mt-2" id="toolbar">
                <div class="d-flex row">
                    <div class="col-8">
                        <app-icon-button
                                class="toolbarBtn"
                                tekst="Filter"
                                iconNaam="fas Filter" (btnClicked)="toonKistSelectie()"
                                btnColor="btn-primary"></app-icon-button>

                        <app-icon-button
                                *ngIf="reserveringView != 'dag'"
                                class="toolbarBtn ps-2"
                                tekst="Club / DDWV"
                                iconNaam="fas CalendarWeek" (btnClicked)="ToggleWeekendDDWV()"
                                btnColor="btn-primary"></app-icon-button>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-end" *ngIf="magBoeken">
                            <app-icon-button
                                    class="toolbarBtn"
                                    tekst="Boeking"
                                    iconNaam="far PlusSquare" (btnClicked)="nieuweBoeking()"
                                    btnColor="btn-primary"></app-icon-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-kist-selectie [clubVliegtuigen]="clubVliegtuigen" (aangepast)="changeTonen($event)"></app-kist-selectie>
    <app-boeking-editor [clubVliegtuigen]="clubVliegtuigen" (boekingToegevoegd)="opvragen()"></app-boeking-editor>
    <app-start-editor></app-start-editor>
</app-pegasus-card>

<ng-template #reset>
    <div class="d-flex flex-column justify-content-center h-100 text-black-50 clickable px-1">
        <fa-icon [icon]="resetIcon"></fa-icon>
    </div>
</ng-template>

<ng-template #assign>
    <div class="d-flex flex-column justify-content-center h-100 text-black-50 clickable px-1">
        <fa-icon [icon]="assignIcon"></fa-icon>
    </div>
</ng-template>

<ng-template #maand>
    <div class="reserveringTabel">
        <table class="table">
            <thead>
            <th></th>
            <th></th>
            <th *ngFor="let clubKist of clubVliegtuigenFiltered;let i = index">
                {{clubKist.CALLSIGN}}
            </th>
            </thead>
            <tbody>

            <tr *ngFor="let dagInRooster of filteredRooster;let r = index"
                [ngClass]="isClubBedrijf(dagInRooster.DATUM) ? 'clubBedrijf' : ''">
                <td class="WeekdagKolom" [ngClass]="DagVanDeWeek(dagInRooster.DATUM)">
                    <div class="rotation-wrapper">
                        <div class="dayOfTheWeek">
                            {{DagVanDeWeek(dagInRooster.DATUM)}}
                        </div>
                    </div>
                </td>

                <td>
                    <div class="d-flex dagInfo row m-0">
                        <div class="p-0">
                            <div class="text-nowrap fw-bold">
                                {{dagInRooster.DATUM | date: 'dd-MM-yyyy'}}
                            </div>
                            <div>
                                <input type="checkbox" class="form-check-inline" [id]="'DDWV' + r"
                                       [name]="'DDWV' + r"
                                       [(ngModel)]="dagInRooster.DDWV"
                                       disabled>
                                <label [for]="'DDWV' + r" class="form-check-label">DDWV</label>
                            </div>
                            <div class="text-nowrap">
                                <input type="checkbox" class="form-check-inline"
                                       [id]="'Clubbedrijf' + r"
                                       [name]="'Clubbedrijf' + r"
                                       [(ngModel)]="dagInRooster.CLUB_BEDRIJF"
                                       disabled>
                                <label [for]="'Clubbedrijf' + r"
                                       class="labelClub form-check-label">Club
                                    bedrijf</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td *ngFor="let clubKist of clubVliegtuigenFiltered;let i = index"
                    [ngStyle]="{'width.%': 100/(clubVliegtuigenFiltered.length+2)}">

                    <ng-container [ngTemplateOutlet]="reservering"
                                  [ngTemplateOutletContext]="{dag:dagInRooster.DATUM,vliegtuigID:clubKist.ID}"></ng-container>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</ng-template>

<ng-template #week>
    <div class="w-100">
        <div class="d-flex flex-row justify-content-between mb-2">
            <div>
                <app-icon-button
                        class="toolbarBtn mx-2"
                        iconNaam="fas AngleLeft" (btnClicked)="zetDatum(datum.plus({days: -7}))"
                        btnColor="btn-secondary"></app-icon-button>
            </div>
            Reserveringen voor de week van {{maandag.day}}-{{maandag.month}}-{{maandag.year}}
            <div>
                <app-icon-button
                        class="toolbarBtn mx-2"
                        iconNaam="fas AngleRight" (btnClicked)="zetDatum(datum.plus({days: 7}))"
                        btnColor="btn-secondary"></app-icon-button>
            </div>
        </div>

        <div class="reserveringTabel">
            <table class="table" style="width: calc(100% - 15px);">
                <thead>
                <tr style="vertical-align: top;">
                    <td></td>
                    <td *ngFor="let dagInRooster of filteredRooster;let r = index"
                        [ngClass]="DagVanDeWeek(dagInRooster.DATUM)">
                        {{DagVanDeWeek(dagInRooster.DATUM)}}

                        <div *ngIf="dagInRooster.CLUB_BEDRIJF" class="me-2">Clubbedrijf</div>
                        <div *ngIf="dagInRooster.DDWV">DDWV</div>
                    </td>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let clubKist of clubVliegtuigenFiltered;let i = index">
                    <td>{{clubKist.CALLSIGN}}</td>
                    <td *ngFor="let dagInRooster of filteredRooster;let r = index"
                        [ngClass]="isClubBedrijf(dagInRooster.DATUM) ? 'clubBedrijf' : ''">
                        <ng-container [ngTemplateOutlet]="reservering"
                                      [ngTemplateOutletContext]="{dag:dagInRooster.DATUM,vliegtuigID:clubKist.ID}"></ng-container>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>

<ng-template #dag>
    <div class="w-100 overflow-scroll">
        <div class="d-flex flex-row justify-content-between">
            <div>
                <app-icon-button
                        class="toolbarBtn"
                        iconNaam="fas AngleDoubleLeft" (btnClicked)="zetDatum(datum.plus({days: -7}))"
                        btnColor="btn-secondary"></app-icon-button>
                <app-icon-button
                        class="toolbarBtn mx-2"
                        iconNaam="fas AngleLeft" (btnClicked)="zetDatum(datum.plus({days: -1}))"
                        btnColor="btn-secondary"></app-icon-button>
            </div>
            {{DagVanDeWeek(datum.toISODate())}} <br>{{datum.day}}-{{datum.month}}-{{datum.year}}
            <div>
                <app-icon-button
                        class="toolbarBtn mx-2"
                        iconNaam="fas AngleRight" (btnClicked)="zetDatum(datum.plus({days: 1}))"
                        btnColor="btn-secondary"></app-icon-button>
                <app-icon-button
                        class="toolbarBtn"
                        iconNaam="fas AngleDoubleRight" (btnClicked)="zetDatum(datum.plus({days: 7}))"
                        btnColor="btn-secondary"></app-icon-button>
            </div>
        </div>
        <table>
            <tr *ngFor="let clubKist of clubVliegtuigenFiltered;let i = index" class="w-100" style="height: 45px;">
                <td class="me-2 mt-4">
                    {{clubKist.CALLSIGN}}
                </td>

                <td class="w-100 pe-4">
                    <ng-container [ngTemplateOutlet]="reservering"
                                  [ngTemplateOutletContext]="{dag:datum.toISODate(),vliegtuigID:clubKist.ID}"></ng-container>
                </td>
            </tr>
        </table>
    </div>
</ng-template>


<ng-template #reservering let-dag="dag" let-vliegtuigID="vliegtuigID">
    <div class="d-flex w-100">
        <div *ngIf="toonStartButton(dag, vliegtuigID)" class="w-100">
            <app-icon-button
                    class="button-reservering" [toonKlein]="false"
                    (btnClicked)="nieuweStart(dag, vliegtuigID)"
                    [tekst]="ToonNaam(dag, vliegtuigID)">
            </app-icon-button>
        </div>
        <div *ngIf="!toonStartButton(dag, vliegtuigID)" class="w-100">
            <div class="d-flex flex-row w-100">
                <div [ngClass]="htmlClassReservering(dag, vliegtuigID)">
                    {{ ToonNaam(dag, vliegtuigID)}}
                </div>
                <div *ngIf="magReserveren(dag, vliegtuigID) && magNogReserveren"
                     (click)="toekennenReservering(dag, vliegtuigID)">
                    <ng-template *ngTemplateOutlet="assign"></ng-template>
                </div>
                <div *ngIf="magVerwijderen(dag, vliegtuigID)"
                     (click)="verwijderReservering(dag, vliegtuigID)">
                    <ng-template *ngTemplateOutlet="reset"></ng-template>
                </div>
            </div>
            <div *ngIf="ToonOpmerking(dag, vliegtuigID.ID)">
                {{ ToonOpmerking(dag, vliegtuigID.ID)}}
            </div>
        </div>
    </div>
</ng-template>
