<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

<app-pegasus-card titel="Vluchten"
               subtitel="Een overzicht van de starts {{datum.day}}-{{datum.month}}-{{datum.year}}"
               [icon]="iconCardIcon"
               [exportEnabled]="this.magExporteren"
               (excelExport)="expoteerStartlijst()">
    <div class="box h-100">
        <div id="data">
            <app-datatable
                    id="startlijstgrid"
                    [rowData]="data"
                    [columnDefs]="columns"
                    [loading]="isLoading"
                    [rowClassRules]="rowClassRules"
                    [frameworkComponents]="frameworkComponents"
                    (rowDoubleClicked)="openEditor($event)"
                    class="h-100 mt-n8"></app-datatable>
        </div>
        <div class="row justify-content-start" id="toolbar">
            <div class="col-xl-3 col-sm-4">
                <div class="d-flex flex-row">
                    <input type="checkbox" class="btn-check" id="filterBtn" name="filterMode"
                           [(ngModel)]="filterOn"
                           (click)="filter()">
                    <label class="btn btn-outline-primary recycleBtn" for="filterBtn">
                        <fa-icon [icon]="filterIcon"></fa-icon>
                        Filter
                    </label>

                    <div>
                        <app-icon-button class="toolbarBtn"
                                         tekst="Toevoegen"
                                         iconNaam="far PlusSquare" (btnClicked)="addStart()"
                                         btnColor="btn-primary" *ngIf="!deleteMode && magToevoegen && inTijdspan"></app-icon-button>

                        <div *ngIf="this.deleteMode">
                            <input type="checkbox" class="btn-check" id="trashBtn" name="prullenbakMode"
                                   [(ngModel)]="trashMode"
                                   (ngModelChange)="trashModeJaNee()">
                            <label class="btn btn-outline-primary recycleBtn" for="trashBtn">
                                <fa-icon [icon]="prullenbakIcon"></fa-icon>
                                Prullenbak
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-sm-8">
                <div class="row justify-content-between" id="zoekbar">
                    <div class="col-8">
                        <div class="d-flex justify-content-begin al8ign-items-end text-nowrap">
                            <label id="zoekLabel" for="zoekInput" class="form-label">Zoeken : </label>
                            <input id="zoekInput"
                                   type="search"
                                   class="form-control"
                                   [(ngModel)]="zoekString"
                                   name="zoekString"
                                   (keyup)="opvragen()"
                                   (search)="opvragen()"
                            >
                            <app-icon-button class="toolbarBtn" iconNaam="fas Redo" (btnClicked)="opvragen()"
                                             btnColor="btn-primary"></app-icon-button>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-end">
                            <app-icon-button class="toolbarBtn" tekst="Verwijderen" iconNaam="far TrashAlt"
                                             btnColor="btn-secondary" *ngIf="magVerwijderen && !deleteMode && inTijdspan"
                                             (btnClicked)="deleteModeJaNee()"></app-icon-button>
                            <app-icon-button class="toolbarBtn" tekst="Terug" iconNaam="far ArrowAltCircleLeft"
                                             btnColor="btn btn-outline-primary" *ngIf="deleteMode"
                                             (btnClicked)="deleteModeJaNee()"></app-icon-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-tijd-invoer></app-tijd-invoer>
    <app-start-editor [VliegerID]="VliegerID"></app-start-editor>
    <app-export-startlijst (exportDataset)="exportDataset($event)"></app-export-startlijst>

    <div class="exportOverlay" *ngIf="isExporting">
        <div class="exportPosition">
            <span class="exportBorder"><fa-icon [icon]="downloadIcon" class="me-3 downloadIcon"></fa-icon> Data wordt geexporteerd .....</span>
        </div>
    </div>
</app-pegasus-card>
