
.kaart {
  margin: 4px 0 4px 0;
  padding: 0 2px 0 2px;
  border-radius: 5px;
  border: 1px solid #c4c2c1;
  background-color: #f2f2f2;
}


.iconEdit {
  background-color: rgba(213,172,74,0.4);
  text-align: center;
  font-size: 20px;
  width: 40px;
}

.baseStatus {
  align-items: center;
  cursor: default;
  display: inline-flex;
  line-height: 30px;
  max-width: 100%;
  outline: 0;
  overflow: hidden;
  padding: 0 15px;
  position: relative;
  text-decoration: none;
  transition-duration: .28s;
  transition-property: box-shadow,opacity;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 4px !important;
  border-style: solid;


  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-color: #5e5e62;
}


/* 2401 = Algemeen, Mededeling over gebruik */
.Cat2401  {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
  border-width: 1px;
  border-color: #5e5e62 !important;
}

/* 2402 = Visueel, Kras / deuk, geen invloed op inzetbaarheid */
.Cat2402  {
  background-color: rgb(64, 128, 155) !important;
  color: rgb(255, 255, 255) !important;
  border-width: 1px;
  border-color: #5e5e62 !important;
}

/* 2403 = Klacht, Observatie, geen invloed op inzetbaarheid */
.Cat2403  {
  background-color: rgb(255, 255, 155) !important;
  color: rgb(0, 0, 0) !important;
  border-width: 1px;
  border-color: #5e5e62 !important;
}

/* 2404 = Defect, kan niet meer ingezet worden */
.Cat2404  {
  background-color: rgb(255, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
  border-width: 1px;
  border-color: #5e5e62 !important;
}

/* 2501 = Gemeld */
.Status2501  {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
  border-width: 1px;
  border-color: #5e5e62 !important;
}

/* 2502 = Beoordeeld */
.Status2502  {
  background-color: rgb(192, 192, 192) !important;
  color: rgb(0, 0, 0) !important;
  border-width: 1px;
  border-color: #5e5e62 !important;
}

/* 2503 = In behandeling */
.Status2503  {
  background-color: rgb(0, 128, 192) !important;
  color: rgb(255, 255, 255) !important;
  border-width: 1px;
  border-color: #5e5e62 !important;
}

/* 2504 = Uitgesteld */
.Status2504  {
  background-color: rgb(255, 181, 145) !important;
  color: rgb(0, 0, 0) !important;
  border-width: 1px;
  border-color: #5e5e62 !important;
}

/* 2505 = Opgelost */
.Status2505  {
  background-color: rgb(0, 128, 0) !important;
  color: rgb(255, 255, 255) !important;
  border-width: 1px;
  border-color: #5e5e62 !important;
}

/* 2506 = Afgetekend */
.Status2506  {
  background-color: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
  border-width: 1px;
  border-color: #5e5e62 !important;
}

