<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

<app-modal [titel]="formTitel">
    <div body *ngIf="aanwezig">
        <fieldset>
            <label for="VELD" class="form-label">Veld</label>
            <ng-select id="VELD"
                       [items]="veldenTypes$ | async"
                       placeholder="Vliegveld"
                       bindLabel="OMSCHRIJVING"
                       bindValue="ID"
                       closeOnSelect="true"
                       openOnEnter="true"
                       required
                       [(ngModel)]="aanwezig.VELD_ID">
            </ng-select>

            <div *ngIf="!isDDWVer" class="mt-2">
                <label class="form-label">Vliegtuig types</label>
                <div class="row" *ngIf="aanwezig">
                    <div class="ms-2">
                        <table>
                            <tr *ngFor="let t of vliegtuigTypes; let i=index;">
                                <td class="kolom1">
                                    <input type="checkbox"
                                           [ngModel]="t.Geselecteerd"
                                           class="form-check-inline" (change)="zetVoorkeur($event, t.ID)">
                                </td>
                                <td class="kolom2">
                                    {{t.OMSCHRIJVING}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <app-vliegtuig-invoer id="VLIEGTUIG"
                                  [VLIEGTUIG_ID]="aanwezig.OVERLAND_VLIEGTUIG_ID"
                                  [vliegtuigen]="vliegtuigenFiltered"
                                  (VliegtuigChanged)="aanwezig.OVERLAND_VLIEGTUIG_ID = $event"
                                  label="Overland"
                                  verplicht="false"
            ></app-vliegtuig-invoer>

            <div class="mt-2 px-2">
                <label class="form-label">Opmerking</label>
                <textarea [(ngModel)]="aanwezig.OPMERKINGEN"
                          class="w-100 text-invoer form-control"
                          rows="2"></textarea>
            </div>
        </fieldset>
    </div>
    <div footer class="w-100">
        <div class="d-flex justify-content-between">
            <div *ngIf="eenheden">Er worden {{eenheden}} strippen afgeschreven</div>
            <div *ngIf="!eenheden">&nbsp;</div> <!-- zet de opslaan knop op rechts -->
            <app-icon-button *ngIf="!isLoading && !isSaving" iconNaam="fas Edit" btnColor="btn-primary" [toonKlein]=false
                             tekst="Opslaan" (btnClicked)="opslaan()" [disabled]="knopUit()"></app-icon-button>
            <button class="btn btn-primary" *ngIf="isLoading || isSaving">
                <span><app-loader></app-loader></span>
            </button>
        </div>
    </div>
</app-modal>
