<footer class="page-footer">
    <app-icon-button
            class="hamburger-menu d-block d-lg-none" size="xl" aria-label="Hamburger menu"
            iconNaam="fas Bars" (btnClicked)="menuShowHide()" btnColor="">
    </app-icon-button>

    <div class="d-flex align-items-center justify-content-around bg-primary mt-1 mb-1 rounded text-white-50  font-small  text-center w-100">
        Mogelijk gemaakt door de GeZC
    </div>
</footer>



<app-navigation class="sidebarMenu" [topMenu]="true" *ngIf="toonMenu">
</app-navigation>
