<footer class="page-footer d-flex justify-content-around align-items-center flex-row mx-1">
    <app-icon-button
            class="hamburger-menu d-block d-lg-none" size="xl" aria-label="Hamburger menu"
            iconNaam="fas Bars" (btnClicked)="menuShowHide()" btnColor="">
    </app-icon-button>

    <div class="d-flex align-items-center justify-content-center bg-primary mt-1 mb-1 rounded text-white-50 font-small w-100">
        Mogelijk gemaakt door de GeZC
    </div>
</footer>



<app-navigation class="sidebarMenu" [topMenu]="true" [@slideInOutLeft]="toonMenu" *ngIf="toonMenu">
</app-navigation>
