<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

<app-pegasus-card titel="Dag info"
                  subtitel="Informatie over de vliegdag {{datum.day}}-{{datum.month}}-{{datum.year}}"
                  [icon]="iconCardIcon">

    <div class="d-flex flex-column justify-content-between box h-100">
        <div class="content">
            <div class="mb-4">
                <div class="row mt-n8 rowDagInfo1">
                    <div class="col-12 col-sm-6 col-md-3">
                        <app-pegasus-card id="veldCard"
                                          class="kleineKaart"
                                          titel="Vliegveld 1"
                                          subtitel="Onze thuis basis"
                                          [icon]="iconVliegveld">
                            <div class="d-flex flex-row mb-2">
                                <div class="col-7 ">
                                    <label for="VELD" class="form-label">Vliegveld</label>
                                    <ng-select id="VELD"
                                               required
                                               [items]="veldTypes$ | async"
                                               placeholder="Vliegveld waar we starten"
                                               bindLabel="OMSCHRIJVING"
                                               bindValue="ID"
                                               closeOnSelect="true"
                                               openOnEnter="true"
                                               [(ngModel)]="dagInfo.VELD_ID">
                                    </ng-select>

                                </div>
                                <div class="col-5 ms-2">
                                    <label for="Baan" class="form-label">Strip</label>
                                    <ng-select id="BAAN"
                                               [items]="baanTypes$ | async"
                                               placeholder="Strip"
                                               bindLabel="OMSCHRIJVING"
                                               bindValue="ID"
                                               closeOnSelect="true"
                                               openOnEnter="true"
                                               [(ngModel)]="dagInfo.BAAN_ID">
                                    </ng-select>
                                </div>
                            </div>
                            <label for="STARTMETHODE" class="form-label">Start methode</label>
                            <ng-select id="STARTMETHODE"
                                       required
                                       [items]="startMethodeTypes$ | async"
                                       placeholder="Standaard start methode"
                                       bindLabel="OMSCHRIJVING"
                                       bindValue="ID"
                                       closeOnSelect="true"
                                       openOnEnter="true"
                                       [(ngModel)]="dagInfo.STARTMETHODE_ID">
                            </ng-select>
                            <div class="mt-2 d-flex flex-row justify-content-between">
                                <div>
                                    <input type="checkbox" id="DDWV" class="form-check-inline"
                                           [(ngModel)]="dagInfo.DDWV">
                                    <label for="DDWV" class="form-check-label">DDWV</label>
                                </div>

                                <div>
                                    <input type="checkbox" id="CLUBBEDRIJF" class="form-check-inline"
                                           [(ngModel)]="dagInfo.CLUB_BEDRIJF">
                                    <label for="CLUBBEDRIJF" class="form-check-label">Club bedrijf</label>
                                </div>
                            </div>
                        </app-pegasus-card>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 mt-4 mt-sm-0">
                        <app-pegasus-card id="veldCard2"
                                          class="kleineKaart"
                                          titel="Vliegveld 2"
                                          subtitel="Bedoeld voor buitenland kamp"
                                          [icon]="iconVliegveld">
                            <div class="d-flex flex-row mb-2">
                                <div class="col-7 ">
                                    <label for="VELD2" class="form-label">Vliegveld</label>
                                    <ng-select id="VELD2"
                                               [items]="veldTypes$ | async"
                                               placeholder="Vliegveld waar we starten"
                                               bindLabel="OMSCHRIJVING"
                                               bindValue="ID"
                                               closeOnSelect="true"
                                               openOnEnter="true"
                                               [(ngModel)]="dagInfo.VELD_ID2">
                                    </ng-select>

                                </div>
                                <div class="col-5 ms-2">
                                    <label for="Baan" class="form-label">Strip</label>
                                    <ng-select id="BAAN2"
                                               [items]="baanTypes$ | async"
                                               placeholder="Strip"
                                               bindLabel="OMSCHRIJVING"
                                               bindValue="ID"
                                               closeOnSelect="true"
                                               openOnEnter="true"
                                               [(ngModel)]="dagInfo.BAAN_ID2">
                                    </ng-select>
                                </div>
                            </div>
                            <label for="STARTMETHODE" class="form-label">Start methode</label>
                            <ng-select id="STARTMETHODE2"
                                       [items]="startMethodeTypes$ | async"
                                       placeholder="Standaard start methode"
                                       bindLabel="OMSCHRIJVING"
                                       bindValue="ID"
                                       closeOnSelect="true"
                                       openOnEnter="true"
                                       [(ngModel)]="dagInfo.STARTMETHODE_ID2">
                            </ng-select>
                        </app-pegasus-card>
                    </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0">
                        <app-pegasus-card id="dienstenCard"
                                          class="kleineKaart"
                                          titel="Diensten"
                                          subtitel="Wie zijn aanwezig en wie niet"
                                          [icon]="iconDiensten">
                            <div class="d-flex align-items-end h-100">
                                <textarea [(ngModel)]="dagInfo.DIENSTEN" name="DIENSTEN"
                                  class="w-100 h-100 text-invoer form-control"
                                  rows=4></textarea>

                                <app-icon-button class="ms-2" iconNaam="fas PencilAlt" (btnClicked)="invullenDiensten()"
                                                 btnColor="btn-primary"></app-icon-button>
                            </div>
                        </app-pegasus-card>
                    </div>
                </div>
            </div>
            <app-pegasus-card id="rapportenCard" *ngIf="toonDagRapport"
                              class="kleineKaart"
                              titel="Dagrapporten"
                              subtitel="Samenvatting van de dag"
                              [minimum]="true"
                              [icon]="iconDiensten">

                <table class="w-100">
                    <tr *ngFor="let dr of dagRapporten" class="drRow" (dblclick)="openEditor(dr)">
                        <td *ngIf="deleteMode && !trashMode">
                            <button class="btn btn-noborder" (click)="openVerwijderPopup(dr)"
                                    *ngIf="magDagRapportVerwijderen(dr)">
                                <fa-icon [icon]="deleteIcon" class="deleteBtn"></fa-icon>
                            </button>
                        </td>
                        <td *ngIf="deleteMode && trashMode">
                            <button class="btn btn-noborder" (click)="openRestorePopup(dr)"
                                    *ngIf="magDagRapportHerstellen(dr)">
                                <fa-icon [icon]="restoreIcon" class="restoreBtn"></fa-icon>
                            </button>
                        </td>

                        <td style="width: 100%;">
                            <div class="rapportHeader">
                                Op {{datumString(dr.LAATSTE_AANPASSING)}} om {{tijdString(dr.LAATSTE_AANPASSING)}}
                                schreef {{dr.INGEVOERD}} dagrapport voor vliegveld {{dr.VELD_OMS}}
                            </div>
                            <div class="tekstbox">
                                <div *ngIf="dr.VLIEGBEDRIJF && dr.VLIEGBEDRIJF.length > 0">
                                    <h3>Vliegbedrijf</h3>
                                    <p>{{dr.VLIEGBEDRIJF}}
                                    </p>
                                </div>
                                <div *ngIf="dr.VERSLAG && dr.VERSLAG.length > 0">
                                    <h3>Verslag</h3>
                                    <p>{{dr.VERSLAG}}
                                    </p>
                                </div>
                                <div *ngIf="dr.METEO && dr.METEO.length > 0">
                                    <h3>Meteo</h3>
                                    <p>{{dr.METEO}}
                                    </p>
                                </div>
                                <div *ngIf="dr.VLIEGENDMATERIEEL && dr.VLIEGENDMATERIEEL.length > 0">
                                    <h3>Vliegend materieel</h3>
                                    <p>{{dr.VLIEGENDMATERIEEL}}
                                    </p>
                                </div>

                                <div *ngIf="dr.ROLLENDMATERIEEL && dr.ROLLENDMATERIEEL.length > 0">
                                    <h3>Rollend materieel</h3>
                                    <p>{{dr.ROLLENDMATERIEEL}}
                                    </p>
                                </div>

                                <div *ngIf="dr.INCIDENTEN && dr.INCIDENTEN.length > 0">
                                    <h3>Incidenten</h3>
                                    <p>{{dr.INCIDENTEN}}
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </app-pegasus-card>
        </div>
        <div class="row" id="toolbar">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div *ngIf="!deleteMode && !datumInToekomst()">
                        <app-icon-button [disabled]="opslaanDisabled()"
                                         class="toolbarBtn"
                                         tekst="Opslaan"
                                         iconNaam="far PlusSquare" (btnClicked)="opslaanDagInfo()"
                                         btnColor="btn-primary"></app-icon-button>
                    </div>
                    <div *ngIf="deleteMode">
                        <app-status-button
                                class="toolbarBtn"
                                tekst="Archief"
                                [actief]="trashMode"
                                (btnClicked)="trashModeJaNee($event)"
                                iconNaam="fas Inbox">
                        </app-status-button>
                    </div>
                    <div class="d-flex">
                        <app-icon-button class="toolbarBtn"
                                         tekst="Dagrapport toevoegen"
                                         iconNaam="far PlusSquare" (btnClicked)="addDagRapport()"
                                         btnColor="btn-primary"
                                         *ngIf="!deleteMode && toonDagRapport"></app-icon-button>

                        <div class="d-flex justify-content-end">
                            <app-icon-button class="toolbarBtn" tekst="Dagrapport verwijderen" iconNaam="far TrashAlt"
                                             btnColor="btn-secondary"
                                             *ngIf="toonDagRapport && !deleteMode && dagRapporten && dagRapporten.length > 0"
                                             (btnClicked)="deleteModeJaNee()"></app-icon-button>
                            <app-icon-button class="toolbarBtn" tekst="Terug" iconNaam="far ArrowAltCircleLeft"
                                             btnColor="btn btn-outline-primary" *ngIf="deleteMode"
                                             (btnClicked)="deleteModeJaNee()"></app-icon-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-pegasus-card>

<app-dag-rooster (opslaan)="dagInfo.DIENSTEN = $event" [Datum]="datum" [magWijzigen]="true"></app-dag-rooster>
<app-dag-rapport-editor [veld_id]="veld_id" (aangepast)="opvragen()"></app-dag-rapport-editor>
