<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

<app-pegasus-card titel="Dag info"
                  subtitel="Informatie over de vliegdag {{datum.day}}-{{datum.month}}-{{datum.year}}"
                  [icon]="iconCardIcon">
    <div class="tekstregels">
        <label for="TEKSTREGELS" class="form-label">Aantal tekstregels</label>
        <input name="tekstregels" class="form-control" id="TEKSTREGELS" type="number"
               [(ngModel)]="tekstRegels"
               (ngModelChange)="storeTextRegels()"
               min="1" max="15"
        >
    </div>

    <div class="midden" *ngIf="geenToegang">
        <object data="/src/assets/img/geen_toegang.svg" type="image/svg+xml" class="svgImage"></object>
    </div>

    <div class="d-flex flex-column justify-content-between box h-100" *ngIf="!geenToegang">
        <div class="mb-2">
            <div class="row mt-n8 rowDagInfo1">
                <div class="col-12 col-sm-6 col-md-3">
                    <app-pegasus-card id="veldCard"
                                      class="kleineKaart"
                                      titel="Vliegveld"
                                      subtitel="Waar we vliegen"
                                      [icon]="iconVliegveld">
                        <div class="d-flex flex-row">
                            <div class="col-7 ">
                                <label for="VELD" class="form-label">Vliegveld</label>
                                <ng-select id="VELD"
                                           required
                                           [items]="veldTypes$ | async"
                                           placeholder="Vliegveld waar we starten"
                                           bindLabel="OMSCHRIJVING"
                                           bindValue="ID"
                                           closeOnSelect="true"
                                           openOnEnter="true"
                                           [(ngModel)]="dagInfo.VELD_ID">
                                </ng-select>

                            </div>
                            <div class="col-5 ms-2">
                                <label for="Baan" class="form-label">Strip</label>
                                <ng-select id="BAAN"
                                           [items]="baanTypes$ | async"
                                           placeholder="Strip"
                                           bindLabel="OMSCHRIJVING"
                                           bindValue="ID"
                                           closeOnSelect="true"
                                           openOnEnter="true"
                                           [(ngModel)]="dagInfo.BAAN_ID">
                                </ng-select>
                            </div>
                        </div>
                    </app-pegasus-card>
                </div>
                <div class="col-12 col-sm-6 col-md-3 mt-4 mt-sm-0">
                    <app-pegasus-card id="defaultCard"
                                      class="kleineKaart"
                                      titel="Standaard"
                                      subtitel="Start gegevens"
                                      [icon]="iconDefault">

                        <label for="STARTMETHODE" class="form-label">Start methode</label>
                        <ng-select id="STARTMETHODE"
                                   required
                                   [items]="startMethodeTypes$ | async"
                                   placeholder="Standaard start methode"
                                   bindLabel="OMSCHRIJVING"
                                   bindValue="ID"
                                   closeOnSelect="true"
                                   openOnEnter="true"
                                   [(ngModel)]="dagInfo.STARTMETHODE_ID">
                        </ng-select>
                        <div class="mt-2 d-flex flex-row justify-content-between">
                            <div>
                                <input type="checkbox" id="DDWV" class="form-check-inline"
                                       [(ngModel)]="dagInfo.DDWV">
                                <label for="DDWV" class="form-check-label">DDWV</label>
                            </div>

                            <div>
                                <input type="checkbox" id="CLUBBEDRIJF" class="form-check-inline"
                                       [(ngModel)]="dagInfo.CLUB_BEDRIJF">
                                <label for="CLUBBEDRIJF" class="form-check-label">Club bedrijf</label>
                            </div>
                        </div>
                    </app-pegasus-card>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0">
                    <app-pegasus-card id="dienstenCard"
                                      class="kleineKaart"
                                      titel="Diensten"
                                      subtitel="Wie zijn aanwezig en wie niet"
                                      [icon]="iconDiensten">
                        <div class="d-flex align-items-end">
                        <textarea [(ngModel)]="dagInfo.DIENSTEN" name="DIENSTEN"
                                  class="w-100 text-invoer form-control"
                                  [rows]="tekstRegels"></textarea>

                            <app-icon-button class="ms-2" iconNaam="fas PencilAlt" (btnClicked)="invullenDiensten()"
                                             btnColor="btn-primary"></app-icon-button>
                        </div>
                    </app-pegasus-card>
                </div>
            </div>

            <div class="row rowDagInfo2" *ngIf="toonUitgebreid">
                <div class="col-12 col-md-6">
                    <app-pegasus-card id="meteoCard"
                                      class="kleineKaart"
                                      titel="Meteo"
                                      subtitel="Weersomstandigheden op de vliegdag"
                                      [icon]="iconMeteo">

                        <div class="d-flex align-items-end">
                        <textarea [(ngModel)]="dagInfo.METEO" name="METEO"
                                  class="w-100 text-invoer form-control"
                                  [rows]="tekstRegels"></textarea>

                            <app-icon-button class="ms-2" iconNaam="fas PencilAlt" (btnClicked)="invullenMeteo()"
                                             btnColor="btn-primary"></app-icon-button>
                        </div>
                    </app-pegasus-card>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0">
                    <app-pegasus-card id="bedrijfCard"
                                      class="kleineKaart"
                                      titel="Vliegbedrijf"
                                      subtitel="Operationele data"
                                      [icon]="iconBedrijf">
                        <div class="d-flex align-items-end mb-2">
                        <textarea [(ngModel)]="dagInfo.VLIEGBEDRIJF" name="VLIEGBEDRIJF"
                                  class="w-100 text-invoer form-control"
                                  [rows]="tekstRegels"></textarea>

                            <app-icon-button class="ms-2" iconNaam="fas PencilAlt"
                                             (btnClicked)="invullenVliegbedrijf()"
                                             btnColor="btn-primary"></app-icon-button>
                        </div>
                    </app-pegasus-card>
                </div>
            </div>

            <div class="row rowDagInfo3" *ngIf="toonUitgebreid">
                <div class="col-12 col-md-6">
                    <app-pegasus-card id="vliegendCard"
                                      class="kleineKaart"
                                      titel="Vliegend"
                                      subtitel="Bijzonderheden over de vliegtuigen"
                                      [icon]="iconVliegend">

                        <textarea [(ngModel)]="dagInfo.VLIEGENDMATERIEEL" name="VLIEGENDMATERIEEL"
                                  class="w-100 text-invoer form-control"
                                  [rows]="tekstRegels"></textarea>
                    </app-pegasus-card>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-sm-0">
                    <app-pegasus-card id="rollendCard"
                                      class="kleineKaart"
                                      titel="Rollend"
                                      subtitel="Bijzonderheden over het rollende materieel"
                                      [icon]="iconRollend">

                        <textarea [(ngModel)]="dagInfo.ROLLENDMATERIEEL" name="ROLLENDMATERIEEL"
                                  class="w-100 text-invoer form-control"
                                  [rows]="tekstRegels"></textarea>
                    </app-pegasus-card>
                </div>
            </div>

            <div class="row rowDagInfo4" *ngIf="toonUitgebreid">
                <div class="col-12 col-sm-6">
                    <app-pegasus-card id="verslagCard"
                                      class="kleineKaart"
                                      titel="Verslag"
                                      subtitel="Toelichting en bijzonderheden over de vliegdag"
                                      [icon]="iconVerslag">

                        <textarea [(ngModel)]="dagInfo.VERSLAG" name="VERSLAG"
                                  class="w-100 text-invoer form-control"
                                  [rows]="tekstRegels"></textarea>
                    </app-pegasus-card>
                </div>
                <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                    <app-pegasus-card id="incidentCard"
                                      class="kleineKaart"
                                      titel="Incidenten"
                                      subtitel="Gevaarlijke situaties waar we van kunnen leren"
                                      [icon]="iconIncident">

                        <textarea [(ngModel)]="dagInfo.INCIDENTEN" name="INCIDENTEN"
                                  class="w-100 text-invoer form-control"
                                  [rows]="tekstRegels"></textarea>
                    </app-pegasus-card>
                </div>
            </div>

        </div>
        <div class="row" id="toolbar">
            <div class="col-6" *ngIf="magToevoegen || toonUitgebreid">
                <div class="d-flex">
                    <app-icon-button [disabled]="!magOpslaan()"
                                     class="toolbarBtn"
                                     tekst="Opslaan"
                                     iconNaam="far PlusSquare" (btnClicked)="opslaanDagInfo()"
                                     btnColor="btn-primary"></app-icon-button>
                </div>
            </div>


            <div class="col-6">
                <div class="d-flex justify-content-end">
                    <app-icon-button class="toolbarBtn" tekst="Verwijderen" iconNaam="far TrashAlt"
                                     btnColor="btn-secondary"
                                     *ngIf="magVerwijderen && dagInfo.ID != undefined"
                                     (btnClicked)="bevestigVerwijderen()"></app-icon-button>
                </div>
            </div>
        </div>
    </div>
</app-pegasus-card>


<app-compose-meteo (opslaan)="dagInfo.METEO = $event"></app-compose-meteo>
<app-compose-bedrijf (opslaan)="dagInfo.VLIEGBEDRIJF = $event" [datum]="datum"></app-compose-bedrijf>
<app-dag-rooster (opslaan)="dagInfo.DIENSTEN = $event" [Datum]="datum" [magWijzigen]="true"></app-dag-rooster>
