<app-error [error]="error"></app-error>

<app-pegasus-card titel="Ledenlijst"
               subtitel="De ledenlijst"
               [icon]="iconCardIcon"
               [exportEnabled]="this.magExporteren"
               (excelExport)="exportDataset()">
    <div class="box h-100">
        <div id="data">
            <app-datatable
                    id="ledengrid"
                    rowHeight=70
                    [rowData]="leden"
                    [columnDefs]="columns"
                    [loading]="isLoading"
                    [frameworkComponents]="frameworkComponents"
                    (rowDoubleClicked)="bewerkLid($event)"
                    class="h-100 mt-n8"></app-datatable>
        </div>
        <div class="row justify-content-start" id="toolbar">
            <div class="col-4">
                <div class="d-flex">
                    <app-icon-button class="toolbarBtn"
                                     tekst="Filter"
                                     iconNaam="fas Filter" (btnClicked)="filterPopup()"
                                     btnColor="btn-primary"></app-icon-button>

                    <div *ngIf="this.magToevoegen">
                        <app-icon-button class="toolbarBtn"
                                         tekst="Toevoegen"
                                         iconNaam="far PlusSquare" (btnClicked)="addLid()"
                                         btnColor="btn-primary" *ngIf="!this.deleteMode"></app-icon-button>

                        <div *ngIf="this.deleteMode">
                            <input type="checkbox" class="btn-check" id="trashBtn" name="prullenbakMode"
                                   [(ngModel)]="trashMode"
                                   (ngModelChange)="trashModeJaNee()">
                            <label class="btn btn-outline-primary recycleBtn" for="trashBtn">
                                <fa-icon [icon]="prullenbakIcon"></fa-icon>
                                Prullenbak
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row justify-content-between" id="zoekbar">
                    <div class="col-8">
                        <div class="d-flex justify-content-begin align-items-end text-nowrap">
                            <label id="zoekLabel" for="zoekInput" class="form-label">Zoeken : </label>
                            <input id="zoekInput"
                                   type="search"
                                   class="form-control"
                                   [(ngModel)]="zoekString"
                                   name="zoekString"
                                   (keyup)="opvragen()"
                                   (search)="opvragen()"
                            >
                            <app-icon-button class="toolbarBtn" iconNaam="fas Redo" (btnClicked)="opvragen()"
                                             btnColor="btn-primary"></app-icon-button>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-end">
                            <app-icon-button class="toolbarBtn" tekst="Verwijderen" iconNaam="far TrashAlt"
                                             btnColor="btn-secondary" *ngIf="this.magVerwijderen"
                                             (btnClicked)="deleteModeJaNee()"></app-icon-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-leden-filter (filterChanged)="applyFilter()"> </app-leden-filter>
    <app-track-editor></app-track-editor>
</app-pegasus-card>
