<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

<app-modal titel="Uitbetaling crew">
    @if (diensten) {
        <div body>
            <table>
                @for (dienst of diensten; track dienst; let i = $index) {
                    <tr>
                        @if (!dienst.UITBETAALD) {
                            <td>
                                <input type="checkbox" class="form-check-inline"
                                       [id]="'dienst_' + dienst.ID"
                                       [name]="'dienst_' + dienst.ID"
                                       (change)="selectieChanged($event, dienst.ID)">
                </td>
                        } @if (!dienst.UITBETAALD) {
                        <td>{{ dienst.NAAM }}</td>
                    } @if (!dienst.UITBETAALD) {
                        <td class="ps-3">{{ dienst.TYPE_DIENST }}</td>
                    }
            </tr>
                }
        </table>
        </div>
    }
    <div footer>
        <app-icon-button iconNaam="fas EuroSign" btnColor="btn-primary" [toonKlein]=false
                         tekst="Uitbetalen" (btnClicked)="uitbetalen()"></app-icon-button>
    </div>
</app-modal>
