<app-pegasus-card titel="Rooster"
                  subtitel="Rooster inplannen"
                  [icon]="roosterIcon"
                  [exportEnabled]="this.magExporteren"
                  (excelExport)="exportRooster()">
    <div cdkDropListGroup class="h-100">
        <div class="box h-100">
            <div id="data">
                <div class="dataContent">
                    <div class="roosterTabel">
                        <table *ngIf="!isLoading" class="table">
                            <thead>
                            <th scope="col"></th>
                            <th scope="col" class="DagBreedte">Dag</th>
                            <th scope="col" *ngIf="toonInstructeurs" [style]="KolomBreedte()">DDI</th>
                            <th scope="col" *ngIf="toonInstructeurs" [style]="KolomBreedte()">Instructeur</th>
                            <th scope="col" *ngIf="toonStartleiders || toonDDWV" [style]="KolomBreedte()">Startleider
                            </th>
                            <th scope="col" *ngIf="toonLieristen || toonDDWV" [style]="KolomBreedte()">Lierist</th>
                            <th scope="col" *ngIf="toonLieristen" [style]="KolomBreedte()">Hulplierist</th>
                            <th scope="col" id="headerOpmerkingen">Opmerkingen</th>
                            </thead>
                            <tbody>

                            <tr *ngFor="let dagInRooster of filteredRooster;let i = index">
                                <td class="WeekdagKolom" [ngClass]="DagVanDeWeek(dagInRooster.DATUM)">
                                    <div class="rotation-wrapper">
                                        <div class="dayOfTheWeek">
                                            {{DagVanDeWeek(dagInRooster.DATUM)}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex dagInfo row m-0">
                                        <div class="p-0">
                                            <div class="text-nowrap fw-bold">
                                                {{dagInRooster.DATUM | date: 'dd-MM-yyyy'}}
                                            </div>
                                            <div>
                                                <input type="checkbox" class="form-check-inline" [id]="'DDWV' + i"
                                                       [name]="'DDWV' + i"
                                                       [(ngModel)]="dagInRooster.DDWV"
                                                       (ngModelChange)="opslaanRooster(dagInRooster.DATUM)"
                                                       [disabled]="!magWijzigen">
                                                <label [for]="'DDWV' + i" class="form-check-label">DDWV</label>
                                            </div>
                                            <div class="text-nowrap">
                                                <input type="checkbox" class="form-check-inline"
                                                       [id]="'Clubbedrijf' + i"
                                                       [name]="'Clubbedrijf' + i"
                                                       [(ngModel)]="dagInRooster.CLUB_BEDRIJF"
                                                       (ngModelChange)="opslaanRooster(dagInRooster.DATUM)"
                                                       [disabled]="!magWijzigen">
                                                <label [for]="'Clubbedrijf' + i"
                                                       class="labelClub form-check-label">Club
                                                    bedrijf</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td *ngIf="toonInstructeurs">
                                    <div class="d-flex" *ngIf="dagInRooster.CLUB_BEDRIJF">
                                        <div
                                                class="drop-container"
                                                cdkDropList
                                                [id]="dagInRooster.DATUM + ',' + OCHTEND_DDI_TYPE_ID"
                                                (cdkDropListDropped)="onDropInRooster($event, dagInRooster, OCHTEND_DDI_TYPE_ID);"
                                                [cdkDropListData]="dagInRooster"
                                                [cdkDropListEnterPredicate]="instructeurEvaluatie.bind(this, dagInRooster.DATUM, OCHTEND_DDI_TYPE_ID)">
                                            <div cdkDrag>
                                                {{ (dagInRooster.Diensten[OCHTEND_DDI_TYPE_ID]) ? dagInRooster.Diensten[OCHTEND_DDI_TYPE_ID].NAAM : "" }}
                                            </div>
                                        </div>
                                        <div *ngIf="isInstructeur && zelfIndelen && !dagInRooster.Diensten[OCHTEND_DDI_TYPE_ID]"
                                             (click)="toekennenDienst(dagInRooster, OCHTEND_DDI_TYPE_ID, mijnID, mijnNaam)">
                                            <ng-template *ngTemplateOutlet="assign"></ng-template>
                                        </div>
                                        <div *ngIf="magVerwijderen(dagInRooster.Diensten[OCHTEND_DDI_TYPE_ID])"
                                             (click)="verwijderDienst(dagInRooster, OCHTEND_DDI_TYPE_ID)">
                                            <ng-template *ngTemplateOutlet="reset"></ng-template>
                                        </div>
                                    </div>
                                    <div class="d-flex" *ngIf="dagInRooster.CLUB_BEDRIJF">
                                        <div
                                                class="drop-container"
                                                cdkDropList
                                                [id]="dagInRooster.DATUM + ',' + MIDDAG_DDI_TYPE_ID"
                                                (cdkDropListDropped)="onDropInRooster($event, dagInRooster, MIDDAG_DDI_TYPE_ID);"
                                                [cdkDropListData]="dagInRooster"
                                                [cdkDropListEnterPredicate]="instructeurEvaluatie.bind(this, dagInRooster.DATUM, MIDDAG_DDI_TYPE_ID)">
                                            <div cdkDrag>
                                                {{ (dagInRooster.Diensten[MIDDAG_DDI_TYPE_ID]) ? dagInRooster.Diensten[MIDDAG_DDI_TYPE_ID].NAAM : "" }}
                                            </div>
                                        </div>
                                        <div *ngIf="isInstructeur && zelfIndelen && !dagInRooster.Diensten[MIDDAG_DDI_TYPE_ID]"
                                             (click)="toekennenDienst(dagInRooster, MIDDAG_DDI_TYPE_ID, mijnID, mijnNaam)">
                                            <ng-template *ngTemplateOutlet="assign"></ng-template>
                                        </div>
                                        <div *ngIf="magVerwijderen(dagInRooster.Diensten[MIDDAG_DDI_TYPE_ID])"
                                             (click)="verwijderDienst(dagInRooster, MIDDAG_DDI_TYPE_ID)">
                                            <ng-template *ngTemplateOutlet="reset"></ng-template>
                                        </div>
                                    </div>
                                </td>
                                <td *ngIf="toonInstructeurs">
                                    <div class="d-flex" *ngIf="dagInRooster.CLUB_BEDRIJF">
                                        <div
                                                class="drop-container"
                                                cdkDropList
                                                [id]="dagInRooster.DATUM + ',' + OCHTEND_INSTRUCTEUR_TYPE_ID"
                                                (cdkDropListDropped)="onDropInRooster($event, dagInRooster, OCHTEND_INSTRUCTEUR_TYPE_ID);"
                                                [cdkDropListData]="dagInRooster"
                                                [cdkDropListEnterPredicate]="instructeurEvaluatie.bind(this, dagInRooster.DATUM, OCHTEND_INSTRUCTEUR_TYPE_ID)">
                                            <div cdkDrag>
                                                {{ (dagInRooster.Diensten[OCHTEND_INSTRUCTEUR_TYPE_ID]) ? dagInRooster.Diensten[OCHTEND_INSTRUCTEUR_TYPE_ID].NAAM : "" }}
                                            </div>
                                        </div>
                                        <div *ngIf="isInstructeur && zelfIndelen && !dagInRooster.Diensten[OCHTEND_INSTRUCTEUR_TYPE_ID]"
                                             (click)="toekennenDienst(dagInRooster, OCHTEND_INSTRUCTEUR_TYPE_ID, mijnID, mijnNaam)">
                                            <ng-template *ngTemplateOutlet="assign"></ng-template>
                                        </div>
                                        <div *ngIf="magVerwijderen(dagInRooster.Diensten[OCHTEND_INSTRUCTEUR_TYPE_ID])"
                                             (click)="verwijderDienst(dagInRooster, OCHTEND_INSTRUCTEUR_TYPE_ID)">
                                            <ng-template *ngTemplateOutlet="reset"></ng-template>
                                        </div>
                                    </div>
                                    <div class="d-flex" *ngIf="dagInRooster.CLUB_BEDRIJF">
                                        <div
                                                class="drop-container"
                                                cdkDropList
                                                [id]="dagInRooster.DATUM + ',' + MIDDAG_INSTRUCTEUR_TYPE_ID"
                                                (cdkDropListDropped)="onDropInRooster($event, dagInRooster, MIDDAG_INSTRUCTEUR_TYPE_ID);"
                                                [cdkDropListData]="dagInRooster"
                                                [cdkDropListEnterPredicate]="instructeurEvaluatie.bind(this, dagInRooster.DATUM, MIDDAG_INSTRUCTEUR_TYPE_ID)">
                                            <div cdkDrag>
                                                {{ (dagInRooster.Diensten[MIDDAG_INSTRUCTEUR_TYPE_ID]) ? dagInRooster.Diensten[MIDDAG_INSTRUCTEUR_TYPE_ID].NAAM : "" }}
                                            </div>
                                        </div>
                                        <div *ngIf="isInstructeur && zelfIndelen && !dagInRooster.Diensten[MIDDAG_INSTRUCTEUR_TYPE_ID]"
                                             (click)="toekennenDienst(dagInRooster, MIDDAG_INSTRUCTEUR_TYPE_ID, mijnID, mijnNaam)">
                                            <ng-template *ngTemplateOutlet="assign"></ng-template>
                                        </div>
                                        <div *ngIf="magVerwijderen(dagInRooster.Diensten[MIDDAG_INSTRUCTEUR_TYPE_ID])"
                                             (click)="verwijderDienst(dagInRooster, MIDDAG_INSTRUCTEUR_TYPE_ID)">
                                            <ng-template *ngTemplateOutlet="reset"></ng-template>
                                        </div>
                                    </div>
                                </td>
                                <td *ngIf="toonStartleiders || toonDDWV">
                                    <div class="d-flex">
                                        <div
                                                class="drop-container"
                                                cdkDropList
                                                [id]="dagInRooster.DATUM + ',' + OCHTEND_STARTLEIDER_TYPE_ID"
                                                (cdkDropListDropped)="onDropInRooster($event, dagInRooster, OCHTEND_STARTLEIDER_TYPE_ID);"
                                                [cdkDropListData]="dagInRooster"
                                                [cdkDropListEnterPredicate]="startleiderEvaluatie.bind(this, dagInRooster.DATUM, OCHTEND_STARTLEIDER_TYPE_ID)">
                                            <div cdkDrag>
                                                {{ (dagInRooster.Diensten[OCHTEND_STARTLEIDER_TYPE_ID]) ? dagInRooster.Diensten[OCHTEND_STARTLEIDER_TYPE_ID].NAAM : "" }}
                                            </div>
                                        </div>
                                        <div *ngIf="isStartleider && (zelfIndelen || dagInRooster.DDWV)  && !dagInRooster.Diensten[OCHTEND_STARTLEIDER_TYPE_ID]"
                                             (click)="toekennenDienst(dagInRooster, OCHTEND_STARTLEIDER_TYPE_ID, mijnID, mijnNaam)">
                                            <ng-template *ngTemplateOutlet="assign"></ng-template>
                                        </div>
                                        <div *ngIf="magVerwijderen(dagInRooster.Diensten[OCHTEND_STARTLEIDER_TYPE_ID])"
                                             (click)="verwijderDienst(dagInRooster, OCHTEND_STARTLEIDER_TYPE_ID)">
                                            <ng-template *ngTemplateOutlet="reset"></ng-template>
                                        </div>
                                    </div>
                                    <div class="d-flex" *ngIf="dagInRooster.CLUB_BEDRIJF">
                                        <div
                                                class="drop-container"
                                                cdkDropList
                                                [id]="dagInRooster.DATUM + ',' + MIDDAG_STARTLEIDER_TYPE_ID"
                                                (cdkDropListDropped)="onDropInRooster($event, dagInRooster, MIDDAG_STARTLEIDER_TYPE_ID);"
                                                [cdkDropListData]="dagInRooster"
                                                [cdkDropListEnterPredicate]="startleiderEvaluatie.bind(this, dagInRooster.DATUM, MIDDAG_STARTLEIDER_TYPE_ID)">
                                            <div cdkDrag>
                                                {{ (dagInRooster.Diensten[MIDDAG_STARTLEIDER_TYPE_ID]) ? dagInRooster.Diensten[MIDDAG_STARTLEIDER_TYPE_ID].NAAM : "" }}
                                            </div>
                                        </div>
                                        <div *ngIf="isStartleider && zelfIndelen && !dagInRooster.Diensten[MIDDAG_STARTLEIDER_TYPE_ID]"
                                             (click)="toekennenDienst(dagInRooster, MIDDAG_STARTLEIDER_TYPE_ID, mijnID, mijnNaam)">
                                            <ng-template *ngTemplateOutlet="assign"></ng-template>
                                        </div>
                                        <div *ngIf="magVerwijderen(dagInRooster.Diensten[MIDDAG_STARTLEIDER_TYPE_ID])"
                                             (click)="verwijderDienst(dagInRooster, MIDDAG_STARTLEIDER_TYPE_ID)">
                                            <ng-template *ngTemplateOutlet="reset"></ng-template>
                                        </div>
                                    </div>
                                </td>
                                <td *ngIf="toonLieristen || toonDDWV">
                                    <div class="d-flex">
                                        <div
                                                class="drop-container"
                                                cdkDropList
                                                [id]="dagInRooster.DATUM + ',' + OCHTEND_LIERIST_TYPE_ID"
                                                (cdkDropListDropped)="onDropInRooster($event, dagInRooster, OCHTEND_LIERIST_TYPE_ID);"
                                                [cdkDropListData]="dagInRooster"
                                                [cdkDropListEnterPredicate]="lieristEvaluatie.bind(this, dagInRooster.DATUM, OCHTEND_LIERIST_TYPE_ID)">
                                            <div cdkDrag>
                                                {{ (dagInRooster.Diensten[OCHTEND_LIERIST_TYPE_ID]) ? dagInRooster.Diensten[OCHTEND_LIERIST_TYPE_ID].NAAM : "" }}
                                            </div>
                                        </div>
                                        <div *ngIf="isLierist && (zelfIndelen || dagInRooster.DDWV)  && !dagInRooster.Diensten[OCHTEND_LIERIST_TYPE_ID]"
                                             (click)="toekennenDienst(dagInRooster, OCHTEND_LIERIST_TYPE_ID, mijnID, mijnNaam)">
                                            <ng-template *ngTemplateOutlet="assign"></ng-template>
                                        </div>
                                        <div *ngIf="magVerwijderen(dagInRooster.Diensten[OCHTEND_LIERIST_TYPE_ID])"
                                             (click)="verwijderDienst(dagInRooster, OCHTEND_LIERIST_TYPE_ID)">
                                            <ng-template *ngTemplateOutlet="reset"></ng-template>
                                        </div>
                                    </div>
                                    <div class="d-flex" *ngIf="dagInRooster.CLUB_BEDRIJF">
                                        <div
                                                class="drop-container"
                                                cdkDropList
                                                [id]="dagInRooster.DATUM + ',' + MIDDAG_LIERIST_TYPE_ID"
                                                (cdkDropListDropped)="onDropInRooster($event, dagInRooster, MIDDAG_LIERIST_TYPE_ID);"
                                                [cdkDropListData]="dagInRooster"
                                                [cdkDropListEnterPredicate]="lieristEvaluatie.bind(this, dagInRooster.DATUM, MIDDAG_LIERIST_TYPE_ID)">
                                            <div cdkDrag>
                                                {{ (dagInRooster.Diensten[MIDDAG_LIERIST_TYPE_ID]) ? dagInRooster.Diensten[MIDDAG_LIERIST_TYPE_ID].NAAM : "" }}
                                            </div>
                                        </div>
                                        <div *ngIf="isLierist && zelfIndelen && !dagInRooster.Diensten[MIDDAG_LIERIST_TYPE_ID]"
                                             (click)="toekennenDienst(dagInRooster, MIDDAG_LIERIST_TYPE_ID, mijnID, mijnNaam)">
                                            <ng-template *ngTemplateOutlet="assign"></ng-template>
                                        </div>
                                        <div *ngIf="magVerwijderen(dagInRooster.Diensten[MIDDAG_LIERIST_TYPE_ID])"
                                             (click)="verwijderDienst(dagInRooster, MIDDAG_LIERIST_TYPE_ID)">
                                            <ng-template *ngTemplateOutlet="reset"></ng-template>
                                        </div>
                                    </div>
                                </td>
                                <td *ngIf="toonLieristen">
                                    <div class="d-flex" *ngIf="dagInRooster.CLUB_BEDRIJF">
                                        <div
                                                class="drop-container"
                                                cdkDropList
                                                [id]="dagInRooster.DATUM + ',' + OCHTEND_HULPLIERIST_TYPE_ID"
                                                (cdkDropListDropped)="onDropInRooster($event, dagInRooster, OCHTEND_HULPLIERIST_TYPE_ID);"
                                                [cdkDropListData]="dagInRooster"
                                                [cdkDropListEnterPredicate]="lieristEvaluatie.bind(this, dagInRooster.DATUM, OCHTEND_HULPLIERIST_TYPE_ID)">
                                            <div cdkDrag>
                                                {{ (dagInRooster.Diensten[OCHTEND_HULPLIERIST_TYPE_ID]) ? dagInRooster.Diensten[OCHTEND_HULPLIERIST_TYPE_ID].NAAM : "" }}
                                            </div>
                                        </div>
                                        <div *ngIf="isLierist && zelfIndelen && !dagInRooster.Diensten[OCHTEND_HULPLIERIST_TYPE_ID]"
                                             (click)="toekennenDienst(dagInRooster, OCHTEND_HULPLIERIST_TYPE_ID, mijnID, mijnNaam)">
                                            <ng-template *ngTemplateOutlet="assign"></ng-template>
                                        </div>
                                        <div *ngIf="magVerwijderen(dagInRooster.Diensten[OCHTEND_HULPLIERIST_TYPE_ID])"
                                             (click)="verwijderDienst(dagInRooster, OCHTEND_HULPLIERIST_TYPE_ID)">
                                            <ng-template *ngTemplateOutlet="reset"></ng-template>
                                        </div>
                                    </div>
                                    <div class="d-flex" *ngIf="dagInRooster.CLUB_BEDRIJF">
                                        <div
                                                class="drop-container"
                                                cdkDropList
                                                [id]="dagInRooster.DATUM + ',' + MIDDAG_HULPLIERIST_TYPE_ID"
                                                (cdkDropListDropped)="onDropInRooster($event, dagInRooster, MIDDAG_HULPLIERIST_TYPE_ID);"
                                                [cdkDropListData]="dagInRooster"
                                                [cdkDropListEnterPredicate]="lieristEvaluatie.bind(this, dagInRooster.DATUM, MIDDAG_HULPLIERIST_TYPE_ID)">
                                            <div cdkDrag>
                                                {{ (dagInRooster.Diensten[MIDDAG_HULPLIERIST_TYPE_ID]) ? dagInRooster.Diensten[MIDDAG_HULPLIERIST_TYPE_ID].NAAM : "" }}
                                            </div>
                                        </div>
                                        <div *ngIf="isLierist && zelfIndelen && !dagInRooster.Diensten[MIDDAG_HULPLIERIST_TYPE_ID]"
                                             (click)="toekennenDienst(dagInRooster, MIDDAG_HULPLIERIST_TYPE_ID, mijnID, mijnNaam)">
                                            <ng-template *ngTemplateOutlet="assign"></ng-template>
                                        </div>
                                        <div *ngIf="magVerwijderen(dagInRooster.Diensten[MIDDAG_HULPLIERIST_TYPE_ID])"
                                             (click)="verwijderDienst(dagInRooster, MIDDAG_HULPLIERIST_TYPE_ID)">
                                            <ng-template *ngTemplateOutlet="reset"></ng-template>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <textarea
                                            [id]="'OPMERKINGEN' + i"
                                            [name]="'OPMERKINGEN' + i"
                                            [(ngModel)]="dagInRooster.OPMERKINGEN"
                                            (ngModelChange)="opslaanRooster(dagInRooster.DATUM)"
                                            [disabled]="!magWijzigen"
                                            class="w-100 text-invoer form-control opmerkingen"
                                            [rows]="2" style="resize: none"></textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="kolomRechts" *ngIf="magWijzigen">
                        <h4>Leden</h4>
                        <div *ngIf="filteredLeden && !isLoading;else loading"
                             id="LEDENLIJST"
                             cdkDropList
                             cdkDropListSortingDisabled
                             [cdkDropListData]="filteredLeden"
                             (cdkDropListDropped)="onDropInLedenlijst($event)">

                            <div *ngIf="filteredLeden.length == 0" class="d-flex justify-content-center">
                                Geen resultaten gevonden
                            </div>
                            <div class="card my-1"
                                 *ngFor="let lid of filteredLeden"
                                 [cdkDragData]="lid" cdkDrag>
                                <div *cdkDragPreview>
                                    <ng-template *ngTemplateOutlet="preview; context: {$implicit: lid}"></ng-template>
                                </div>

                                <div *cdkDragPlaceholder>
                                    {{lid.NAAM}}
                                </div>
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="maandTotaal" >
                                            {{ lid.INGEDEELD_MAAND }}
                                        </div>
                                        <div class="jaarTotaal">
                                            {{ lid.INGEDEELD_JAAR | number:'2.0' }}
                                        </div>

                                        <div class="avatar">
                                            <app-avatar [url]="lid.AVATAR"></app-avatar>
                                        </div>
                                        <div class="naam">
                                            {{lid.NAAM}}
                                            <p>
                                                <span *ngIf="lid.LIERIST">Lierist </span>
                                                <span *ngIf="lid.STARTLEIDER">Startleider </span>
                                                <span *ngIf="lid.INSTRUCTEUR">Instructeur </span>
                                            </p>
                                        </div>
                                    </div>

                                    <!--
                                    <div class="row">
                                        <div class="col-3">
                                            <app-avatar class="position-relative"
                                                        [url]="lid.AVATAR"></app-avatar>
                                            <span class="position-absolute top-0 start-100 translate-middle padding-small bg-secondary rounded-circle">
                                            {{lid.KEER_INGEDEELD}}
                                                <span class="visually-hidden">keer ingedeeld</span>
                                        </span>
                                        </div>
                                        <div class="col-9">
                                            <h6>{{lid.NAAM}}</h6>
                                            <p>
                                                <span *ngIf="lid.LIERIST">Lierist </span>
                                                <span *ngIf="lid.STARTLEIDER">Startleider </span>
                                                <span *ngIf="lid.INSTRUCTEUR">Instructeur </span>
                                            </p>
                                        </div>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>

                        <ng-template #loading>
                            <div class="d-flex justify-content-center">
                                <app-loader [isLoading]="isLoading"></app-loader>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="row justify-content-start" id="toolbar">
                <div class="d-flex row">
                    <div class="col-3">

                        <app-icon-button class="toolbarBtn"
                                         tekst="Filter"
                                         iconNaam="fas Filter" (btnClicked)="filterPopup()"
                                         btnColor="btn-primary"></app-icon-button>

                        <app-icon-button class="toolbarBtn" iconNaam="fas CalendarWeek"
                                         tekst="Club / DDWV"
                                         (btnClicked)="ToggleWeekendDDWV()"
                                         btnColor="btn-primary"></app-icon-button>

                    </div>
                    <div class="col-9">
                        <div class="d-flex align-items-end text-nowrap" id="zoekbar">

                            <label id="zoekLabel" for="zoekInput" class="form-label">Zoeken : </label>
                            <input id="zoekInput"
                                   type="search"
                                   class="form-control"
                                   [(ngModel)]="zoekString"
                                   name="zoekString"
                                   (keyup)="opvragen()"
                                   (search)="opvragen()"
                            >
                            <app-icon-button class="toolbarBtn" iconNaam="fas Redo" (btnClicked)="opvragen()"
                                             btnColor="btn-primary"></app-icon-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-leden-filter [LedenDDWV]="false" (filterChanged)="applyLedenFilter()"></app-leden-filter>
</app-pegasus-card>

<ng-template #reset>
    <div class="d-flex flex-column justify-content-center h-100 text-black-50 clickable px-1">
        <fa-icon [icon]="resetIcon"></fa-icon>
    </div>
</ng-template>
`
<ng-template #assign>
    <div class="d-flex flex-column justify-content-center h-100 text-black-50 clickable px-1">
        <fa-icon [icon]="assignIcon"></fa-icon>
    </div>
</ng-template>

<ng-template #preview let-lid>
    <div class="card card-body">
        <h6>{{lid.NAAM}}</h6>
        <p>
            <span *ngIf="lid.LIERIST">Lierist </span>
            <span *ngIf="lid.STARTLEIDER">Startleider </span>
            <span *ngIf="lid.INSTRUCTEUR">Instructeur </span>
        </p>

    </div>
</ng-template>
