<app-modal titel="Kies datum">
    <div body>
        <app-vliegdag-selectie
                [daginfo]="daginfo"
                [diensten]="diensten"
                [vliegdagen]="vliegdagen"
                [kalenderEersteDatum]="kalenderEersteDatum"
                [kalenderLaatsteDatum]="kalenderLaatsteDatum"
                [kalenderIngave]="kalenderIngave"
                (dateSelect)="NieuweDatum($event)"
                (navigate)="KalenderAndereMaand($event)"
        ></app-vliegdag-selectie>
    </div>
</app-modal>
