<app-uitbetalen-ddwv-crew-editor></app-uitbetalen-ddwv-crew-editor>

<div class="w-100 h-100">
    <div class="d-flex flex-row justify-content-between">
        <div>
            <app-icon-button
                    class="toolbarBtn"
                    iconNaam="fas AngleDoubleLeft" (btnClicked)="zetDatum(datum.plus({days: -7}))"
                    btnColor="btn-secondary"></app-icon-button>
            <app-icon-button
                    class="toolbarBtn mx-2"
                    iconNaam="fas AngleLeft" (btnClicked)="zetDatum(datum.plus({days: -1}))"
                    btnColor="btn-secondary"></app-icon-button>
        </div>
        {{DagVanDeWeek(datum.toISODate())}} <br>{{datum.day}}-{{datum.month}}-{{datum.year}}
        <div>
            <app-icon-button
                    class="toolbarBtn mx-2"
                    iconNaam="fas AngleRight" (btnClicked)="zetDatum(datum.plus({days: 1}))"
                    btnColor="btn-secondary"></app-icon-button>
            <app-icon-button
                    class="toolbarBtn"
                    iconNaam="fas AngleDoubleRight" (btnClicked)="zetDatum(datum.plus({days: 7}))"
                    btnColor="btn-secondary"></app-icon-button>
        </div>
    </div>
    <div class="roosterTabel" *ngIf="tonen.toonDienst && rooster">
        <table class="table overflow-scroll" style="width: calc(100% - 15px);">
            <thead>
            <tr style="vertical-align: top;">
                <td class="dagInRooster">
                    <div *ngIf="ddwvActief">
                        <input type="checkbox" class="form-check-inline" id="DDWV"
                               name="DDWV"
                               [(ngModel)]="rooster[0].DDWV"
                               (ngModelChange)="opslaanRooster(rooster[0].DATUM)"
                               [disabled]="!magWijzigen && !isCIMT && !isBeheerderDDWV">
                        <label for="DDWV" class="form-check-label">DDWV</label>
                    </div>
                    <div class="text-nowrap">
                        <input type="checkbox" class="form-check-inline"
                               id="Clubbedrijf"
                               name="Clubbedrijf"
                               [(ngModel)]="rooster[0].CLUB_BEDRIJF"
                               (ngModelChange)="opslaanRooster(rooster[0].DATUM)"
                               [disabled]="!magWijzigen && !isCIMT && !isBeheerderDDWV">
                        <label for="Clubbedrijf"
                               class="labelClub form-check-label">Club
                            bedrijf</label>
                    </div>
                </td>
                <td>
                    <textarea
                            id="OPMERKINGEN"
                            name="OPMERKINGEN"
                            [(ngModel)]="rooster[0].OPMERKINGEN"
                            (ngModelChange)="opslaanRooster(rooster[0].DATUM)"
                            [disabled]="!magWijzigen && !isCIMT && !isBeheerderDDWV"
                            class="w-100 text-invoer form-control opmerkingen"
                            [rows]="2" style="resize: none"></textarea>
                </td>
            </tr>
            </thead>
            <tbody>

            <tr *ngIf="(tonen.toonDienst[configService.OCHTEND_DDI_TYPE_ID] || tonen.toonDienst[configService.MIDDAG_DDI_TYPE_ID]) && tonen.Instructeurs && rooster[0].CLUB_BEDRIJF">
                <td class="dienstType">DDI</td>
                <td>
                    <ng-container [ngTemplateOutlet]="roosterDienst"
                                  [ngTemplateOutletContext]="{dag:rooster[0], typeDienst: [ configService.OCHTEND_DDI_TYPE_ID, configService.MIDDAG_DDI_TYPE_ID]}"></ng-container>
                </td>
            </tr>

            <tr *ngIf="(tonen.toonDienst[configService.OCHTEND_INSTRUCTEUR_TYPE_ID] || tonen.toonDienst[configService.MIDDAG_INSTRUCTEUR_TYPE_ID]) && tonen.Instructeurs && rooster[0].CLUB_BEDRIJF">
                <td class="dienstType">Instructeur</td>
                <td>
                    <ng-container [ngTemplateOutlet]="roosterDienst"
                                  [ngTemplateOutletContext]="{dag:rooster[0], typeDienst: [ configService.OCHTEND_INSTRUCTEUR_TYPE_ID, configService.MIDDAG_INSTRUCTEUR_TYPE_ID]}"></ng-container>
                </td>
            </tr>

            <tr *ngIf="(tonen.toonDienst[configService.OCHTEND_STARTLEIDER_TYPE_ID] || tonen.toonDienst[configService.MIDDAG_STARTLEIDER_TYPE_ID]) && (tonen.Startleiders || tonen.DDWV) && (rooster[0].DDWV || rooster[0].CLUB_BEDRIJF)">
                <td class="dienstType">Startleider</td>
                <td>
                    <div *ngIf="rooster[0].CLUB_BEDRIJF">
                        <ng-container [ngTemplateOutlet]="roosterDienst"
                                      [ngTemplateOutletContext]="{dag:rooster[0], typeDienst: [ configService.OCHTEND_STARTLEIDER_TYPE_ID, configService.MIDDAG_STARTLEIDER_TYPE_ID]}"></ng-container>
                    </div>
                    <div *ngIf="rooster[0].DDWV && !rooster[0].CLUB_BEDRIJF">
                        <ng-container [ngTemplateOutlet]="roosterDienst"
                                      [ngTemplateOutletContext]="{dag:rooster[0], typeDienst: [ configService.OCHTEND_STARTLEIDER_TYPE_ID]}"></ng-container>
                    </div>
                </td>
            </tr>

            <tr *ngIf="(tonen.toonDienst[configService.OCHTEND_STARTLEIDER_IO_TYPE_ID] || tonen.toonDienst[configService.OCHTEND_STARTLEIDER_IO_TYPE_ID]) && tonen.Startleiders && rooster[0].CLUB_BEDRIJF">
                <td class="dienstType">Startleider 2</td>
                <td>
                    <ng-container [ngTemplateOutlet]="roosterDienst"
                                  [ngTemplateOutletContext]="{dag:rooster[0], typeDienst: [ configService.OCHTEND_STARTLEIDER_IO_TYPE_ID, configService.MIDDAG_STARTLEIDER_IO_TYPE_ID]}"></ng-container>
                </td>
            </tr>

            <tr *ngIf="(tonen.toonDienst[configService.OCHTEND_LIERIST_TYPE_ID] || tonen.toonDienst[configService.MIDDAG_LIERIST_TYPE_ID]) && (tonen.Lieristen || tonen.DDWV) && (rooster[0].DDWV || rooster[0].CLUB_BEDRIJF)">
                <td class="dienstType">Lierist</td>
                <td>
                    <div *ngIf="rooster[0].CLUB_BEDRIJF">
                        <ng-container [ngTemplateOutlet]="roosterDienst"
                                      [ngTemplateOutletContext]="{dag:rooster[0], typeDienst: [ configService.OCHTEND_LIERIST_TYPE_ID, configService.MIDDAG_LIERIST_TYPE_ID]}"></ng-container>
                    </div>
                    <div *ngIf="rooster[0].DDWV && !rooster[0].CLUB_BEDRIJF">
                        <ng-container [ngTemplateOutlet]="roosterDienst"
                                      [ngTemplateOutletContext]="{dag:rooster[0], typeDienst: [ configService.OCHTEND_LIERIST_TYPE_ID]}"></ng-container>
                    </div>
                </td>
            </tr>

            <tr *ngIf="(tonen.toonDienst[configService.OCHTEND_HULPLIERIST_TYPE_ID] || tonen.toonDienst[configService.MIDDAG_HULPLIERIST_TYPE_ID]) && tonen.LIO && rooster[0].CLUB_BEDRIJF">
                <td class="dienstType">Hulplierist</td>
                <td>
                    <ng-container [ngTemplateOutlet]="roosterDienst"
                                  [ngTemplateOutletContext]="{dag:rooster[0], typeDienst: [ configService.OCHTEND_HULPLIERIST_TYPE_ID, configService.MIDDAG_HULPLIERIST_TYPE_ID]}"></ng-container>
                </td>
            </tr>

            <tr *ngIf="(tonen.toonDienst[configService.GASTEN_VLIEGER1_TYPE_ID] || tonen.toonDienst[configService.GASTEN_VLIEGER2_TYPE_ID]) && tonen.GastenVliegers && rooster[0].CLUB_BEDRIJF">
                <td class="dienstType">Gasten vlieger</td>
                <td>
                    <ng-container [ngTemplateOutlet]="roosterDienst"
                                  [ngTemplateOutletContext]="{dag:rooster[0], typeDienst: [ configService.GASTEN_VLIEGER1_TYPE_ID, configService.GASTEN_VLIEGER2_TYPE_ID]}"></ng-container>
                </td>
            </tr>

            <tr *ngIf="tonen.toonDienst[configService.SLEEPVLIEGER_TYPE_ID] && tonen.Sleepvliegers  && (rooster[0].DDWV || rooster[0].CLUB_BEDRIJF)">
                <td class="dienstType">Sleepvlieger</td>
                <td>
                    <ng-container [ngTemplateOutlet]="roosterDienst"
                                  [ngTemplateOutletContext]="{dag:rooster[0], typeDienst: [ configService.SLEEPVLIEGER_TYPE_ID]}"></ng-container>
                </td>
            </tr>
            <tr *ngIf="rooster[0].DDWV && !rooster[0].CLUB_BEDRIJF">
                <td class="dienstType">Slepen</td>
                <td>
                    <div class="d-flex flex-row">
                        <input type="range" class="form-range" min="1" max="15"
                               [(ngModel)]="rooster[0].MIN_SLEEPSTART" (change)="opslaanRooster(rooster[0].DATUM)"
                               [disabled]="!magWijzigen">
                        <div class="ms-2 me-1">{{rooster[0].MIN_SLEEPSTART}}</div>
                    </div>
                </td>
            </tr>
            <tr *ngIf="rooster[0].DDWV && !rooster[0].CLUB_BEDRIJF">
                <td class="dienstType">Lieren</td>
                <td>
                    <div class="d-flex flex-row" >
                        <input type="range" class="form-range" min="1" max="15" [(ngModel)]="rooster[0].MIN_LIERSTART"
                               (change)="opslaanRooster(rooster[0].DATUM)" [disabled]="!magWijzigen">
                        <div class="ms-2 me-1">{{rooster[0].MIN_LIERSTART}}</div>
                    </div>
                </td>
            </tr>
            <tr *ngIf="rooster[0].DDWV && !rooster[0].CLUB_BEDRIJF">
                <td></td>
                <td>
                    <div *ngIf="!datumInToekomst(rooster[0].DATUM) && (isBeheerderDDWV || isBeheerder)" class="w-100">
                        <app-icon-button class="toolbarBtn" [toonKlein]="false"
                                         tekst="Uitbetalen"
                                         iconNaam="fas EuroSign" (btnClicked)="uitbetalen.openPopup(rooster[0])"
                                         btnColor="btn-secondary"></app-icon-button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #roosterDienst let-dag="dag" let-typeDienst="typeDienst">
    <div class="d-flex" *ngFor="let dt of typeDienst">
        <div class="d-flex w-100" *ngIf="tonen.toonDienst[dt]">
            <div class="naam" (click)="openPopup(dag, dt)"
                 [ngClass]="lidInRoosterDagClass(dag.Diensten[dt], dag)">
                {{ (dag.Diensten[dt]) ? dag.Diensten[dt].NAAM : "" }}
            </div>

            <div *ngIf="zelfIndelen(dt, dag.DATUM) && !dag.Diensten[dt]"
                 (click)="toekennenDienst(dag, dt)">
                <ng-template *ngTemplateOutlet="assign"></ng-template>
            </div>
            <div *ngIf="magVerwijderen(dag.Diensten[dt])"
                 (click)="verwijderDienst(dag, dt)">
                <ng-template *ngTemplateOutlet="reset"></ng-template>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #reset>
    <div class="d-flex flex-column justify-content-center h-100 text-black-50 clickable px-1">
        <fa-icon [icon]="resetIcon"></fa-icon>
    </div>
</ng-template>

<ng-template #assign>
    <div class="d-flex flex-column justify-content-center h-100 text-black-50 clickable px-1">
        <fa-icon [icon]="assignIcon"></fa-icon>
    </div>
</ng-template>

<app-dienst-editor></app-dienst-editor>





