<ng-template #content let-modal>
    <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="modal-basic-title">{{titel}}</h4>
        <button type="button" class="btn btn-outline-secondary" aria-label="Close" (click)="this.close()">
            <span aria-hidden="true"><fa-icon [icon]="cross"></fa-icon> </span>
        </button>
    </div>
    <div class="modal-body">
        <ng-content select="[body]"></ng-content>
    </div>
    <div class="modal-footer">
        <ng-content select="[footer]"></ng-content>
    </div>
</ng-template>
