.rowDagInfo1 {
  padding-top: 10px;
}

.rowDagInfo2 {
  padding-top: 20px;
}

.rowDagInfo3 {
  padding-top: 20px;
}

.rowDagInfo4 {
  padding-top: 20px;
}

.text-invoer {
  border-color: #dfdfdf;
}

textarea {
  resize: none;
}

ng-select.ng-invalid {
  border: 1px solid #ffc107;
}
