<app-error [error]="error"></app-error>

<app-icon-card titel="Dag info"
               subtitel="Informatie over de vliegdag"
               [icon]="iconCardIcon">
    <div class="d-flex flex-column justify-content-between  box h-100">
        <div class="mb-2">
            <div class="row mt-n8 rowDagInfo1">
                <div class="col-3">
                    <app-icon-card id="veldCard"
                                   class="kleineKaart"
                                   titel="Vliegveld"
                                   subtitel="Waar we vliegen"
                                   [icon]="iconVliegveld">

                        <label for="VELD" class="form-label">Vliegveld</label>
                        <ng-select id="VELD"
                                   [items]="veldTypes$ | async"
                                   placeholder="Vliegveld waar we starten"
                                   bindLabel="OMSCHRIJVING"
                                   bindValue="ID"
                                   closeOnSelect="true"
                                   openOnEnter="true"
                                   [(ngModel)]="dagInfo.VELD_ID">
                        </ng-select>

                    </app-icon-card>
                </div>
                <div class="col-3">
                    <app-icon-card id="defaultCard"
                                   class="kleineKaart"
                                   titel="Standaard"
                                   subtitel="Start gegevens"
                                   [icon]="iconDefault">

                        <label for="STARTMETHODE" class="form-label">Start methode</label>
                        <ng-select id="STARTMETHODE"
                                   [items]="startMethodeTypes$ | async"
                                   placeholder="Standaard start methode"
                                   bindLabel="OMSCHRIJVING"
                                   bindValue="ID"
                                   closeOnSelect="true"
                                   openOnEnter="true"
                                   [(ngModel)]="dagInfo.STARTMETHODE_ID">
                        </ng-select>
                        <div class="mt-2 d-flex flex-row justify-content-between">
                            <div>
                                <input type="checkbox" id="DDWV" class="form-check-inline" [(ngModel)]="dagInfo.DDWV">
                                <label for="DDWV" class="form-check-label">DDWV</label>
                            </div>

                            <div>
                                <input type="checkbox" id="CLUBBEDRIJF" class="form-check-inline"
                                       [(ngModel)]="dagInfo.CLUB_BEDRIJF">
                                <label for="CLUBBEDRIJF" class="form-check-label">Club bedrijf</label>

                            </div>
                        </div>
                    </app-icon-card>
                </div>
                <div class="col-6">
                    <app-icon-card id="dienstenCard"
                                   class="kleineKaart"
                                   titel="Diensten"
                                   subtitel="Wie zijn aanwezig en wie niet"
                                   [icon]="iconDiensten">
                    </app-icon-card>
                </div>


            </div>

            <div class="row rowDagInfo2">
                <div class="col-6">
                    <app-icon-card id="meteoCard"
                                   class="kleineKaart"
                                   titel="Meteo"
                                   subtitel="Weersomstandigheden op de vliegdag"
                                   [icon]="iconMeteo">

                        <div class="d-flex align-items-end">
                        <textarea [(ngModel)]="dagInfo.METEO" name="Ingave"
                                  class="w-100 text-invoer"
                                  rows="4"></textarea>

                            <app-icon-button class="ms-2" iconNaam="fas PencilAlt" (btnClicked)="invullenMeteo()"
                                             btnColor="btn-primary"></app-icon-button>
                        </div>
                    </app-icon-card>
                </div>
                <div class="col-6">
                    <app-icon-card id="bedrijfCard"
                                   class="kleineKaart"
                                   titel="Vliegbedrijf"
                                   subtitel="Operationele data"
                                   [icon]="iconBedrijf">
                        <div class="d-flex align-items-end mb-2">
                        <textarea [(ngModel)]="dagInfo.VLIEGBEDRIJF" name="Ingave"
                                  class="w-100 text-invoer"
                                  rows="4"></textarea>

                            <app-icon-button class="ms-2" iconNaam="fas PencilAlt" (btnClicked)="invullenVliegbedrijf()"
                                             btnColor="btn-primary"></app-icon-button>
                        </div>
                    </app-icon-card>
                </div>
            </div>

            <div class="row rowDagInfo3">
                <div class="col-6">
                    <app-icon-card id="vliegendCard"
                                   class="kleineKaart"
                                   titel="Vliegend"
                                   subtitel="Bijzonderheden over de vliegtuigen"
                                   [icon]="iconVliegend">

                        <textarea [(ngModel)]="dagInfo.VLIEGENDMATERIEEL" name="Ingave"
                                  class="w-100 text-invoer"
                                  rows="4"></textarea>
                    </app-icon-card>
                </div>
                <div class="col-6">
                    <app-icon-card id="rollendCard"
                                   class="kleineKaart"
                                   titel="Rollend"
                                   subtitel="Bijzonderheden over het rollende materieel"
                                   [icon]="iconRollend">

                        <textarea [(ngModel)]="dagInfo.ROLLENDMATERIEEL" name="Ingave"
                                  class="w-100 text-invoer"
                                  rows="4"></textarea>
                    </app-icon-card>
                </div>
            </div>

            <div class="row rowDagInfo4">
                <div class="col-6">
                    <app-icon-card id="verslagCard"
                                   class="kleineKaart"
                                   titel="Verslag"
                                   subtitel="Toelichting en bijzonderheden"
                                   [icon]="iconVerslag">

                        <textarea [(ngModel)]="dagInfo.VERSLAG" name="Ingave"
                                  class="w-100 text-invoer"
                                  rows="4"></textarea>
                    </app-icon-card>
                </div>
                <div class="col-6">
                    <app-icon-card id="incidentCard"
                                   class="kleineKaart"
                                   titel="Incidenten"
                                   subtitel="Gevaarlijke situaties waar we van kunnen leren"
                                   [icon]="iconIncident">

                        <textarea [(ngModel)]="dagInfo.INCIDENTEN" name="Ingave"
                                  class="w-100 text-invoer"
                                  rows="4"></textarea>
                    </app-icon-card>
                </div>
            </div>

        </div>
        <div class="row" id="toolbar">
            <div class="col-6" *ngIf="this.magToevoegen">
                <app-icon-button class="toolbarBtn"
                                 tekst="Opslaan"
                                 iconNaam="far PlusSquare" (btnClicked)="opslaanDagInfo()"
                                 btnColor="btn-primary"></app-icon-button>
            </div>

            <div class="col-6">
                <div class="d-flex justify-content-end">
                    <app-icon-button class="toolbarBtn" tekst="Verwijderen" iconNaam="far TrashAlt"
                                     btnColor="btn-secondary" *ngIf="this.magVerwijderen && this.dagInfo.ID != undefined"
                                     (btnClicked)="bevestigVerwijderen()"></app-icon-button>
                </div>
            </div>
        </div>
    </div>
</app-icon-card>


<app-compose-meteo (opslaan)="dagInfo.METEO = $event"></app-compose-meteo>
<app-compose-bedrijf (opslaan)="dagInfo.VLIEGBEDRIJF = $event" [datum]="datum"></app-compose-bedrijf>