<table>
    <tr style="font-width: bold;">
        <th style="width: 70px;">Datum</th>
        <th>Agenda</th>
    </tr>
    @for (a of agenda; track a) {
        <tr>
            <ng-template #tipContent><span class="oms">{{ a.OMSCHRIJVING }}</span></ng-template>
            <td>{{ datumDM(a.DATUM) }}</td>
            <td>
                <div class="d-flex flex-row">
                    @if (a.TIJD) {
                        <div>{{ a.TIJD }}&nbsp;</div>
                    }
                    <div>{{ a.KORT }}
                        @if (a.OMSCHRIJVING) {
                            <fa-icon class="text-info ms-2 clickable"
                                     [icon]="infoIcon"
                                     [ngbPopover]="tipContent"
                                     placement="top"></fa-icon>
                        }
                    </div>
                </div>
            </td>
    </tr>
    }
</table>

