<div class="card" [ngClass]="hoogte()" >
    <div id="ZowLpM" class="admin-up" >
        <div class="d-flex">
            <div id="pREyAD" class="icon" [class.bg-primary]="!img">
                <fa-icon *ngIf="!img" [icon]="icon"></fa-icon>
                <app-avatar *ngIf="img" [url]="img" vorm="vierkant">
                    <ng-content select="[avatar]"></ng-content>
                </app-avatar>
            </div>
            <div id="DXaDWM" class="data h-100">
                <h4 class="text-primary"><strong>{{titel}}</strong></h4>
                <p class="my-0">{{subtitel}}</p>
            </div>
        </div>
        <div id="nnDsKv" class="excel" *ngIf="hasExportListener && exportEnabled">
            <img class="logo" src="{{exportImg}}" alt="excel logo" (click)="this.export()"/>
        </div>
    </div>
    <div id="qCjqJL" class="card-body h-100">
        <ng-content></ng-content>
    </div>
</div>
