<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

<ng-template #startsPopover>
EASA minimum is 15 starts en 5 uur per 24 maanden
</ng-template>
<ng-template #methodePopover>
    EASA minimum is 5 starts per startmethode per 24 maanden
</ng-template>
<ng-template #paxPopover>
    EASA minimum is 3 starts in de laatste 3 maanden
</ng-template>
<ng-template #checksPopover>
    EASA minimum is 2 trainingsvluchten per 24 maanden
</ng-template>

@if (recency) {
<div>
    @if (Vlieger && Vlieger.STATUSTYPE_ID === 1903) {
    <div>
        @if (!toonEASA) {
        <p class="easa" (click)="toonEASA = !toonEASA" [ngClass]="{'geenGeldigBrevet': geenGeldigBrevet() }">EASA</p>
        }
        @if (toonEASA) {
        <p class="easa" (click)="toonEASA = !toonEASA">Barometer</p>
        }
    </div>
    }
    @if (!toonEASA) {
    <div>
        <a aria-label="Recency in laatste 24 maanden" (click)="openRecencyPopup()" class="recencyGrafiek">
            @switch (recency.STATUS_BAROMETER) {
                @case ('groen') {
                    <div class="d-flex flex-column  groen">
                        <p class="niveau">Groene zone</p>
                        <p class="currency">{{recency.STARTS_BAROMETER}} starts en {{recency.UREN_BAROMETER}} uur</p>
                        <p class="nivTekst">Recente vliegervaring is op orde</p>
                    </div>
                }
                @case ('geel') {
                    <div class="d-flex flex-column  geel">
                        <p class="niveau">Gele zone</p>
                        <p class="currency">{{recency.STARTS_BAROMETER}} starts en {{recency.UREN_BAROMETER}} uur</p>
                        <p class="nivTekst">Meer oefening kan geen kwaad</p>
                    </div>
                }
                @case ('rood') {
                    <div class="d-flex flex-column rood">
                        <p class="niveau">Rode zone</p>
                        <p class="currency">{{recency.STARTS_BAROMETER}} starts en {{recency.UREN_BAROMETER}} uur</p>
                        <p class="nivTekst">Onvoldoende recente ervaring</p>
                    </div>
                }
            }
        </a>
        <div>
            <p class="titel">Laatste 3 maanden</p>
            <p class="beschrijving">{{recency.STARTS_DRIE_MND}} starts en {{recency.UREN_DRIE_MND}} uur</p>
        </div>
        <div>
            <p class="titel">Dit jaar</p>
            <p class="beschrijving">{{recency.STARTS_DIT_JAAR}} starts en {{recency.UREN_DIT_JAAR}} uur</p>
        </div>
        <div>
            <p class="titel">Vorig jaar</p>
            <p class="beschrijving">{{recency.STARTS_VORIG_JAAR}} starts en {{recency.UREN_VORIG_JAAR}} uur</p>
        </div>
        @if (recency.STARTS_INSTRUCTIE >= 0) {
        <div (click)="openInstructiePopup()" class="recencyGrafiek">
            <p class="titel">Instructie laatste 3 jaar</p>
            <p class="beschrijving">{{recency.STARTS_INSTRUCTIE}} starts en {{recency.UREN_INSTRUCTIE}} uur</p>
        </div>
        }
    </div>
    }

    @if (toonEASA) {
    <div>
        <div>
            <p class="titelOpenPopup" (click)="openStartPopup()">Laatste 24 maanden</p>

            <table>
                <tr>
                    <td class="w-100">
                        <p class="beschrijving">{{recency.STARTS_24_MND}} starts en {{recency.UREN_24_MND}} uur
                        <fa-icon [icon]="infoIcon" [ngbPopover]="startsPopover" placement="right"
                                 class="text-info ms-2 clickable"></fa-icon>
                        </p>
                    </td>
                    <td>
                        @if (brevet.aantal) {
                        <fa-icon class="checkIcon" [icon]="checkIcon"></fa-icon>
                        }
                        @if (!brevet.aantal) {
                        <fa-icon class="declineIcon" [icon]="declineIcon"></fa-icon>
                        }
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <ul class="listHeader">Startmethode
                            <fa-icon [icon]="infoIcon" [ngbPopover]="methodePopover" placement="right"
                                 class="text-info ms-2 clickable"></fa-icon>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="w-100">
                        <li class="beschrijving">{{recency.LIERSTARTS}} lierstarts</li>
                    </td>
                    <td>
                        @if (brevet.lierstarts === 1) {
                        <fa-icon class="checkIcon" [icon]="checkIcon"></fa-icon>
                        }
                        @if (brevet.lierstarts === 0) {
                        <fa-icon class="declineIcon" [icon]="declineIcon"></fa-icon>
                        }
                    </td>
                </tr>
                @if (brevet.sleepstart !== -1) {
                <tr>
                    <td class="w-100">
                        <li class="beschrijving">{{recency.SLEEPSTARTS}} sleepstarts</li>
                    </td>
                    <td>
                        @if (brevet.sleepstart === 1) {
                        <fa-icon class="checkIcon" [icon]="checkIcon"></fa-icon>
                        }
                        @if (brevet.sleepstart === 0) {
                        <fa-icon class="declineIcon" [icon]="declineIcon"></fa-icon>
                        }
                    </td>
                </tr>
                }
                @if (brevet.zelfstarts !== -1) {
                <tr>
                    <td class="w-100">
                        <li class="beschrijving">{{recency.ZELFSTARTS}} zelfstarts</li>
                    </td>
                    <td>
                        @if (brevet.zelfstarts === 1) {
                        <fa-icon class="checkIcon" [icon]="checkIcon"></fa-icon>
                        }
                        @if (brevet.zelfstarts === 0) {
                        <fa-icon class="declineIcon" [icon]="declineIcon"></fa-icon>
                        }
                    </td>
                </tr>
                }
                @if (brevet.tmgstarts > 0) {
                <tr>
                    <td class="w-100">
                        <li class="beschrijving">{{recency.TMGSTARTS}} TMG starts</li>
                    </td>
                    <td>
                        @if (brevet.tmgstarts === 1) {
                        <fa-icon class="checkIcon" [icon]="checkIcon"></fa-icon>
                        }
                        @if (brevet.tmgstarts === 0) {
                        <fa-icon class="declineIcon" [icon]="declineIcon"></fa-icon>
                        }
                    </td>
                </tr>
                }

                @if (brevet.pax !== -1) {
                <tr>
                    <td class="w-100">
                        <div class="beschrijving">Passagiers vliegen
                            <fa-icon [icon]="infoIcon" [ngbPopover]="paxPopover" placement="right"
                                     class="text-info ms-2 clickable"></fa-icon>
                        </div>
                    </td>
                    <td>
                        @if (brevet.pax === 1) {
                        <fa-icon class="checkIcon" [icon]="checkIcon"></fa-icon>
                        }
                        @if (brevet.pax === 0) {
                        <fa-icon class="declineIcon" [icon]="declineIcon"></fa-icon>
                        }
                    </td>
                </tr>
                }
                <tr>
                    <td class="w-100">
                        <div class="beschrijving">Medical</div>
                    </td>
                    <td>
                        @if (brevet.medical) {
                        <fa-icon class="checkIcon" [icon]="checkIcon"></fa-icon>
                        }
                        @if (!brevet.medical) {
                        <fa-icon class="declineIcon" [icon]="declineIcon"></fa-icon>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="w-100">
                        <div class="beschrijving"><span style="color: #0e6ffd; font-weight: bold; text-decoration: underline; cursor: pointer" (click)="toonCheckDatum()">Trainingsvluchten</span>
                            <fa-icon [icon]="infoIcon" [ngbPopover]="checksPopover" placement="right"
                                     class="text-info ms-2 clickable"></fa-icon>
                        </div>
                    </td>
                    <td>
                        @if (recency.CHECKS.length >= 2) {
                        <fa-icon class="checkIcon" [icon]="checkIcon"></fa-icon>
                        }
                        @if (recency.CHECKS.length < 2) {
                        <fa-icon class="declineIcon" [icon]="declineIcon"></fa-icon>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
    }
</div>
}

@if (isLoading) {
    <div class="spinnerOverlay">
        <app-loader></app-loader>
    </div>
}

<app-recency-grafiek [VliegerID]="Vlieger.ID!"></app-recency-grafiek>
<app-instructie-grafiek [VliegerID]="Vlieger.ID!"></app-instructie-grafiek>
<app-start-grafiek [VliegerID]="Vlieger.ID!"></app-start-grafiek>
