.rood {
  background-color: #dc3545;
  text-align: center;
  color: white;
  border-radius: 5px;
}

.geel {
  background-color: #ffc107;
  text-align: center;
  border-radius: 5px;
}

.groen {
  background-color: #28a745;
  text-align: center;
  border-radius: 5px;
}

.niveau {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}

.currency {
  margin-top: -3px;
  margin-bottom: 8px;
}

.nivTekst {
  margin-bottom: 1px;
  font-style: italic;
}

.titel {
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 5px;
}

.beschrijving {
  margin-top: 0px;
  margin-bottom: 2px;
}
