<app-modal titel="Journaal">
    <div body>
        @if (isLoading) {
            <div class="spinnerOverlay">
                <div class="spinnerPosition">
                    <span><img src="../../../../assets/img/zandloper.gif" alt="zandloper, even wachten" width=100px> Data wordt geladen .....</span>
                </div>
            </div>
        } @if (!isLoading) {
        <div class="spinnerOverlay">
            <div id="datacard" class="data">
                @for (melding of data; track melding; let i = $index) {
                    <div>
                        <app-journaal-card [melding]="melding"></app-journaal-card>
                    </div>
                }
            </div>
        </div>
    }
    </div>
</app-modal>
