<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>


<app-modal titel="Transactie editor">
    <div body>
        <app-lid-invoer id="LID" *ngIf="toonLidSelectie"
                        placeholder="Selecteer lid"
                        label="Lid"
                        [LID_ID]="lidID"
                        excludeLidTypes="600,607,609,610,612,613,625"
                        [required] = true
                        [leden]="leden"
                        (LidChanged)="lidGeselecteerd($event)"
        ></app-lid-invoer>

        <fieldset>
            <div class="row">
                <div class="col-12 col-md-6">
                    <label for="EENHEDEN" class="form-label">Strippen</label>
                    <input name="callsign" type="number" class="form-control" id="EENHEDEN"
                           [required]="!EENHEDEN && !BEDRAG"
                           [(ngModel)]="EENHEDEN">
                </div>
                <div class="col-12 col-md-6">
                    <label for="BEDRAG" class="form-label">Bedrag</label>
                    <input name="BEDRAG" type="number" class="form-control" id="BEDRAG"
                           [required]="!EENHEDEN && !BEDRAG"
                           [(ngModel)]="BEDRAG">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label for="OMSCHRIJVING" class="form-label">Omschijving</label>
                    <input [(ngModel)]="OMSCHRIJVING" name="OMSCHRIJVING" id="OMSCHRIJVING"
                              class="form-control w-100" required>
                </div>
            </div>
        </fieldset>
    </div>

    <div footer class="w-100">
        <app-icon-button
                iconNaam="fas Plus" btnColor="btn-primary"
                tekst="Opslaan"
                [disabled]="(!EENHEDEN && !BEDRAG) || !OMSCHRIJVING || !lidID"
                [toonKlein]="false"
                (btnClicked)="opslaan()">
        </app-icon-button>
    </div>
</app-modal>
