.namenInvullen {
  padding-left: 10px;
  background-color: lightgray;
  padding-bottom: 10px;
  border-radius: 5px;
}

#switchVoorAchter {
  padding-bottom: 8px;
}


.SMinvalid {
  color: #fdc621;
}

ng-select.ng-invalid {
  border: 1px solid #ffc107;
}

