.namenInvullen {
  padding-left: 10px;
  background-color: lightgray;
  padding-bottom: 10px;
  border-radius: 5px;
}

#switchVoorAchter {
  padding-bottom: 8px;
}


.SMinvalid {
  color: #cf9d07;
}

ng-select.ng-invalid {
  border: 1px solid #ffc107;
}

.cssWarning {
  color: #ff0f07;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
