<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

<ng-template #alleenPAX>
    Alleen vliegers met passagersbevoegdheid mogen deze vlucht uitvoeren.
</ng-template>

<ng-template #alleenInstructeurs>
    Voor een instructievlucht moet een instructeur achterin zitten.
</ng-template>

<app-modal [titel]="formTitel">
    <div body>
        <fieldset [disabled]="isVerwijderMode || isRestoreMode || isLoading || isSaving">
            <div class="row mb-2" >
                <div class="col-12 col-md-5">
                    <label for="DATUM" class="form-label">Datum</label>
                    <div class="input-group">
                        <div class="input-group-append">
                            <app-icon-button iconNaam="far Calendar" (btnClicked)="d.toggle()" [disabled]="!magDatumAanpassen"
                                             btnColor="btn-primary"></app-icon-button>
                        </div>
                        <input name="start" class="form-control dateInput" placeholder="dd-mm-yyyy" readonly
                               ngbDatepicker #d="ngbDatepicker"
                               id="datum"
                               [ngClass]="magDatumAanpassen ? 'datumInputReadOnly' : ''"
                               [disabled]="!magDatumAanpassen"
                               (keydown)="$event.preventDefault();"
                               [minDate]="{year: minDatum.year, month: minDatum.month, day: minDatum.day}"
                               [maxDate]="{year: vandaag.year, month: vandaag.month, day: vandaag.day}"
                               [(ngModel)]="startDatum"
                               (dateSelect)="datumAanapssen($event)"
                        >

                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <app-vliegtuig-invoer id="VLIEGTUIG"
                                          [disabled]="isVerwijderMode || isRestoreMode"
                                          [VLIEGTUIG_ID]="start.VLIEGTUIG_ID"
                                          [aanwezig]="(start.DATUM == datum.toISODate()) ? aanwezigVliegtuigen : []"
                                          [vliegtuigen]="vliegtuigen"
                                          (VliegtuigChanged)="vliegtuigGeselecteerd($event)"
                                          label="Vliegtuig"
                    ></app-vliegtuig-invoer>
                </div>
            </div>
            <div class="row">

                <div class="col-12 col-md-5" *ngIf="start.VLIEGTUIG_ID">
                    <label for="VELD" class="form-label">Veld</label>
                    <ng-select id="VELD"
                               [disabled]="isVerwijderMode || isRestoreMode"
                               [items]="veldenTypes$ | async"
                               placeholder="Start veld"
                               bindLabel="OMSCHRIJVING"
                               bindValue="ID"
                               closeOnSelect="true"
                               openOnEnter="true"
                               required
                               [(ngModel)]="start.VELD_ID">
                    </ng-select>
                </div>
                <div class="col-12 col-md-3" *ngIf="start.VLIEGTUIG_ID">
                    <label for="BAAN" class="form-label">Strip</label>
                    <ng-select id="BAAN"
                               [disabled]="isVerwijderMode || isRestoreMode"
                               [items]="baanTypes$ | async"
                               placeholder="Strip"
                               bindLabel="OMSCHRIJVING"
                               bindValue="ID"
                               closeOnSelect="true"
                               openOnEnter="true"
                               [(ngModel)]="start.BAAN_ID">
                    </ng-select>
                </div>
                <div class="col-4 flex-row align-self-end">
                    <div class="col-12" *ngFor="let radiobutton of startMethodeTypesFiltered">
                        <label ngClass.lt-md="mb-2">
                            <div class="SMinvalid"></div>
                            <input type="radio" name="options"
                                   (click)="start.STARTMETHODE_ID = radiobutton.ID"
                                   [checked]="start.STARTMETHODE_ID === radiobutton.ID">
                            <span class="ms-3" [ngClass]="StartMethodeIngevuld()">{{radiobutton.OMSCHRIJVING}}</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row mt-2" *ngIf="start.VLIEGTUIG_ID && start.STARTMETHODE_ID === 501">
                <div class="col-12 col-md-6">
                    <label for="SLEEPVLIEGTUIG" class="form-label">Sleepkist</label>
                    <app-vliegtuig-invoer id="SLEEPVLIEGTUIG"
                                          Sleep="true"
                                          verplicht="false"
                                          [disabled]="isVerwijderMode || isRestoreMode"
                                          [aanwezig]="aanwezigVliegtuigen"
                                          [vliegtuigen]="vliegtuigen"
                                          (VliegtuigChanged)="start.SLEEPKIST_ID = $event"
                    ></app-vliegtuig-invoer>
                </div>
                <div class="col-12 col-md-6">
                    <label for="SLEEPHOOGTE" class="form-label">Sleep hoogte</label>
                    <input name="sleephoogte" type="number" class="form-control" id="SLEEPHOOGTE"
                           [(ngModel)]="start.SLEEP_HOOGTE"
                           placeholder="Invullen indien bekend"
                           min="300" max="1500" step="50"
                    >
                </div>
            </div>

            <div class="row mt-2" *ngIf="start.VLIEGTUIG_ID && toonStartMethode && gekozenVliegtuig?.ZITPLAATSEN === 2">
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <div *ngIf="start.CHECKSTART !== true && start.INSTRUCTIEVLUCHT !== true && magPaxVliegen()"
                             ngClass.lt-md="mb-2">
                            <input name="PAX" type="checkbox" class="form-check-input" id="PAX"
                                   [(ngModel)]="start.PAX">
                            <label class="form-check-label ms-2" for="PAX">
                                Passagiers start
                            </label>
                        </div>
                        <div *ngIf="start.PAX !== true && kanInstructieVluchtZijn()" ngClass.lt-md="mb-2">
                            <input name="PAX" type="checkbox" class="form-check-input" id="INSTRUCTIEVLUCHT"
                                   [(ngModel)]="start.INSTRUCTIEVLUCHT">
                            <label class="form-check-label ms-2" for="PAX">
                                Instructie start
                            </label>
                        </div>
                        <div *ngIf="start.PAX !== true && start.INSTRUCTIEVLUCHT && magCheckZetten()"
                             ngClass.lt-md="mb-2">
                            <input name="CHECKSTART" type="checkbox" class="form-check-input" id="CHECKSTART"
                                   [(ngModel)]="start.CHECKSTART">
                            <label class="form-check-label ms-2" for="CHECKSTART">
                                Trainingsvlucht
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-2" *ngIf="start.VLIEGTUIG_ID">
                <div class="col-10 col-md-10">
                    <div class="row" *ngIf="start.VLIEGTUIG_ID">
                        <div class="col-12 col-md-12">
                            <div>
                                <app-lid-invoer id="VLIEGER"
                                                [placeholder]="gekozenVliegtuig?.ZITPLAATSEN === 2 ? 'Wie zit voorin?' : 'Wie is de vlieger' "
                                                [label]="gekozenVliegtuig?.ZITPLAATSEN === 2 ? 'Voorin' : 'Vlieger' "
                                                [LID_ID]="start.VLIEGER_ID"
                                                [disabled]="isVerwijderMode || isRestoreMode || ((VliegerID === start.VLIEGER_ID && VliegerID >0) && !magAltijdWijzigen)"
                                                [aanwezig]="aanwezigLeden"
                                                [excludeLidTypes]="exclLidtypeAlsVlieger"
                                                [leden]="leden"
                                                [alleenPaxVliegers]="start.PAX"
                                                [vliegtuig]="gekozenVliegtuig"
                                                [veldID]="start.VELD_ID"
                                                (LidChanged)="vliegerGeselecteerd($event)"
                                                [uitleg]="start.PAX ? alleenPAX : undefined"
                                ></app-lid-invoer>
                            </div>
                            <div *ngIf="toonWaarschuwing && !start.INSTRUCTIEVLUCHT" class="flex-row cssWarning">
                                <div class="fas fa-exclamation-triangle "></div>
                                Vlieger onbevoegd
                            </div>
                            <div *ngIf="medicalWaarschuwing && !start.INSTRUCTIEVLUCHT" class="flex-row cssWarning">
                                <div class="fas fa-exclamation-triangle "></div>
                                Controleer medical
                            </div>
                        </div>
                    </div>

                    <div class="namenInvullen" *ngIf="toonVliegerNaam">
                        <label for="VLIEGER_NAAM" class="form-label">Naam van de vlieger</label>
                        <div class="d-flex flex-row">
                            <input required name="vliegernaam" type="text" class="form-control" id="VLIEGER_NAAM"
                                   [(ngModel)]="start.VLIEGERNAAM"
                                   placeholder="Vul de volledige naam in"
                                   min="0" *ngIf="!toonGastCombobox">
                            <app-gast-invoer *ngIf="toonGastCombobox" class="w-100"
                                             [DATUM]="startDatum"
                                             (gast)="start.VLIEGERNAAM = $event"
                                             (opmerking)="start.OPMERKINGEN = $event">
                            </app-gast-invoer>
                            <button class="ms-1 btn btn-noborder gastBtn" (click)="toonGastCombobox = !toonGastCombobox"
                                    [ngClass]="toonGastCombobox ? 'gastBtnAan': 'gastBtnUit'">
                                <fa-icon [icon]="gastIcon" class="gastIcon"></fa-icon>
                            </button>
                        </div>
                    </div>

                    <div class="row my-2"
                         *ngIf="gekozenVliegtuig?.ZITPLAATSEN === 2 && toonInzittendeNaam < 2 && !start.PAX">
                        <div class="col-12 col-md-12">
                            <app-lid-invoer id="INZITTENDE"
                                            placeholder="Wie zit achterin"
                                            label="Achterin"
                                            [LID_ID]="start.INZITTENDE_ID"
                                            [disabled]="isVerwijderMode || isRestoreMode || ((VliegerID === start.INZITTENDE_ID && VliegerID >0) && !magAltijdWijzigen)"
                                            [aanwezig]="aanwezigLeden"
                                            [excludeLidTypes]="exclLidtypeAlsInzittende"
                                            [alleenInstructeurs]="start.INSTRUCTIEVLUCHT"
                                            [leden]="leden"
                                            (LidChanged)="inzittendeGeselecteerd($event)"
                                            [uitleg]="start.INSTRUCTIEVLUCHT ? alleenInstructeurs : undefined"
                            ></app-lid-invoer>
                            <div *ngIf="toonWaarschuwing && start.INSTRUCTIEVLUCHT" class="flex-row cssWarning">
                                <div class="fas fa-exclamation-triangle "></div>
                                Vlieger onbevoegd
                            </div>
                            <div *ngIf="medicalWaarschuwing && start.INSTRUCTIEVLUCHT" class="flex-row cssWarning">
                                <div class="fas fa-exclamation-triangle "></div>
                                Controleer medical
                            </div>
                        </div>
                    </div>

                    <div class="namenInvullen" *ngIf="start.PAX || toonInzittendeNaam > 0">
                        <label for="INZITTENDE_NAAM" class="form-label">Naam van de inzittende</label>
                        <div class="d-flex flex-row">
                            <input name="inzittende" type="text" class="form-control" id="INZITTENDE_NAAM"
                                   [(ngModel)]="start.INZITTENDENAAM"
                                   placeholder="Vul de volledige naam in"
                                   min="0" *ngIf="!toonGastCombobox">
                            <app-gast-invoer *ngIf="toonGastCombobox" class="w-100"
                                             [DATUM]="startDatum"
                                             (gast)="start.INZITTENDENAAM = $event"
                                             (opmerking)="start.OPMERKINGEN = $event">
                            </app-gast-invoer>
                            <button class="ms-1 btn btn-noborder" (click)="toonGastCombobox = !toonGastCombobox"
                                    [ngClass]="toonGastCombobox ? 'gastBtnAan': 'gastBtnUit'">
                                <fa-icon [icon]="gastIcon" class="gastIcon"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-2 col-md-2 row align-items-center">
                    <app-icon-button id="switchVoorAchter" class="toolbarBtn display-1" iconNaam="fas ExchangeAlt"
                                     (btnClicked)="omwisselen()"
                                     *ngIf="magOmwisselen()"
                                     btnColor="btn-secondary"></app-icon-button>
                </div>
            </div>

            <div class="row my-2"
                 *ngIf="(!isVerwijderMode && start.VLIEGTUIG_ID) || (isVerwijderMode && start.OPMERKINGEN)">
                <div class="opmerkingInvoer">
                    <label for="OPMERKINGEN" class="form-label">Opmerkingen</label>
                    <input name="inzittende" type="text" class="form-control" id="OPMERKINGEN"
                           [(ngModel)]="start.OPMERKINGEN"
                           placeholder="Opmerking, bijv naam inzittende, vliegveld etc"
                    >
                </div>
            </div>
        </fieldset>
    </div>
    <div footer>
        <app-icon-button
                *ngIf="!isLoading && !isSaving && start.ID !== undefined && !isRestoreMode && !isVerwijderMode"
                iconNaam="fas Edit" btnColor="btn-primary" [toonKlein]=false
                tekst="Opslaan" [disabled]="opslaanDisabled()" (btnClicked)="uitvoeren()"></app-icon-button>
        <app-icon-button
                *ngIf="!isLoading && !isSaving && start.ID === undefined && !isRestoreMode && !isVerwijderMode"
                iconNaam="fas Plus" btnColor="btn-primary" [toonKlein]=false
                tekst="Opslaan" [disabled]="opslaanDisabled()" (btnClicked)="uitvoeren()"></app-icon-button>
        <app-icon-button *ngIf="!isLoading && !isSaving && isVerwijderMode" iconNaam="fas TrashAlt"
                         btnColor="btn-primary editorDeleteBtn" [toonKlein]=false
                         tekst="Verwijderen" (btnClicked)="uitvoeren()"></app-icon-button>
        <app-icon-button *ngIf="!isLoading && !isSaving && isRestoreMode" iconNaam="fas Undo"
                         btnColor="btn-primary editorRestoreBtn" [toonKlein]=false
                         tekst="Herstellen" (btnClicked)="uitvoeren()"></app-icon-button>

        <button class="btn btn-primary" *ngIf="isLoading || isSaving">
            <span><app-loader></app-loader></span>
        </button>
    </div>
</app-modal>
