img {
  object-fit: cover;
}

.cirkel {
  margin-top: 2px;

  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.vierkant {
  border-radius: 5px;
  width: 2.5em;
  height: 2.5em;
}

.volBeeld {
  width: 100%;
  border-radius: 20px;
}
