<label for="LID" class="form-label" *ngIf="label">{{label}}</label>

<fa-icon class="text-info ms-2 clickable" *ngIf="uitleg" [icon]="infoIcon"
         [ngbPopover]="uitleg"
         placement="right"></fa-icon>

<ng-select id="LID"
           [items]="ledenSelectie$ | async"
           [disabled]="disabled"
           [placeholder]="placeholder"
           [required]="required"
           bindLabel="NAAM"
           bindValue="LID_ID"
           closeOnSelect="true"
           openOnEnter="true"
           (ngModelChange)="inputChange($event)"
           [typeahead]="lidInput$"
           [(ngModel)]="LID_ID">
</ng-select>
