<app-pegasus-card titel="Documenten"
                  subtitel="Verzameling van documenten die van belang zijn voor onze leden"
                  [icon]="iconCardIcon">

    <div class="d-flex flex-column justify-content-between box h-100">
        <div class="content">
            <div class="mb-2">
                <div class="row mt-n8">
                    @for (docGroep of documentGroepen; track docGroep; let i = $index) {
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="card mb-2">
                                <div class="d-flex w-100 groepHeader">
                                    <div class="docContent">
                                        @if (editMode) {
                                            <fa-icon [icon]="toevoegenIcon" class="addBtn me-2 clickable"
                                                     (click)="toevoegen(docGroep.ID);"
                                            ></fa-icon>
                                        }
                                        {{ docGroep.OMSCHRIJVING }}
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    @for (doc of toonDocumenten(docGroep.ID); track doc; let d = $index) {
                                        <div>
                                            <div (dblclick)="aanpassen(doc.ID)"
                                                 class="d-flex justify-content-between w-100"
                                                 [ngClass]="{'bovenlijn': doc.ONDERSTREEP && doc.BOVEN, 'onderlijn': doc.ONDERSTREEP && !doc.BOVEN }">
                                                @if (deleteMode && !trashMode) {
                                                    <button class="docContent btn btn-noborder"
                                                            (click)="delete(doc.ID)">
                                                        <fa-icon [icon]="deleteIcon" class="deleteBtn"></fa-icon>
                                                    </button>
                                                } @if (trashMode) {
                                                <button class="docContent btn btn-noborder" (click)="restore(doc.ID)">
                                                    <fa-icon [icon]="restoreIcon" class="restoreBtn"></fa-icon>
                                                </button>
                                            } @if (!doc.LEGE_REGEL && !editMode) {
                                                <div class="w-100">
                                                    @if (doc.URL) {
                                                        <div class="docContent linkButton"
                                                             (click)="openUrl(doc.URL)">{{ doc.TEKST }}
                                                        </div>
                                                    } @if (!doc.URL) {
                                                    <div class="docContent paragraafHeader w-100">{{ doc.TEKST }}</div>
                                                }
                                                </div>
                                            } @if (editMode) {
                                                <div class="docContent w-100"
                                                     [ngClass]="{'paragraafHeader': !doc.URL && !doc.LEGE_REGEL}"> {{ doc.TEKST }}
                                                </div>
                                            } @if (doc.LEGE_REGEL) {
                                                <div>&nbsp;</div>
                                            } @if (editMode) {
                                                <div class="d-flex"
                                                     [ngClass]="{'paragraafHeader': !doc.URL && !doc.LEGE_REGEL}">
                                                    @if (toonOmhoogOmlaag(docGroep.ID)) {
                                                        <fa-icon [icon]="upIcon" class="upBtn me-2 clickable"
                                                                 (click)="omhoog(doc.ID);"
                                                        ></fa-icon>
                                                    } @if (toonOmhoogOmlaag(docGroep.ID)) {
                                                    <fa-icon [icon]="downIcon" class="downBtn me-2 clickable"
                                                             (click)="omlaag(doc.ID);"
                                                    ></fa-icon>
                                                }
                                                </div>
                                            }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
        @if (magAanpassen) {
            <div class="row" id="toolbar">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <app-icon-button class="toolbarBtn"
                                             tekst="Aanpassen"
                                             [disabled]="deleteMode"
                                             iconNaam="far Edit" (btnClicked)="editMode = !editMode"
                                             btnColor="btn-primary"></app-icon-button>
                            @if (deleteMode) {
                                <div>
                                    <app-status-button
                                            class="toolbarBtn"
                                            tekst="Archief"
                                            [actief]="trashMode"
                                            (btnClicked)="trashModeJaNee($event)"
                                            iconNaam="fas Inbox">
                                    </app-status-button>
                                </div>
                            }
                        </div>
                        @if (!deleteMode) {
                            <app-icon-button class="toolbarBtn" tekst="Verwijderen" iconNaam="far TrashAlt"
                                             btnColor="btn-secondary" [disabled]="editMode"
                                             (btnClicked)="deleteModeJaNee()"></app-icon-button>
                        } @if (deleteMode) {
                        <app-icon-button class="toolbarBtn" tekst="Terug" iconNaam="far ArrowAltCircleLeft"
                                         btnColor="btn btn-outline-primary"
                                         (btnClicked)="deleteModeJaNee()"></app-icon-button>
                    }
                    </div>
                </div>
            </div>
        }
    </div>
</app-pegasus-card>

<app-document-editor (refresh)="opvragen()"></app-document-editor>
