
.volSchermWeekView {
  height: calc(100vh - 220px);
  overflow-y: auto;
}

.volSchermDagView {
  height: calc(100vh - 220px);
  overflow: auto;
}

.spinnerOverlay {
  position: absolute; /* Sit on top of the page content */
  top: calc(50% - 70px);
  left: calc(50% - 150px);
  font-size: 20px;
  color: #e6ca87;
  z-index: 2;
}

.dagInRooster {
  position: relative;

  .stripDagview {
    top: -50px !important;
    right: 90px !important;
  }

  .strip {
    position: absolute;
    top: -8px;

    .stripTxt {
      z-index: 3;
      top: 3px;
      position: absolute;
      width: 30px;
      text-align: center;
      color: white;
    }
  }
}

.aanwezigenLijst {
  vertical-align: top;
}

.lierBedrijf {
  font-size: smaller;
  color: #9a9a9a;
  font-style: italic;
}

.sleepBedrijf {
  font-size: smaller;
  color: #9a9a9a;
  font-style: italic;
}

.geenBedrijf {
  font-weight: bold;
  font-size: smaller;
  color: red;

}

.dagHeader {
  background-color: #ececec;
}

.gastenHeader {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0 9px;
  color: #989797;
}

.nowrap {
  display: flex;
}

.icoontje {
  margin-left: 5px;
  padding-left: 2.5px;
  padding-right: 2px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 1px solid #626161FF;
  color: black;
  text-align: center;
  font: 13px "Courier New"
}

.infoIcon {
  font-size: large;
  color: #0e6ffd;
  padding-right: 0.5em;
}

.barometer {
  height: 15px;

  border-radius: 9px;
  min-width: 15px;
  margin-right: 5px;
  margin-top: 4px;
}

.barometer-rood {
  background-color: #dc3545;
}

.barometer-geel {
  background-color: #ffc107;
}

.barometer-groen {
  background-color: #28a745;
}

.stripImg {
  position: relative;
  width: 30px;
}

.DDWVtegoed {
  cursor: pointer;
  position: relative;
  float: right;
  margin-top: -70px;
  padding: 10px 10px 10px 10px;

  background-color: #28a745;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.verwijderd {
  text-decoration: line-through;
}

.vertrokken {
  font-style: italic;
}


.niet-betaald {
  color: #edc61d;
  align-content: center;
}

.starts
{
  font-weight: 200;
  color: #8c8c8c;
}