.headerRow {
  background-color: #d5ac4a ;
  text-align: center;
}

.cel {
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  border: solid 0.3em white;
}

.vtype {
  padding-right: 5px;
}
