.nietBetaaldRow {
  color: #9a9a9a;
}

.nietBetaald {
  font-size: smaller;
  font-style: italic;
}

.transactieCard {
  border-radius: 8px;
  border-color: #9a9a9a;
  border-style: solid;

  background-color: #d1d1d1;
  padding-bottom: 5px;
  margin: 3px;
  padding-left: 5px;
  padding-right: 7px;
}
