<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

<div class="h-100">
    <app-datatable
            [id]=id
            [rowData]="data"
            [columnDefs]="columns"
            [loading]="isLoading"
            [rowClassRules]="rowClassRules"
            [frameworkComponents]="frameworkComponents"
            (rowDoubleClicked)="openStartEditor($event)"
            class="h-100">
    </app-datatable>

    <app-tijd-invoer></app-tijd-invoer>
    <app-start-editor [VliegerID]="VliegerID"></app-start-editor>
    <app-track-editor></app-track-editor>
</div>
