<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

@if (!toonLogboekKlein) {
    <div class="gridHoogte">
    <app-datatable
            [id]=id
            [rowData]="data"
            [columnDefs]="columns"
            [loading]="isLoading"
            [rowClassRules]="rowClassRules"
            [frameworkComponents]="frameworkComponents"
            (rowDoubleClicked)="openStartEditor($event.data)"
            [pagination]="true"
            class="h-100">
    </app-datatable>
    </div>
} @if (toonLogboekKlein) {
    <div class="mobielHoogte">
        @for (vlucht of data; track vlucht; let i = $index) {
            <div>
                @if (i < MaxItems) {
                    <div>
            <app-vlucht-card [logboek]="vlucht"></app-vlucht-card>
                    </div>
                }
            </div>
        }
    </div>
}

<app-tijd-invoer></app-tijd-invoer>
<app-start-editor [VliegerID]="VliegerID"></app-start-editor>
<app-track-editor></app-track-editor>

