<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

<div class="gridHoogte" *ngIf="!toonLogboekKlein">
    <app-datatable
            [id]=id
            [rowData]="data"
            [columnDefs]="columns"
            [loading]="isLoading"
            [rowClassRules]="rowClassRules"
            [frameworkComponents]="frameworkComponents"
            (rowDoubleClicked)="openStartEditor($event.data)"
            [pagination]="true"
            class="h-100">
    </app-datatable>
</div>
<div class="mobielHoogte" *ngIf="toonLogboekKlein">
    <div *ngFor="let vlucht of data;let i = index">
        <div *ngIf="i < MaxItems">
            <app-vlucht-card [logboek]="vlucht"></app-vlucht-card>
        </div>
    </div>
</div>

<app-tijd-invoer></app-tijd-invoer>
<app-start-editor [VliegerID]="VliegerID"></app-start-editor>
<app-track-editor></app-track-editor>

