<ng-template #medicalVerlopen>
    Uw medical is verlopen
</ng-template>

<ng-template #medicalOntbreekt>
    Uw medical is niet ingevuld
</ng-template>

<ng-template #avatarOntbreekt>
    Uw avatar ontbreekt, graag toevoegen.
</ng-template>

<nav class="h-100">
    @if (!hoofdscherm) {
        <ng-container [ngTemplateOutlet]="menuInside"></ng-container>
    } @if (hoofdscherm) {
    <ng-container class="d-flex h-100" [ngTemplateOutlet]="menuScherm"></ng-container>
}
</nav>

<ng-template #menuScherm>
    <div class="h-100 row">
        @if (!showBeheer) {
            <div class="row">
                @for (route of activeRoutes(); track route; let i = $index) {
                    <div class="p-0 col-12 col-sm-6 col-md-3">
                        <a class="menuButton menuItemScherm"
                           routerLinkActive="active"
                           [routerLink]="'/' + route.path"
                        >
                            <div class="text-nowrap">
                                <fa-icon [icon]="route.icon" class="me-3"></fa-icon>
                                {{ route.text }}
                                @if (route.batch) {
                                    <div class="badge bg-danger ms-2" [innerHTML]="route.batch"></div>
                                }
                            </div>
                        </a>
                    </div>
                } @for (menuItem of urlMenuItems; track menuItem; let i = $index) {
                <div class="p-0 col-12 col-sm-6 col-md-3">
                    <a class="menuButton menuItemScherm" style="{{ menuItem.css }}" href="{{ menuItem.Url }}"
                       target="_blank">
                        <div class="text-nowrap">
                            <fa-icon [icon]="toonIcon(menuItem.Icon)" class="me-3"></fa-icon>
                            {{ menuItem.Titel }}
                        </div>
                    </a>
                </div>
            }
                <div class="p-0 col-12 col-sm-6 col-md-3">
                    <a class="menuButton menuItemScherm" (click)="Uitloggen()">
                        <fa-icon [icon]="logUitIcon" class="me-3"></fa-icon>
                        Uitloggen
                    </a>
                </div>
            </div>
        }

        <div class="flex-grow-1"></div>
        @if (!this.loginService.userInfo?.Userinfo.isStarttoren) {
            <div class="-d-flex row align-content-end">
                <div class="p-0 col-12 col-sm-6 col-md-3">
                    <a class="menuButton menuItemScherm" (click)="showBeheer = !showBeheer">
                        <fa-icon [icon]="beheerIcon" class="me-3"></fa-icon>
                        Beheer
                    </a>
                </div>
                @if (showBeheer) {
                    <div>
                        @for (route of activeBeheerRoutes(); track route; let i = $index) {
                            <div class="p-0 col-12 col-sm-6 col-md-3">
                                <a
                                        class="menuButton menuItemScherm"
                                        routerLinkActive="active"
                                        [routerLink]="'/' + route.path"
                                >
                                    <div class="text-nowrap">
                                        <fa-icon [icon]="route.icon" class="me-3"></fa-icon>
                                        {{ route.text }}
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                } @if (!showBeheer) {
                <div class="p-0">
                    @if (kleineDatum()) {
                        <div class="d-flex">
                            <div class="datumVeld">{{ datumDMY }}</div>
                            <app-icon-button iconNaam="far Calendar" (btnClicked)="popupKalender.openPopup()"
                                             btnColor="btn-primary"></app-icon-button>
                        </div>
                    } @if (!kleineDatum() && !showBeheer) {
                    <div class="w-100 overflow-auto" style="max-width: 280px;">
                        <app-vliegdag-selectie
                        ></app-vliegdag-selectie>
                    </div>
                }
                </div>
            }
            </div>
        }
    </div>
</ng-template>

<ng-template #menuInside>
    <div class="card ps-0 rounded-0">
        <div class="linker-menu d-flex flex-column justify-content-between min-vh-100'"
             [ngClass]="{'linker-menu-smal': kleineDatum()}">

            <div class="list-group list-group-flush p-3">
                @if (toonLogo()) {
                    <div class="logoContainer">
                        <img src="/assets/img/logo.png" class="logo" alt="logo">
                    </div>
                } @for (route of activeRoutes(); track route) {
                <a
                        class="list-group-item list-group-item-action waves-effect py-2"
                        routerLinkActive="active"
                        [routerLink]="route.path"
                >
                    <div class="text-nowrap">
                        <fa-icon [icon]="route.icon" class="me-3"></fa-icon>
                        {{ route.text }}
                        @if (route.batch) {
                            <div class="badge bg-danger ms-2" [innerHTML]="route.batch"></div>
                        }
                    </div>
                </a>
            } @for (menuItem of urlMenuItems; track menuItem) {
                <a class="list-group-item list-group-item-action waves-effect py-2" style="{{ menuItem.css }}"
                   href="{{ menuItem.Url }}" target="_blank">
                    <div class="text-nowrap">
                        <fa-icon [icon]="toonIcon(menuItem.Icon)" class="me-3"></fa-icon>
                        {{ menuItem.Titel }}
                    </div>
                </a>
            }

                <a class="list-group-item list-group-item-action waves-effect"
                   (click)="Uitloggen()">
                    <fa-icon [icon]="logUitIcon" class="me-3"></fa-icon>
                    Uitloggen
                </a>
            </div>

            <!-- onderste sectie -->
            @if (!this.loginService.userInfo?.Userinfo.isStarttoren) {
                <div class="list-group list-group-flush p-3">
                    <!-- Beheer -->
                    @if (!beheerExcluded) {
                        <a class="list-group-item list-group-item-action waves-effect beheer"
                           (click)="showBeheer = !showBeheer">
                            <fa-icon [icon]="beheerIcon" class="me-3"></fa-icon>
                            Beheer
                            @if (showBeheer) {
                                <div>
                                    @for (route of activeBeheerRoutes(); track route) {
                                        <a
                                                class="list-group-item list-subgroup-item list-group-item-action waves-effect py-2"
                                                routerLinkActive="active"
                                                [routerLink]="route.path"
                                        >
                                            <div class="text-nowrap">
                                                <fa-icon [icon]="route.icon" class="ms-3 me-3"></fa-icon>
                                                {{ route.text }}
                                            </div>
                                        </a>
                                    }
                                </div>
                            }
                        </a>
                    }
                    <div class="w-100 overflow-auto" [ngClass]="{'verbergDatum': kleineDatum() || showBeheer}">
                        <app-vliegdag-selectie
                        ></app-vliegdag-selectie>
                    </div>
                    @if (kleineDatum()) {
                        <div class="list-group-item d-flex">
                            <div class="datumVeld">{{ datumDMY }}</div>
                            <app-icon-button iconNaam="far Calendar" (btnClicked)="popupKalender.openPopup()"
                                             btnColor="btn-primary"></app-icon-button>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</ng-template>

<app-popup-kalender></app-popup-kalender>
