<app-modal popupClass="popupLarge" titel="Instructie bevoegdheid {{naam}} over 36 maanden">
    <div body>
        @if (bezig) {
            <div>
                <ngb-progressbar type="info" [value]="counter" showValue="true" max="36"
                                 [striped]="true"></ngb-progressbar>
            </div>
        } @if (!bezig) {
        <div class="barchart-wrapper popupLargeWrapper">
            <div class="linechart-wrapper inlineGrafiek">
                @if (uren) {
                    <canvas class="recencyGrafiek" baseChart
                            style="width: inherit;height: 65vh;"
                            [type]="'line'"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [legend]="lineChartLegend">
                    </canvas>
                }
            </div>
        </div>
    }
    </div>
</app-modal>
