<app-modal popupClass="popupLarge" titel="Instructie bevoegdheid {{naam}} over 36 maanden">
    <div body>
        <div *ngIf="bezig">
            <ngb-progressbar type="info" [value]="counter" showValue="true" max="36" [striped]="true"></ngb-progressbar>
        </div>
        <div class="barchart-wrapper popupLargeWrapper" *ngIf="!bezig">
            <div class="linechart-wrapper inlineGrafiek">
                <canvas class="recencyGrafiek" baseChart *ngIf="uren"
                        style="width: inherit;height: 65vh;"
                        [type]="'line'"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [plugins]="lineChartPlugins"
                        [legend]="lineChartLegend">
                </canvas>
            </div>
        </div>
    </div>
</app-modal>
