<ng-template #medicalVerlopen>
    Uw medical is verlopen
</ng-template>

<ng-template #medicalOntbreekt>
    Uw medical is niet ingevuld
</ng-template>

<ng-template #avatarOntbreekt>
    Uw avatar ontbreekt, graag toevoegen.
</ng-template>

<nav>
    <div class="card ps-0 rounded-0" >
        <div class="d-flex flex-column justify-content-between" [ngClass]="{'min-vh-100': !topMenu,'bovenop': topMenu}">

            <div class="list-group list-group-flush p-3">
                <img src="/assets/img/logo.png" class="logo" alt="logo" *ngIf="toonLogo()">
                <ng-template ngFor let-route [ngForOf]="routes">
                    <a
                            class="list-group-item list-group-item-action waves-effect py-2"
                            routerLinkActive="active"
                            *ngIf="!route.excluded"
                            [routerLink]="route.path"
                    >
                        <div class="text-nowrap">
                            <fa-icon [icon]="route.icon" class="me-3"></fa-icon>
                            {{route.text}}
                            <div class="badge bg-danger ms-2" *ngIf="route.batch" [innerHTML]="route.batch"></div>
                        </div>
                    </a>
                </ng-template>

                <a class="list-group-item list-group-item-action waves-effect"
                   (click)="Uitloggen()">
                    <fa-icon [icon]="logUitIcon" class="me-3"></fa-icon>
                    Uitloggen
                </a>
            </div>


            <div class="w-100 overflow-auto" *ngIf="!this.loginService.userInfo?.Userinfo.isStarttoren">
                <a class="list-group-item list-group-item-action waves-effect"
                   (click)="showBeheer = !showBeheer">
                    <fa-icon [icon]="beheerIcon" class="me-3"></fa-icon>
                    Beheer
                    <div *ngIf="showBeheer">
                        <ng-template ngFor let-route [ngForOf]="beheerRoutes">
                            <a
                                    class="list-group-item list-group-item-action waves-effect py-2"
                                    routerLinkActive="active"
                                    *ngIf="!route.excluded"
                                    [routerLink]="route.path"
                            >
                                <div class="text-nowrap">
                                    <fa-icon [icon]="route.icon" class="ms-3 me-3"></fa-icon>
                                    {{route.text}}
                                </div>
                            </a>
                        </ng-template>
                    </div>
                </a>

                <ngb-datepicker
                    #d
                    name="datumIngave"
                    class="navCalendar w-100"
                    outsideDays="hidden"
                    [minDate]="kalenderEersteDatum"
                    [maxDate]="kalenderLaatsteDatum"
                    [(ngModel)]="kalenderIngave"
                    (dateSelect)="NieuweDatum($event)"
                    (navigate)="KalenderAndereMaand($event)"

                    [dayTemplate]="t">
                </ngb-datepicker>
            </div>
        </div>
    </div>

    <ng-template #t let-date>
        <span class="custom-day calendarDag">
            <div [ngClass]="cssCustomDay(date)">{{ date.day }} </div>
        </span>
    </ng-template>
</nav>


