<nav>
    <mdb-card class="min-vh-100">
        <mdb-card-body>
            <div class="list-group list-group-flush min-vh-100">
                <ng-template ngFor let-route [ngForOf]="routes">
                    <a
                            class="list-group-item list-group-item-action waves-effect"
                            routerLinkActive="active"
                            *ngIf="!route.excluded"
                            [routerLink]="route.path"
                    >
                        <mdb-icon fas [icon]="route.icon" class="mr-3"></mdb-icon>
                        {{route.text}}
                    </a>
                </ng-template>
                <a
                    class="list-group-item list-group-item-action waves-effect"
                    (click)="Uitloggen()"
                >
                    <mdb-icon fas icon="sign-out-alt" class="mr-3"></mdb-icon>
                    Uitloggen
                </a>

            </div>

        </mdb-card-body>
    </mdb-card>
</nav>
