
.active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  -webkit-border-radius: 5px;
  border-radius: 5px
}

.vliegdag {
  background-color: rgb(213, 172, 73);
  border-radius: .25rem;
  height: 1.9rem;
  line-height: 2rem;
  text-align: center;
  width: 1.9rem;
  color: #fff;
}

.gekozenDatum {
  border-radius: .25rem;
  border: 2px solid #202021 !important;
  height: 1.9rem;
  line-height: 1.8rem;
  text-align: center;
  width: 1.9rem;
}

.dagrapport {
  border-radius: .25rem;
  border: 1px solid #c7c7c7;
  height: 1.9rem;
  line-height: 1.8rem;
  text-align: center;
  width: 1.9rem;

  background-image: url("/assets/img/cj34ak1.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.diensten {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.calendarDag {
  text-align: center;
}

.navCalendar {
  border-radius: 0;
}

.kleineDatum {
  direction: rtl;
  padding-right: 10px;
}

.datumVeld {
  margin-right: 0.375rem;
  padding: 5px 10px 5px 10px;
  border: 1px solid #c4c2c1;
  border-radius: 2px;
  color: #9a9a9a;
}
.linker-menu {
  background-color: #f1f1f1;
  width: 270px;
}

.linker-menu-smal {
  width: 210px !important;
}

.logoContainer {
  max-height: 200px;
  display: flex;
  justify-content: center;
}
.logo {
  padding: 5px 5px 20px 5px;
  border-bottom: #dfdfdf solid 1px;
  max-width:100%;
  max-height:100%;
}


.bovenop {
  padding-top: 20px;
  min-height: calc(100vh - 70px);
  background-color: #f1eeee;
  border-right: #a2a4a6 solid 2px;
  box-shadow: 2px 0 #b2b2b4;
  overflow: auto;
}

.beheer {
  padding-right: 0.3rem;
}
.list-subgroup-item {
  padding-left: 0 !important;
  border: none !important;
}
