.aanwezigenLijst {
  vertical-align: top;
}

.aanmeldingen {
  font-size: smaller;
  color: #9a9a9a;
  font-style: italic;
}

.onvoldoendeAanmeldingen {
  font-weight: bold;
  font-size: smaller;
  color: red;

}

.gastenHeader {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0 9px;
  color: #989797;
}

.nowrap {
  display: flex;
}
