<div class="dataContent" *ngIf="rooster">
    <div class="d-flex justify-content-between mb-2">
        <div>
            <app-icon-button
                    class="toolbarBtn mx-2"
                    iconNaam="fas AngleLeft" (btnClicked)="zetDatum(datum.plus({days: -7}))"
                    btnColor="btn-secondary"></app-icon-button>
        </div>
        Aanmeldingen voor de week van {{maandag.day}}-{{maandag.month}}-{{maandag.year}}
        <div>
            <app-icon-button
                    class="toolbarBtn mx-2"
                    iconNaam="fas AngleRight" (btnClicked)="zetDatum(datum.plus({days: 7}))"
                    btnColor="btn-secondary"></app-icon-button>
        </div>
    </div>

    <div class="roosterTabel">
        <table class="table" style="width: calc(100% - 15px);">
            <thead>
            <tr style="vertical-align: top;">
                <td></td>
                <td *ngFor="let dagInRooster of rooster;let r = index">
                    <div *ngIf="magTonen(dagInRooster.DATUM)"
                         class="w-100 dagInRooster" [style]="KolomBreedte()"
                         [ngClass]="DagVanDeWeek(dagInRooster.DATUM)">
                        {{DagVanDeWeek(dagInRooster.DATUM)}}
                        <div class="me-2">{{datumDMY(dagInRooster.DATUM)}}</div>
                    </div>
                    <div *ngIf="magTonen(dagInRooster.DATUM)">
                        <div *ngIf="dagInRooster.CLUB_BEDRIJF" class="me-2">Clubbedrijf</div>
                        <div *ngIf="dagInRooster.DDWV">DDWV</div>
                        <div *ngIf="!dagInRooster.DDWV && !dagInRooster.CLUB_BEDRIJF">Geen vliegbedrijf</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td *ngFor="let dagInRooster of rooster;let r = index">
                    <div *ngIf="magTonen(dagInRooster.DATUM)">
                        <div *ngIf="!dagInRooster.CLUB_BEDRIJF && dagInRooster.DDWV">
                            <div *ngIf="aanwezigen(dagInRooster.DATUM).length < dagInRooster.MIN_SLEEPSTART && aanwezigen(dagInRooster.DATUM).length < dagInRooster.MIN_LIERSTART" class="onvoldoendeAanmeldingen">
                                Onvoldoende aanmeldingen
                            </div>
                            <div *ngIf="aanwezigen(dagInRooster.DATUM).length >= dagInRooster.MIN_SLEEPSTART && aanwezigen(dagInRooster.DATUM).length < dagInRooster.MIN_LIERSTART" class="aanmeldingen">
                                Sleep bedrijf
                            </div>
                            <div *ngIf="aanwezigen(dagInRooster.DATUM).length >= dagInRooster.MIN_LIERSTART" class="aanmeldingen">
                                Lier bedrijf
                            </div>
                        </div>

                        <div *ngIf="dagInRooster.CLUB_BEDRIJF" class="aanmeldingen">
                            Lier bedrijf
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td *ngFor="let dagInRooster of rooster;let r = index" class="dagInRooster">
                    <div *ngIf="magTonen(dagInRooster.DATUM)" class="w-100" [style]="KolomBreedte()">
                        <textarea disabled class="w-100">{{dagInRooster.OPMERKINGEN}}</textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td *ngFor="let dagInRooster of rooster;let r = index">
                    <div *ngIf="!verleden(dagInRooster.DATUM) && magTonen(dagInRooster.DATUM)" class="dagInRooster"
                         [style]="KolomBreedte()">
                        <app-icon-button *ngIf="magAanmelden(dagInRooster.DATUM)"
                                         class="toolbarBtn"
                                         tekst="Aanmelden"
                                         iconNaam="fas StreetView" (btnClicked)="Aanmelden(dagInRooster.DATUM)"
                                         btnColor="btn-primary"></app-icon-button>
                        <app-icon-button *ngIf="isAangemeld(dagInRooster.DATUM)"
                                         class="toolbarBtn"
                                         tekst="Afmelden"
                                         iconNaam="fas PersonWalkingArrowRight"
                                         (btnClicked)="Afmelden(dagInRooster.DATUM)"
                                         btnColor="btn-secondary"></app-icon-button>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td *ngFor="let dagInRooster of rooster;let r = index" class="aanwezigenLijst">
                    <div *ngIf="magTonen(dagInRooster.DATUM)">
                        <table>
                            <tr *ngFor="let lid of aanwezigen(dagInRooster.DATUM)">
                                <td (dblclick)="Edit(lid)">
                                    <div *ngIf="!naarDashboard(lid)" class="nowrap">{{lid.NAAM}}
                                        <div *ngIf="staf(dagInRooster.DATUM) && lid.STATUSTYPE_ID"> - ({{lid.STATUS}})
                                        </div>
                                    </div>

                                    <div *ngIf="naarDashboard(lid)" class="nowrap">
                                        <a aria-label="Naar dashboard" [routerLink]="['/dashboard']"
                                           [queryParams]="{lidID: lid.LID_ID}">{{lid.NAAM}}</a>
                                        <div *ngIf="staf(dagInRooster.DATUM) && lid.STATUSTYPE_ID"> - ({{lid.STATUS}})
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="gastenHeader">
                    <div class="d-flex justify-content-between"><b>Gasten</b>
                        <fa-icon [icon]="iconDown" (click)="toonGastenWelNiet()" *ngIf="!toonGasten"></fa-icon>
                        <fa-icon [icon]="iconUp" (click)="toonGastenWelNiet()" *ngIf="toonGasten"></fa-icon>
                    </div>
                </td>
            </tr>
            <!-- sectie met gasten lijst -->
            <tr *ngIf="toonGasten" class="gastenHeader">
                <td></td>
                <td *ngFor="let dagInRooster of rooster;let r = index">
                    <div *ngIf="!verleden(dagInRooster.DATUM) && magTonen(dagInRooster.DATUM)" class="dagInRooster">
                        <div class="d-flex">
                            <app-icon-button
                                    class="ps-1 toolbarBtn"
                                    iconNaam="fas UserPlus" (btnClicked)="AanmeldenGast(dagInRooster.DATUM)"
                                    btnColor="btn-primary"></app-icon-button>
                        </div>

                    </div>
                </td>
            </tr>
            <tr *ngIf="toonGasten" class="gastenHeader">
                <td></td>
                <td *ngFor="let dagInRooster of rooster;let r = index" class="aanwezigenLijst">
                    <div *ngIf="magTonen(dagInRooster.DATUM)">
                        <table>
                            <tr *ngFor="let gast of gastenAanwezig(dagInRooster.DATUM)">
                                <td (dblclick)="EditGast(gast)">
                                    {{gast.NAAM}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            </thead>
        </table>
    </div>
</div>
