.active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  -webkit-border-radius: 5px;
  border-radius: 5px
}

.vliegdag {
  background-color: rgb(213, 172, 73);
  border-radius: .25rem;
  height: 1.9rem;
  line-height: 2rem;
  text-align: center;
  width: 1.9rem;
  color: #fff;
}

.gekozenDatum {
  border-radius: .25rem;
  border: 2px solid #202021 !important;
  height: 1.9rem;
  line-height: 1.8rem;
  text-align: center;
  width: 1.9rem;
}

.dagrapport {
  border-radius: .25rem;
  border: 1px solid #c7c7c7;
  height: 1.9rem;
  line-height: 1.8rem;
  text-align: center;
  width: 1.9rem;

  background-image: url("/assets/img/cj34ak1.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.diensten {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.calendarDag {
  text-align: center;
}