<ngb-datepicker
    #d
    name="datumIngave"
    class="navCalendar w-100"
    outsideDays="hidden"
    [minDate]="kalenderEersteDatum"
    [maxDate]="kalenderLaatsteDatum"
    [(ngModel)]="kalenderIngave"
    (dateSelect)="nieuweDatumGeselecteerd()"
    (navigate)="onMonthSelectionChange($event)"
    [dayTemplate]="t">
</ngb-datepicker>

<ng-template #t let-date>
        <span class="custom-day calendarDag" [ngbTooltip]="getTooltipText(date)">
            <div [ngClass]="cssCustomDay(date)">{{ date.day }} </div>
        </span>
</ng-template>