.box {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.row {
  --bs-gutter-x: 0;
}

.toolbarBtn {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

#zoekLabel {
  margin-right: 2em;
}

#zoekInput {
  width: 30%;
}

#data {
  flex-grow: 100;
}

#toolbar {
  flex-grow: 1;
}

.typelijst {
  overflow: scroll;
}
