.card {
    overflow-y: auto;
}

.pegasus-alert {
    margin-bottom: 0;
    text-align: center;
}

.text-large {
    font-size: large;
}

.startVerbod {
    background-color: darkorange;
}

.contactBeheerderDDWV {
    background-color: #3a6780;
    font-size: small;
    color:white;
}

.terugBtn {
    --bs-btn-color: #000;
    --bs-btn-bg: rgb(238 238 238);
    --bs-btn-border-color: rgb(238 238 238);
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #dbb864;
    --bs-btn-hover-border-color: #d9b45b;
    --bs-btn-focus-shadow-rgb: 181, 146, 62;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ddbd6d;
    --bs-btn-active-border-color: #d9b45b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: rgb(213, 172, 73);
    --bs-btn-disabled-border-color: rgb(213, 172, 73);
}

.page-footer {
    background-color: #eaeaea;

    div {
        height: 2.5em;
    }
}

/* indien geinstalleerd als app, dan menu on top zetten */

@media all and (display-mode: standalone) {
    .hoogte-desktop {
        height: calc(100lvh - 45px);
    }

    .hoogte-tablet {
        height: calc(100lvh - 50px);
    }
}




