<div class="alert alert-info" *ngIf="updateAvailable">
    <p>Er is een nieuwe versie beschikbaar. Klik <a aria-label="nieuwe software versie" (click)="applyUpdate()">hier</a> om bij te werken</p>
</div>

<div *ngIf="heeftStartVerbod" class="startVerbod">
Je hebt een startverbod. Graag even melden bij het bestuur.
</div>

<main class="d-flex maxHoogte">
    <div class="ps-0 d-none d-xl-block" *ngIf="isIngelogd">
        <app-navigation class="sticky-top"></app-navigation>
    </div>
    <div class="w-100">
        <div [ngClass]="'hoogte-desktop'" [ngClass.lt-lg]="'hoogte-tablet'" class="card">
            <div class="card-body">
                <router-outlet></router-outlet>
            </div>
        </div>
        <app-footer *ngIf="isIngelogd"></app-footer>
    </div>
</main>
