<div class="row mx-0">
    <div class="col-1 col-md-2 ps-0 d-none d-xl-block" *ngIf="isIngelogd">
        <app-navigation class="sticky-top"></app-navigation>
    </div>
    <main class="p-0" [class]="isIngelogd ? 'col-sm-12 col-xl-10' : 'col-12'">
        <div [ngClass]="'hoogte-desktop'" [ngClass.lt-lg]="'hoogte-tablet'" class="card">
            <div class="card-body">
                <router-outlet></router-outlet>
            </div>
        </div>
        <app-footer *ngIf="isIngelogd"></app-footer>
    </main>
</div>
