.maxHoogte {
    height: 100%;
}

.hoogte-desktop {
    height: calc(100svh - 45px);
}

.hoogte-tablet {
    height: calc(100svh - 50px);
}

.card {
    overflow-y: auto;
}


.startVerbod {
    text-align: center; /* Centered text */
    border-radius: 4px; /* Rounded borders */
    padding: 10px; /* Padding */
    z-index: 1200; /* Add a z-index if needed */
    background-color: darkorange;
    font-size: large;
    right: 50%;
}

.contactBeheerderDDWV {
    text-align: center; /* Centered text */
    border-radius: 4px; /* Rounded borders */
    padding: 5px; /* Padding */
    z-index: 1200; /* Add a z-index if needed */
    background-color: #3a6780;
    font-size: small;
    color:white;
    right: 50%;
}

.app-footer {
    width: 100%;
}

.safe-area {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

/* indien geinstalleerd als app, dan menu on top zetten */

@media all and (display-mode: standalone) {
    .hoogte-desktop {
        height: calc(100lvh - 45px);
    }

    .hoogte-tablet {
        height: calc(100lvh - 50px);
    }

    .app-footer {
        position: fixed;
        bottom: 10px;
        height: 10px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}


