<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

<app-modal [titel]="formTitel">
    <div body>
        <fieldset [disabled]="isVerwijderMode || isRestoreMode || isLoading || isSaving">
            <div class="row mb-2">
                <div class="col-8">
                    <label for="CODE" class="form-label">Code</label>
                    <input type="text" name="CODE" class="form-control" id="CODE" [disabled]="type.READ_ONLY"
                           [(ngModel)]="type.CODE">
                </div>
                <div class="col-4">
                    <label for="EXT" class="form-label">Referentie</label>
                    <input type="text" name="EXT_REF" class="form-control" id="EXT"  [disabled]="type.READ_ONLY"
                           [(ngModel)]="type.EXT_REF">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-8">
                    <label for="EENHEDEN" class="form-label">Eenheden</label>
                    <input type="text" name="EENHEDEN" class="form-control" id="EENHEDEN" [disabled]="type.READ_ONLY"
                           [(ngModel)]="type.EENHEDEN">
                </div>
                <div class="col-4">
                    <label for="BEDRAG" class="form-label">Bedrag</label>
                    <input type="text" name="BEDRAG" class="form-control" id="BEDRAG"  [disabled]="type.READ_ONLY"
                           [(ngModel)]="type.BEDRAG">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="OMSCHRIJVING" class="form-label">Omschrijving</label>
                    <input type="text" name="OMSCHRIJVING" class="form-control" id="OMSCHRIJVING"  [disabled]="type.READ_ONLY"
                           [(ngModel)]="type.OMSCHRIJVING">
                </div>
            </div>

        </fieldset>
    </div>
    <div footer *ngIf="!type.READ_ONLY">
        <app-icon-button *ngIf="!isLoading && !isSaving && type.ID !== undefined && !isRestoreMode && !isVerwijderMode" iconNaam="fas Edit" btnColor="btn-primary"
                         [toonKlein]=false tekst="Opslaan" [disabled]="opslaanDisabled()" (btnClicked)="uitvoeren()"></app-icon-button>
        <app-icon-button *ngIf="!isLoading && !isSaving && type.ID === undefined && !isRestoreMode && !isVerwijderMode" iconNaam="fas Plus" btnColor="btn-primary"
                         [toonKlein]=false tekst="Opslaan" [disabled]="opslaanDisabled()" (btnClicked)="uitvoeren()"></app-icon-button>
        <app-icon-button *ngIf="!isLoading && !isSaving && isVerwijderMode" iconNaam="fas TrashAlt" btnColor="btn-primary editorDeleteBtn"
                         [toonKlein]=false tekst="Verwijderen" (btnClicked)="uitvoeren()"></app-icon-button>
        <app-icon-button *ngIf="!isLoading && !isSaving && isRestoreMode" iconNaam="fas Undo" btnColor="btn-primary editorRestoreBtn"
                         [toonKlein]=false tekst="Herstellen" (btnClicked)="uitvoeren()"></app-icon-button>

        <button class="btn btn-primary" *ngIf="isLoading || isSaving">
            <span><app-loader></app-loader></span>
        </button>
    </div>
</app-modal>
