.box {
  display: flex;
  flex-flow: column;
  overflow-y: hidden;
}
.row {
  --bs-gutter-x: 0;
}

.toolbarBtn {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

#zoekLabel {
  margin-right: 2em;
}

#zoekInput {
  width: 30%;
}

#datumInvoer {
  width: 160px;
}

.vliegdag {
  background-color: rgb(213, 172, 73);
  //border-radius: 1rem;
  //color: white;
  padding: 3px;
  //border-radius: 50%;
  width: 100%;

  border-radius: 50%;
  color: #fff;
}

.calendarDag {
  text-align: center;
}