.box {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.row {
  --bs-gutter-x: 0;
}

.toolbarBtn {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

#data {
  flex-grow: 100;
}

.data {
  flex-grow: 100;
  overflow: scroll;
  max-height: calc(100dvh - 240px);
}

#toolbar {
  flex-grow: 1;
  position: sticky;
  bottom: 0;
  background-color: #fff;
  z-index: 3;
}
