<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

<app-pegasus-card titel="Dashboard"
                  subtitel="Een verzameling van nuttige info"
                  [icon]="iconCardIcon">

    @if (saldoTonen && lidData) {
        <div header class="DDWVtegoed d-flex flex-column" (click)="toonTransacties()">
            <div style="font-size: x-small">
                Tegoed
            </div>
            <div class="d-flex align-items-end justify-content-end">
                {{ lidData.TEGOED }}&nbsp;
                <div style="font-size: x-small;  margin-bottom: 2px;">
                    strippen
                </div>
            </div>
    </div>
    }

    <div class="box">
        <div class="bg-tertiary rounded text-white " ngClass.gt-sm="px-5">
            <table class="w-100">
                <tr>
                    <td class="w-100">
                        @if (lidData) {
                            <h2 class="ms-2 mb-0">{{ lidData.NAAM }}</h2>
                        }
                    </td>
                    <td [rowSpan]="2">
                        @if (lidData) {
                            <app-avatar class="me-2" [url]="lidData.AVATAR" [naam]="lidData.NAAM"
                            ></app-avatar>
                        }
                    </td>
                </tr>
                <tr>
                    <table class="w-100">
                        <tr>
                            <td class="w-100">
                                @if (lidData) {
                                    <p class="mb-0 ms-2">{{ getLidType() }}</p>
                                }
                            </td>
                            <td>
                                @if (statusTypes && lidData) {
                                    <div>
                                        @if (statusWijzigbaar()) {
                                            <select class="form-select" id="STATUS" name="STATUS"
                                                    [(ngModel)]="lidData.STATUSTYPE_ID"
                                                    (change)="wijzigVliegStatus()">
                                                <option value="undefined">n.v.t.</option>
                                                @for (type of statusTypes; track type) {
                                                    <option
                                                            [value]="type.ID">{{ type.OMSCHRIJVING }}
                                                    </option>
                                                }
                                            </select>
                                        }
                                    </div>
                                } @if (!statusWijzigbaar()) {
                                <div>
                                    <p>Vliegstatus<br>
                                        <b>{{ getStatusType() }}</b></p>
                                </div>
                            }
                            </td>
                        </tr>
                    </table>
                </tr>
            </table>
        </div>
        @if (!alleenLogboekTonen()) {
            <div class="row mt-4">
                <div class="col-12 col-sm-6 col-xl-3 ps-0 pe-0" ngClass.gt-sm="ps-2 pe-2">
                    <app-pegasus-card id="statusCard"
                                      class="kleineKaart"
                                      titel="Status"
                                      subtitel="Vliegstatus"
                                      [icon]="iconStatus">
                        @if (lidData) {
                            <app-status [Vlieger]="lidData"></app-status>
                        }
                    </app-pegasus-card>
                </div>
                <div class="col-12 col-sm-6 col-xl-3 mt-4 mt-sm-0 ps-0 pe-0" ngClass.gt-sm="ps-2 pe-2">
                    <app-pegasus-card id="pvbCard"
                                      class="kleineKaart"
                                      titel="PVB"
                                      subtitel="Proef van bekwaamheid"
                                      [icon]="iconPVB">
                        @if (lidData) {
                            <app-pvb [Vlieger]="lidData"></app-pvb>
                        }
                    </app-pegasus-card>
                </div>
                <div class="col-12 col-sm-6 col-xl-3 mt-4 mt-xl-0 ps-0 pe-0" ngClass.gt-sm="ps-2 pe-2">
                    <app-pegasus-card id="recencyCard"
                                      class="kleineKaart"
                                      titel="Recency"
                                      subtitel="Trainingsbarometer"
                                      [icon]="iconRecency">
                        @if (lidData) {
                            <app-recency [Vlieger]="lidData" [naam]="lidData.NAAM"></app-recency>
                        }
                    </app-pegasus-card>
                </div>
                <div class="col-12 col-sm-6 col-xl-3 mt-4 mt-xl-0 ps-0 pe-0" ngClass.gt-sm="ps-2 pe-2">
                    <!-- carousel met diensten / verjaardagen -->
                    <ngb-carousel [showNavigationIndicators]="true" [pauseOnHover]="true" [interval]="10000"
                                  class="carousel-dva h-100 overflow-x-clip">
                        <ng-template ngbSlide>
                            <app-pegasus-card id="dientenCard"
                                              class="kleineKaart"
                                              titel="Diensten"
                                              subtitel="Ingeroosterde diensten"
                                              [icon]="iconRooster">
                                <div class="expand">
                                    <a aria-label="Toon diensten groter" class="clickable"
                                       (click)="toonDienstenGroot()">
                                        <fa-icon [icon]="iconExpand"></fa-icon>
                                    </a>
                                </div>
                                @if (lidData) {
                                    <app-diensten [Vlieger]="lidData"></app-diensten>
                                }
                            </app-pegasus-card>
                        </ng-template>
                        <ng-template ngbSlide class="h-100">
                            <app-pegasus-card id="verjaardagenCard"
                                              class="kleineKaart"
                                              titel="Verjaardagen"
                                              subtitel="Komende jarigen"
                                              [icon]="iconRooster">
                                <app-verjaardagen></app-verjaardagen>
                            </app-pegasus-card>
                        </ng-template>
                        <ng-template ngbSlide class="h-100">
                            <app-pegasus-card id="agendaCard"
                                              class="kleineKaart"
                                              titel="Agenda"
                                              subtitel="Komende evenementen"
                                              [icon]="iconRooster">
                                <app-agenda></app-agenda>
                            </app-pegasus-card>
                        </ng-template>
                    </ngb-carousel>
                </div>
        </div>
        }

        <!-- logboek -->
        <div class="row mt-4 datatable-hoogte">
            <div class="col-12 col-lg-8 col-xl-9 ps-0 pe-0" ngClass.gt-sm="ps-2 pe-2">
                <app-pegasus-card id="logboekCard"
                                  class="kleineKaart"
                                  titel="Logboek {{datum.year}}"
                                  subtitel="Overzicht van de vluchten"
                                  [icon]="iconLogboek">
                    <div class="expand">
                        <a aria-label="Toon logboek groter" class="clickable" (click)="toonLogboekGroot()">
                            <fa-icon [icon]="iconExpand"></fa-icon>
                        </a>
                    </div>
                    @if (lidData) {
                        <app-vlieger-logboek
                                MaxItems=5
                                id="vliegerlogboekgrid"
                                [VliegerID]="lidData.ID">
                        </app-vlieger-logboek>
                    }
                </app-pegasus-card>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 mt-4 mt-lg-0 ps-0 pe-0" ngClass.gt-sm="ps-2 pe-2">
                <app-pegasus-card id="logboekCardSummary"
                                  class="kleineKaart"
                                  titel="Totalen {{datum.year}}"
                                  subtitel="Per vliegtuig"
                                  [icon]="iconPlane">
                    @if (lidData) {
                        <app-vlieger-logboek-totalen
                                [VliegerID]="lidData.ID"></app-vlieger-logboek-totalen>
                    }
                </app-pegasus-card>
            </div>
        </div>

        <!-- progressie -->
        @if (!alleenLogboekTonen()) {
            <div class="row mt-4 progressie-hoogte">
                <div class="col-12 col-lg-8 col-xl-9 ps-0 pe-0" ngClass.gt-sm="ps-2 pe-2">
                    <app-pegasus-card id="progressieCard"
                                      class="kleineKaart"
                                      titel="Progressiekaart"
                                      subtitel="Behaalde competenties"
                                      exportEnabled="true"
                                      (Exporting)="exportProgressieKaart()"
                                      [icon]="iconProgressie">
                        @if (lidData) {
                            <app-progressie-boom
                                    [VliegerID]="lidData.ID">
                            </app-progressie-boom>
                        }
                    </app-pegasus-card>
                </div>
                <div class="col-12 col-lg-4 col-xl-3 mt-4 mt-lg-0 ps-0 pe-0" ngClass.gt-sm="ps-2 pe-2">
                    @if (lidData) {
                        <app-leden-documenten [LidID]="lidData.ID">
                        </app-leden-documenten>
                    }
                </div>
        </div>
        } @if (toonTracks) {
        <div class="row mt-4 tracks-hoogte flex-grow">
            <div class="col-12 ps-0 pe-0" ngClass.gt-sm="ps-2 pe-2">
                <app-pegasus-card id="tracksCard"
                                  class="kleineKaart"
                                  titel="Tracks"
                                  subtitel="Ingevoerde observaties"
                                  exportEnabled=true
                                  exportImg="/assets/img/word-logo.png"
                                  (Exporting)="exportTracks(lidData.ID)"
                                  [icon]="iconTracks">
                    @if (lidData) {
                        <app-tracks [VliegerID]="lidData.ID" [VliegerNaam]="lidData.NAAM"></app-tracks>
                    }
                </app-pegasus-card>
            </div>
        </div>
    }
    </div>
</app-pegasus-card>


@if (lidData) {
    <app-modal #logboekPopup popupClass="popupLarge" titel="Logboek van {{lidData.NAAM}}">
        <div body>
        <div class="popupLargeWrapper">
            <div class="excel">
                <img class="logo" src="/assets/img/excel-logo.png" alt="excel logo" (click)="this.exportLogboek()"/>
            </div>
            <div class="d-flex flex-column justify-content-between h-100">
                <app-vlieger-logboek
                        class="maxHoogte"
                        id="vliegerlogboekgrid-groot"
                        Kolommen="OPMERKINGEN,VELD,STARTMETHODE"
                        [VliegerID]="lidData.ID"
                        [deleteMode]="verwijderMode"></app-vlieger-logboek>
            </div>
        </div>
        </div>
        <div footer>
        <div class="toolbar logboekToolbar">
            <app-icon-button class="toolbarBtn"
                             tekst="Toevoegen"
                             iconNaam="far PlusSquare" (btnClicked)="addStart()"
                             btnColor="btn-primary"></app-icon-button>
            @if (magVerwijderen) {
            <app-icon-button class="toolbarBtn" tekst="Verwijderen" iconNaam="far TrashAlt"
                             btnColor="btn-secondary"
                             (btnClicked)="verwijderMode = !verwijderMode"></app-icon-button>
            }
        </div>
        </div>
    </app-modal>
}

<!-- toevoegen van een start vanuit groot logboek -->
@if (lidData) {
    <app-start-editor [VliegerID]="lidData.ID"></app-start-editor>
}
<app-transacties (TransactieGedaan)="opvragenLid()"></app-transacties>


@if (lidData) {
    <app-modal #dienstenPopup titel="Diensten van {{lidData.NAAM}}">
        <div body>
        <div>
            @if (lidData) {
                <app-diensten [Vlieger]="lidData" UitgebreideWeergave="true"></app-diensten>
            }
        </div>
        </div>
    </app-modal>
}
