
<label for="VLIEGTUIG-INVOER" class="form-label">{{label}}</label>
<ng-select id="VLIEGTUIG-INVOER"
           [items]="vliegtuigenSelectie$ | async"
           [disabled]="disabled"
           placeholder="Selecteer vliegtuig"
           bindLabel="REG_CALL"
           bindValue="ID"
           closeOnSelect="true"
           openOnEnter="true"
           name="VliegtuigID"
           [required]="verplicht"
           (ngModelChange)="inputChange($event)"
           [typeahead]="vliegtuigInput$"
           [(ngModel)]="VLIEGTUIG_ID">
</ng-select>
@if (!inzetbaar) {
    <div class="flex-row cssWarning">
        @if (!inzetbaar) {
            <div class="fas fa-exclamation-triangle "></div>
        }
    Niet inzetbaar!
    </div>
}
