
<label for="VLIEGTUIG-INVOER" class="form-label">{{label}}</label>
<ng-select id="VLIEGTUIG-INVOER"
           [items]="vliegtuigenSelectie$ | async"
           [disabled]="disabled"
           placeholder="Selecteer vliegtuig"
           bindLabel="REG_CALL"
           bindValue="ID"
           closeOnSelect="true"
           openOnEnter="true"
           name="VliegtuigID"
           [required]="!Sleep"
           (ngModelChange)="inputChange($event)"
           [typeahead]="vliegtuigInput$"
           [(ngModel)]="VLIEGTUIG_ID">
</ng-select>
<div *ngIf="!inzetbaar" class="flex-row cssWarning">
    <div class="fas fa-exclamation-triangle " *ngIf="!inzetbaar"></div>
    Niet inzetbaar!
</div>
