<app-error [error]="error"></app-error>

<app-modal popupClass="popupLarge" titel="Uploaden facturen">
    <div body>
        @if (isBezig) {
            <div>
                <ngb-progressbar type="info" [value]="counter" showValue="true" [max]="max"
                                 [striped]="true"></ngb-progressbar>
            </div>
        } @if (isKlaar) {
        <div class="klaar">
            Uploaden gereed: {{ counter }} facturen geupload naar de boekhouding
        </div>
    }
    </div>
    <div footer>
        @if (isBezig) {
            <div class="d-flex justify-content-end">
                <app-icon-button class="toolbarBtn" tekst="Annuleren" iconNaam="fas BasketShopping"
                                 btnColor="btn btn-outline-primary" (btnClicked)="closePopup()"></app-icon-button>
            </div>
        }
    </div>
</app-modal>
