@if (!this.warning && !this.error) {
    <div>
        @if (!naarDashboard) {
            <div>{{ grid_inzittendenaam }}</div>
        } @if (naarDashboard) {
        <div>
        <a aria-label="Naar dashboard" [routerLink]="['/dashboard']" [queryParams]="{lidID: lidID}">{{grid_inzittendenaam}}</a>
        </div>
    }
    </div>
} @if (this.warning || this.error) {
    <div [ngClass]="{'warning': this.warning, 'error': this.error }">
    <div class="fas fa-exclamation-triangle" data-toggle="tooltip" title="Vul de naam van de instructeur in"></div>
    </div>
}
