.tekstbox {
  background-color: #eaeaea;
  border-radius: 4px;
  border: #a2a4a6 solid 1px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;

  font-size: 0.9rem;
}

.trackHeader{
  margin-top: 10px;
  color: #a2a4a6;
}


