.disableVeld {
  color: #9a9a9a;
}

.QRcode {
  width: 60%;
}

.cssWarning {
  color: #ff0f07;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.cssWarningAvatar {
  top: -65px;
  left: 310px;
  position: relative;
}

.GAuthText {
  color: #9a9a9a;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

span {
  padding-bottom: 6px;
}

.DDVWtegoed {
  cursor: pointer;
  position: relative;
  float: right;
  margin-top: -70px;
  padding: 10px 15px 10px 15px;

  background-color: #28a745;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
