
<app-pegasus-card titel="Competenties"
                  subtitel="Te behalen vaardigheden voor een lid"
                  [icon]="iconCardIcon">
    <div class="box h-100">

        <tree-root class="w-100 h-100"
                   [nodes]="boom"
                   [options]="treeOptions">
            <ng-template #treeNodeWrapperTemplate let-node let-index="index">
                <div class="node-wrapper flex justify-content-between" [style.padding-left]="node.getNodePadding()">
                    <div>
                        <tree-node-expander [node]="node"></tree-node-expander>
                        <div class="node-content-wrapper"
                             [class.node-content-wrapper-active]="node.isActive"
                             [class.node-content-wrapper-focused]="node.isFocused"
                             (click)="node.mouseAction('click', $event)"
                             (dblclick)="node.mouseAction('dblClick', $event)"
                             (contextmenu)="node.mouseAction('contextMenu', $event)"
                             (treeDrop)="node.onDrop($event)"
                             [treeAllowDrop]="node.allowDrop"
                             [treeDrag]="node"
                             [treeDragEnabled]="node.allowDrag()">

                            <tree-node-content [node]="node" [index]="index"></tree-node-content>
                        </div>
                    </div>
                    <div [title]="node.displayField">
                        @if (node.data.value >= 0 && node.data.blokID !== -1) {
                            <fa-icon [icon]="upIcon" class="upBtn me-2 clickable" (click)="omhoog(node.data);"></fa-icon>
                        }
                        @if (node.data.value >= 0 && node.data.blokID !== -1) {
                            <fa-icon [icon]="downIcon" class="downBtn me-2 clickable" (click)="omlaag(node.data);"></fa-icon>
                        }
                        @if (node.data.value >= 0) {
                            <fa-icon [icon]="toevoegenIcon" class="addBtn me-2 clickable" (click)="toevoegen(node.data);"></fa-icon>
                        }
                    </div>
                </div>
            </ng-template>
            <ng-template #treeNodeTemplate let-node>
            <div class="form-inline row-item competentieRegel" (dblclick)="openEditor(node.data)">
              <div class="form-check w-100">
                <div class="d-flex justify-content-between">
                  <div>
                    <label class="form-check-label" [ngStyle]="node.data.value < 0 && {'color': 'red'}">
                      {{node.data.text}}
                    </label>
                    @if (node.data.value >= 0) {
                      <div class="badge bg-secondary ms-2" [innerHTML]="node.data.value"></div>
                    }
                  </div>
                </div>
              </div>
            </div>
            </ng-template>
        </tree-root>
    </div>
</app-pegasus-card>

<app-competentie-editor></app-competentie-editor>
