
<app-pegasus-card titel="Competenties"
                  subtitel="Te behalen vaardigheden voor een lid"
                  [icon]="iconCardIcon">
    <div class="box h-100">

        <ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand"
                     let-onCheckedChange="onCheckedChange">
            <div class="form-inline row-item competentieRegel" (dblclick)="openEditor(item)">
                <i *ngIf="item.children" class="mr-1" (click)="onCollapseExpand()" aria-hidden="true"
                   [ngSwitch]="item.collapsed">
                    <svg *ngSwitchCase="true" width="0.8rem" height="0.8rem" viewBox="0 0 16 16"
                         class="bi bi-caret-right-fill"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    <svg *ngSwitchCase="false" width="0.8rem" height="0.8rem" viewBox="0 0 16 16"
                         class="bi bi-caret-down-fill"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                </i>
                <div class="form-check w-100">
                    <div class="d-flex justify-content-between">
                        <div>
                            <label class="form-check-label" [ngStyle]="item.value < 0 && {'color': 'red'}">
                                {{item.text}}
                            </label>
                            <div class="badge bg-secondary ms-2" [innerHTML]="item.value" *ngIf="item.value >= 0"></div>
                        </div>
                        <div>
                            <fa-icon [icon]="upIcon" class="upBtn me-2" (click)="omhoog(item);"
                                     *ngIf="item.value >= 0 && item.blokID != -1"></fa-icon>
                            <fa-icon [icon]="downIcon" class="downBtn me-2" (click)="omlaag(item);"
                                     *ngIf="item.value >= 0 && item.blokID != -1"></fa-icon>
                            <fa-icon [icon]="toevoegenIcon" class="addBtn me-2" (click)="toevoegen(item);"
                                     *ngIf="item.value >= 0"></fa-icon>
                        </div>

                    </div>
                </div>
            </div>
        </ng-template>

        <ngx-treeview class="w-100 h-100"
                      [config]="config"
                      [items]="boom"
                      [itemTemplate]="itemTemplate">
        </ngx-treeview>
    </div>
</app-pegasus-card>

<app-competentie-editor></app-competentie-editor>
