<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

@if (data) {
    <div class="overflow-auto">
        @if (data.starts.length > 0) {
            <div>
        <table class="vliegtuigenTabel">
            <tr class="headerRow">
                <th></th>
                <th>Starts</th>
                <th class="kolom3">Vliegtijd</th>
            </tr>
            @for (v of data.vliegtuigen; track v) {
                <tr>
                    <td class="kolom1">
                        {{ v.REG_CALL }}
                    </td>
                    <td class="kolom2">
                        {{ v.STARTS }}
                    </td>
                    <td class="kolom3">
                        {{ v.VLIEGTIJD }}
                    </td>
            </tr>
            }
            <tr class="jaar_totaal">
                <td class="kolom1">
                    Totaal {{ datum.year }}
                </td>
                <td class="kolom2">
                    {{ data.jaar.STARTS }}
                </td>
                <td class="kolom3">
                    {{ data.jaar.VLIEGTIJD }}
                </td>
            </tr>
        </table>
            </div>
        } @if (data.jaar.INSTRUCTIE_STARTS > 0) {
        <p><b>Instructie</b>: {{ data.jaar.INSTRUCTIE_STARTS }} starts en {{ data.jaar.INSTRUCTIE_UREN }} uren</p>
    } @if (data.starts.length > 0) {
        <div>
        <p class="textStartMethode"><b>Start methode</b></p>
        <table class="startsTabel">
            @for (s of data.starts; track s) {
                <tr>
                    <td class="kolom1">
                        {{ s.METHODE }}
                    </td>
                    <td class="kolom2">
                        {{ s.AANTAL }}
                    </td>
            </tr>
            }
        </table>
        </div>
    }
    </div>
} @if (isLoading) {
    <div class="spinnerOverlay">
    <app-loader></app-loader>
    </div>
}
