
<div class="dataContent" *ngIf="leden && rooster">
    <div class="d-flex justify-content-between mb-2">
        <div>
            <app-icon-button
                    class="toolbarBtn mx-2"
                    iconNaam="fas AngleLeft" (btnClicked)="zetDatum(datum.plus({days: -7}))"
                    btnColor="btn-secondary"></app-icon-button>
        </div>
        Rooster voor de week van {{maandag.day}}-{{maandag.month}}-{{maandag.year}}
        <div>
            <app-icon-button
                    class="toolbarBtn mx-2"
                    iconNaam="fas AngleRight" (btnClicked)="zetDatum(datum.plus({days: 7}))"
                    btnColor="btn-secondary"></app-icon-button>
        </div>
    </div>

    <div class="roosterTabel">
        <table class="table" style="width: calc(100% - 15px);">
            <thead>
            <tr style="vertical-align: top;">
                <td></td>
                <td *ngFor="let dagInRooster of rooster;let r = index" class="dagInRooster" [style]="KolomBreedte()"
                    [ngClass]="DagVanDeWeek(dagInRooster.DATUM)">
                    {{DagVanDeWeek(dagInRooster.DATUM)}}

                    <div *ngIf="dagInRooster.CLUB_BEDRIJF" class="me-2">Clubbedrijf</div>
                    <div *ngIf="dagInRooster.DDWV">DDWV</div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td *ngFor="let dagInRooster of rooster;let r = index" class="dagInRooster" [style]="KolomBreedte()">
                    <textarea disabled class="w-100">{{dagInRooster.OPMERKINGEN}}</textarea>
                </td>
            </tr>
            </thead>
            <tbody>

            <tr *ngIf="(tonen.toonDienst[configService.OCHTEND_DDI_TYPE_ID] || tonen.toonDienst[configService.MIDDAG_DDI_TYPE_ID]) && tonen.Instructeurs">
                <td class="dienstType">DDI</td>
                <td *ngFor="let dagInRooster of rooster;let i = index" class="dagInRooster" [style]="KolomBreedte()">
                    <ng-container [ngTemplateOutlet]="roosterDienst"
                                  [ngTemplateOutletContext]="{dag:dagInRooster, typeDienst: [ configService.OCHTEND_DDI_TYPE_ID, configService.MIDDAG_DDI_TYPE_ID]}"></ng-container>
                </td>
            </tr>

            <tr *ngIf="(tonen.toonDienst[configService.OCHTEND_INSTRUCTEUR_TYPE_ID] || tonen.toonDienst[configService.MIDDAG_INSTRUCTEUR_TYPE_ID]) && tonen.Instructeurs">
                <td class="dienstType">Instructeur</td>
                <td *ngFor="let dagInRooster of rooster;let i = index" class="dagInRooster" [style]="KolomBreedte()">
                    <ng-container [ngTemplateOutlet]="roosterDienst"
                                  [ngTemplateOutletContext]="{dag:dagInRooster, typeDienst: [ configService.OCHTEND_INSTRUCTEUR_TYPE_ID, configService.MIDDAG_INSTRUCTEUR_TYPE_ID]}"></ng-container>
                </td>
            </tr>

            <tr *ngIf="(tonen.toonDienst[configService.OCHTEND_STARTLEIDER_TYPE_ID] || tonen.toonDienst[configService.MIDDAG_STARTLEIDER_TYPE_ID]) && (tonen.Startleiders || tonen.DDWV)">
                <td class="dienstType">Startleider</td>
                <td *ngFor="let dagInRooster of rooster;let i = index" class="dagInRooster" [style]="KolomBreedte()">
                    <ng-container [ngTemplateOutlet]="roosterDienst"
                                  [ngTemplateOutletContext]="{dag:dagInRooster, typeDienst: [ configService.OCHTEND_STARTLEIDER_TYPE_ID, configService.MIDDAG_STARTLEIDER_TYPE_ID]}"></ng-container>
                </td>
            </tr>

            <tr *ngIf="(tonen.toonDienst[configService.OCHTEND_STARTLEIDER_IO_TYPE_ID] || tonen.toonDienst[configService.OCHTEND_STARTLEIDER_IO_TYPE_ID]) && (tonen.Startleiders)">
                <td class="dienstType">Startleider 2</td>
                <td *ngFor="let dagInRooster of rooster;let i = index" class="dagInRooster" [style]="KolomBreedte()">
                    <ng-container [ngTemplateOutlet]="roosterDienst"
                                  [ngTemplateOutletContext]="{dag:dagInRooster, typeDienst: [ configService.OCHTEND_STARTLEIDER_IO_TYPE_ID, configService.OCHTEND_STARTLEIDER_IO_TYPE_ID]}"></ng-container>
                </td>
            </tr>

            <tr *ngIf="(tonen.toonDienst[configService.OCHTEND_LIERIST_TYPE_ID] || tonen.toonDienst[configService.MIDDAG_LIERIST_TYPE_ID]) && (tonen.Lieristen || tonen.DDWV)">
                <td class="dienstType">Lierist</td>
                <td *ngFor="let dagInRooster of rooster;let i = index" class="dagInRooster" [style]="KolomBreedte()">
                    <ng-container [ngTemplateOutlet]="roosterDienst"
                                  [ngTemplateOutletContext]="{dag:dagInRooster, typeDienst: [ configService.OCHTEND_LIERIST_TYPE_ID, configService.MIDDAG_LIERIST_TYPE_ID]}"></ng-container>
                </td>
            </tr>

            <tr *ngIf="(tonen.toonDienst[configService.OCHTEND_HULPLIERIST_TYPE_ID] || tonen.toonDienst[configService.MIDDAG_HULPLIERIST_TYPE_ID]) && tonen.Lieristen">
                <td class="dienstType">Hulplierist</td>
                <td *ngFor="let dagInRooster of rooster;let i = index" class="dagInRooster" [style]="KolomBreedte()">
                    <ng-container [ngTemplateOutlet]="roosterDienst"
                                  [ngTemplateOutletContext]="{dag:dagInRooster, typeDienst: [ configService.OCHTEND_HULPLIERIST_TYPE_ID, configService.MIDDAG_HULPLIERIST_TYPE_ID]}"></ng-container>
                </td>
            </tr>

            <tr *ngIf="(tonen.toonDienst[configService.GASTEN_VLIEGER1_TYPE_ID] || tonen.toonDienst[configService.GASTEN_VLIEGER2_TYPE_ID]) && tonen.GastenVliegers">
                <td class="dienstType">Gasten vlieger</td>
                <td *ngFor="let dagInRooster of rooster;let i = index" class="dagInRooster" [style]="KolomBreedte()">
                    <ng-container [ngTemplateOutlet]="roosterDienst"
                                  [ngTemplateOutletContext]="{dag:dagInRooster, typeDienst: [ configService.GASTEN_VLIEGER1_TYPE_ID, configService.GASTEN_VLIEGER2_TYPE_ID]}"></ng-container>
                </td>
            </tr>

            <tr *ngIf="tonen.toonDienst[configService.SLEEPVLIEGER_TYPE_ID] && tonen.Sleepvliegers">
                <td class="dienstType">Sleepvlieger</td>
                <td *ngFor="let dagInRooster of rooster;let i = index" class="dagInRooster" [style]="KolomBreedte()">
                    <ng-container [ngTemplateOutlet]="roosterDienst"
                                  [ngTemplateOutletContext]="{dag:dagInRooster, typeDienst: [ configService.SLEEPVLIEGER_TYPE_ID]}"></ng-container>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<ng-template #roosterDienst let-dag="dag" let-typeDienst="typeDienst">
    <div class="d-flex" *ngFor="let dt of typeDienst">
        <div class="w-100" *ngIf="tonen.toonDienst[dt]">
            <div class="naam" (click)="openPopup(dag, dt)"
                 [ngClass]="lidInRoosterClass(dag.Diensten[dt])">
                 {{ (dag.Diensten[dt]) ? dag.Diensten[dt].NAAM : "" }}
            </div>
        </div>
    </div>
</ng-template>

<app-dienst-editor></app-dienst-editor>
