@if (diensten && diensten.length > 0) {
    <table class="w-100">
    <tr class="headerRow">
        <th scope="col" class="datum">Datum</th>
        <th scope="col">Dienst</th>
        @if (UitgebreideWeergave) {
            <th scope="col">Afwezig</th>
        } @if (UitgebreideWeergave) {
        <th scope="col">Aanwezig</th>
    }
    </tr>
        @for (dienst of diensten; track dienst; let i = $index) {
            <tr>
        <td class="datum clickable"><a aria-label="Toon diensten van de dag" (click)="toonDagRooster(dienst.DATUM)" class="clickable">{{toonDatum(dienst.DATUM)}}</a></td>
        <td>{{dienst.TYPE_DIENST}}</td>
                @if (UitgebreideWeergave) {
                    <td class="midden">
            <input type="checkbox"
                   class="form-check-inline"
                   [checked]="dienst.AFWEZIG"
                   disabled>
                    </td>
                } @if (UitgebreideWeergave) {
                <td class="midden">
                    <input type="checkbox"
                           class="form-check-inline"
                           [checked]="dienst.AANWEZIG"
                           disabled>
                </td>
            }
            </tr>
        }
    </table>
} @if (!diensten || diensten.length === 0) {
    <div>
        Er zijn momenteel geen diensten ingeroosterd
    </div>
} @if (isLoading) {
    <div class="spinnerOverlay">
        <app-loader></app-loader>
    </div>
}

<app-dag-rooster [Datum]="roosterDatum"></app-dag-rooster>
