code-input {
    --item-height: 3em;
    --item-background: #c4c2c1
}

#loginForm {
    position: absolute;
    z-index: 9;
    left: calc(50% - 200px);
    top: 5em;
    width: 400px;
}

#foto {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

