code-input {
    --item-height: 3em;
    --item-background: #c4c2c1
}

#album {
    width:100%;
    height: 100%;
    z-index: 0;
}

#loginForm {
    position: absolute;
    z-index: 9;
    left: calc(50% - 200px);
    top: 5em;
    width: 400px;
}

.foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

