<app-error [error]="error"></app-error>


<div id="foto" [style.background-image]="'url(' + toonFoto +')'">
    <div class="row justify-content-center padding-top-xl">
        <div class="col-12 col-sm-8  col-md-3  card loginWindow">
            <div class="card-body">
                <h1 class="card-title">Inloggen</h1>
                <form #form="ngForm" (ngSubmit)="login()">
                    <div class="row">
                        <div class="col">
                            <label for="gebruikersnaam" class="form-label">Gebruikersnaam</label>
                            <input
                                    id="gebruikersnaam"
                                    type="text"
                                    class="form-control mb-2"
                                    [(ngModel)]="gebruikersnaam"
                                    name="gebruikersnaam"
                                    minlength="2" required
                                    autocomplete="username">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="wachtwoord" class="form-label">Wachtwoord</label>
                            <div class="input-group">
                                <input
                                        id="wachtwoord"
                                        [type]="wachtwoordVerborgen ? 'password' : 'text'"
                                        class="form-control mb-2"
                                        [(ngModel)]="wachtwoord"
                                        name="wachtwoord"
                                        minlength="2" required
                                        autocomplete="current-password">
                                <span class="input-group-text passwordIcon" (click)="verbergWachtwoord()"><fa-icon
                                        [icon]="oogIcon"></fa-icon></span>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="showSecret">
                        <div class="col">
                            <label for="cinput" class="form-label">Code</label>
                            <code-input id="cinput" [codeLength]="6" (codeChanged)="onSecurityCodeChanged($event)">
                            </code-input>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col d-flex"
                             [ngClass]="{'justify-content-end': !showSecret && !showLostPassword(), 'justify-content-between': showSecret || showLostPassword() }">
                            <a *ngIf="showLostPassword()" class="lostPassword" (click)="recoverEmail()">Wachtwoord vergeten</a>
                            <button class="btn btn-secondary mr-2" type="button" (click)="sendSMS()"
                                    [disabled]="form.invalid" *ngIf="showSecret && !isLoading">
                                <span *ngIf="!isLoading">SMS</span>
                                <span *ngIf="isLoading"><app-loader></app-loader></span>
                            </button>
                            <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
                                <span *ngIf="!isLoading">Login</span>
                                <span *ngIf="isLoading"><app-loader></app-loader></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
