@function getColor($key){
    @return map-get($theme-colors, $key);
}

$theme-colors: (
  "primary": #007bff,
  "secondary": #ffc107,
  "danger": #dc3545,
  "success": #28a745,
  "warning": #ffc107,
  "background": #f5f3f3,
  "background2": #cecccc,
  "dark": #212121,
);

$footer-height: 2.5em;
$headings-color: getColor('primary');



