@import "~angular-bootstrap-md/assets/scss/core/colors";

$primary-color: #4253D5;
$primary-color-dark:   darken($primary-color, 10);
$secondary-color: #bab69b;
$secondary-color-dark: darken($secondary-color, 10);

@function getColor($key) {
  @return map-get($theme-colors, $key);
}

$theme-colors: (
        "primary": #113e6d,
        "secondary":  $secondary-color,
        "success":    $success-color,
        "info":       $info-color,
        "warning":    $warning-color,
        "danger":     $danger-color
);

$footer-height: 3em;

