<app-icon-card titel="Dashboard"
               subtitel="Een verzameling van nuttige info"
               [icon]="iconCardIcon">

    <div class="row bg-tertiary rounded px-5 text-white">
        <div class="col-3 d-flex flex-column justify-content-center" *ngIf="lidData">
            <h2 class="fw-bold mb-0">{{lidData.NAAM}}</h2>
        </div>
        <div class="col-9 d-flex justify-content-end">
            <div class="row">
                <div class="col-6 d-flex flex-column justify-content-center">
                    <p class="mb-0">{{getLidType()}}<br>{{lidData.LIDNR}}</p>
                </div>
                <div class="col-6">
                    <app-avatar [url]="lidData.AVATAR" [naam]="lidData.NAAM"></app-avatar>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-3">
            <app-icon-card id="statusCard"
                           class="kleineKaart"
                           titel="Status"
                           subtitel="Vliegstatus"
                           [icon]="iconStatus">
                <app-status [VliegerID]="lidData.ID"></app-status>
            </app-icon-card>
        </div>
        <div class="col-3">
            <app-icon-card id="pvbCard"
                           class="kleineKaart"
                           titel="PVB"
                           subtitel="Proef van bekwaamheid"
                           [icon]="iconPVB">
                <app-pvb [VliegerID]="lidData.ID"></app-pvb>
            </app-icon-card>
        </div>

        <div class="col-3">
            <app-icon-card id="recencyCard"
                           class="kleineKaart"
                           titel="Recency"
                           subtitel="Currency barameter"
                           [icon]="iconRecency">
                <app-recency [VliegerID]="lidData.ID" [naam]="lidData.NAAM"></app-recency>
            </app-icon-card>
        </div>

        <div class="col-3">
            <app-icon-card id="roosterCard"
                           class="kleineKaart"
                           titel="Rooster"
                           subtitel="Ingeroosterde diensten"
                           [icon]="iconRooster">
            </app-icon-card>
        </div>
    </div>
    <div class="row mt-4 datatable-hoogte">
        <div class="col-12">
            <app-icon-card id="logboekCard"
                           class="kleineKaart"
                           titel="Logboek"
                           subtitel="Overzicht van de vluchten"
                           [icon]="iconLogboek">
                <div class="expandLogboek">
                    <a (click)="toonLogboekGroot()">
                        <fa-icon [icon]="iconExpand"></fa-icon>
                    </a>
                </div>
                <app-vlieger-logboek [VliegerID]="lidData.ID"></app-vlieger-logboek>
            </app-icon-card>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <app-icon-card id="progressieCard"
                           class="kleineKaart"
                           titel="Progressiekaart"
                           subtitel="Behaalde competenties"
                           [icon]="iconProgressie">
            </app-icon-card>
        </div>
    </div>
</app-icon-card>

<app-modal popupClass="popupLarge" titel="Logboek van {{lidData.NAAM}} voor">
    <div body *ngIf="lidData">
        <div class="popupLargeWrapper">
            <app-vlieger-logboek [VliegerID]="lidData.ID"></app-vlieger-logboek>
        </div>
    </div>
</app-modal>


