
.box {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.datatable-hoogte {
  min-height: 300px;
  flex: 1 0 auto;
}

.tracks-hoogte {
  min-height: 400px;
  flex: 3 0 auto;
}

.progressie-hoogte {
  min-height: 200px;
  flex: 1 0 auto;
}

.expand {
  position: absolute;
  align-self: flex-end;
  right: 15px;
  top: 12px;
  color: #bebebe;
  font-size: 20px;
}


.excel {
  position: absolute;
  right: 12px;
  top: 10px;
  z-index: 10;

  .logo {
    height: 35px;
  }
}

.toolbar {
  position: absolute;
  z-index: 5;
  margin-top: -30px;    // over grid footer heen leggen
}

.toolbarBtn {
  margin-right: 20px;
}

#STATUS {
  background-color: #a7a7a7;
  border: none;
}

#STATUS:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
