<app-icon-card titel="Vliegtuigen" icon="plane" subtitel="Een overzicht van het vliegtuigenlogboek" color="primary">
    <p>Test</p>
</app-icon-card>

<div class="row wow fadeIn mt-4">
    <div class="col-12">
        <mdb-card>
            <mdb-card-body>
                <table class="table table-hover">
                    <thead class="primary-color text-white">
                    <tr>
                        <th>#</th>
                        <th>Lorem</th>
                        <th>Ipsum</th>
                        <th>Dolor</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Cell 1</td>
                        <td>Cell 2</td>
                        <td>Cell 3</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Cell 4</td>
                        <td>Cell 5</td>
                        <td>Cell 6</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Cell 7</td>
                        <td>Cell 8</td>
                        <td>Cell 9</td>
                    </tr>
                    </tbody>
                </table>

            </mdb-card-body>
        </mdb-card>
    </div>
</div>
