
.datatable-hoogte {
  min-height: 400px;
}

.tracks-hoogte {
  height: calc(100vh - 30px);
}

.expandLogboek {
  position: absolute;
  align-self: flex-end;
  right: 15px;
  top: 12px;
  color: #bebebe;
  font-size: 20px;
}


.excel {
  position: absolute;
  right: 12px;
  top: 10px;
  z-index: 10;

  .logo {
    height: 35px;
  }
}
