<app-error [error]="error"></app-error>

<app-pegasus-card titel="Logboek {{REG_CALL}}"
               subtitel="Cummulatieven per vliegdag"
               [icon]="iconCardIcon"
               [exportEnabled]="this.magExporten"
               (excelExport)="exportDataset()">
    <div class="box h-100">
        <div class="d-flex pe-3 headerCards">
            <div class="card col-6 grafiekCard me-2" *ngIf="barChartData.length > 0">
                <div class="clearBarChart">
                    <a (click)="clearGrafiekData()">
                        <fa-icon [icon]="clearChartIcon"></fa-icon>
                    </a>
                </div>
                <div class="barchart-wrapper inlineGrafiek">
                    <canvas baseChart
                            (chartClick)="toonVluchtenDetail()"
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [plugins]="barChartPlugins"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                    </canvas>
                </div>
                <div class="d-flex GrafiekFooter">
                    <h4 class="GrafiekFooterIcon">
                        <fa-icon [icon]="planeDepartureIcon"></fa-icon>
                    </h4>
                    <div class="GrafiekFooterTitel">
                        Aantal vluchten
                    </div>
                </div>
                <div class="d-flex GrafiekFooterSamenvatting">
                    <h4 class="GrafiekFooterSamenvattingIcon">
                        <fa-icon [icon]="bookmarkIcon"></fa-icon>
                    </h4>
                    <div class="GrafiekFooterSamenvattingTekst" *ngIf="totalen">
                        Totaal in {{datum.year}}, {{totalen.totalen.VLUCHTEN}} starts
                        waarvan {{totalen.totalen.LIERSTARTS}} lierstart en {{totalen.totalen.SLEEPSTARTS}} sleepstarts
                    </div>
                </div>
            </div>

            <div class="card col-6 grafiekCard ms-1" *ngIf="lineChartData.length > 0">
                <div class="clearBarChart">
                    <a (click)="clearGrafiekData()">
                        <fa-icon [icon]="clearChartIcon"></fa-icon>
                    </a>
                </div>
                <div class="linechart-wrapper inlineGrafiek">
                    <canvas baseChart
                            (chartClick)="toonTijdDetail()"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [plugins]="lineChartPlugins"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType">
                    </canvas>
                </div>
                <div class="d-flex GrafiekFooter">
                    <h4 class="GrafiekFooterIcon">
                        <fa-icon [icon]="clockIcon"></fa-icon>
                    </h4>
                    <div class="GrafiekFooterTitel">
                        Tijd
                    </div>
                </div>
                <div class="d-flex GrafiekFooterSamenvatting">
                    <h4 class="GrafiekFooterSamenvattingIcon">
                        <fa-icon [icon]="bookmarkIcon"></fa-icon>
                    </h4>
                    <div class="GrafiekFooterSamenvattingTekst" *ngIf="totalen">
                        Totaal in {{datum.year}}, {{totalen.totalen.VLIEGTIJD}} uren
                    </div>
                </div>
            </div>

        </div>
        <div class="row vliegtuiggrid overflow-hidden">
            <app-datatable
                    id="vliegtuiglogboekgrid"
                    [rowData]="data"
                    [columnDefs]="columns"
                    [frameworkComponents]="frameworkComponents"
                    class="h-100 mt-n8"></app-datatable>
        </div>
    </div>
</app-pegasus-card>

<app-modal popupClass="popupLarge" [titel]="DetailGrafiekTitel">
    <div body *ngIf="toonVluchtenDetailGrafiek">
        <div class="barchart-wrapper popupLargeWrapper">
            <canvas baseChart
                    (chartClick)="toonVluchtenDetail()"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
        </div>
    </div>

    <div body *ngIf="toonVliegtijdDetailGrafiek">
        <div class="linechart-wrapper popupLargeWrapper">
            <canvas baseChart
                    (chartClick)="toonTijdDetail()"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [plugins]="lineChartPlugins"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType">
            </canvas>
        </div>
    </div>
</app-modal>
