<app-modal titel="Start details">
    <div body>
        @if (start) {
            <div class="d-flex flex-column">
                <div class="d-flex flex-row justify-content-between">
                    <div>Dag nummer:</div>
                    <div>{{ start.DAGNUMMER }}</div>
                </div>
                <hr>
                @if (start.VLIEGERNAAM !== null || start.VLIEGERNAAM_LID !== null) {
                    <div class="d-flex flex-row justify-content-between">
                        <div>Vlieger:</div>
                        @if (start.VLIEGERNAAM) {
                            <div>{{ start.VLIEGERNAAM }}</div>
                        } @if (!start.VLIEGERNAAM) {
                        <div>{{ start.VLIEGERNAAM_LID }}</div>
                    }
            </div>
                } @if (start.INZITTENDENAAM !== null || start.INZITTENDENAAM_LID !== null) {
                <div class="d-flex flex-row justify-content-between">
                    <div>Inzittende:</div>
                    @if (start.INZITTENDENAAM) {
                        <div>{{ start.INZITTENDENAAM }}</div>
                    } @if (!start.INZITTENDENAAM) {
                    <div>{{ start.INZITTENDENAAM_LID }}</div>
                }
            </div>
            }
        </div>
        }
        <hr>
        <div class="d-flex flex-row justify-content-between">
            <div>Laatste update:</div>
            <div>{{ ts }}</div>
        </div>
    </div>
</app-modal>
