<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

<table class="statusTabel">
    <tr class="headerRow">
        <th></th>
        <th>{{cheks.Jaren[0]}}</th>
        <th>{{cheks.Jaren[1]}}</th>
    </tr>
    <tr *ngFor="let c of cheks.Check;">
        <td class="kolom1">
            {{c.Omschrijving}}
        </td>
        <td class="kolom2">
            <input type="checkbox" *ngIf="competentieBestaat(c.CompetentieID[0])"
                   id="L{{c.CompetentieID[0]}}"
                   class="form-check-inline"

                   (change)="zetProgressie($event, c.CompetentieID[0])"
                   [checked]="CheckGehaald(c.CompetentieID[0])"
                   [disabled]="CheckDisabled(c.CompetentieID[0])">       <!-- als checked, dan disable. Verwijderen via progressie boom -->
        </td>
        <td class="kolom3">
            <input type="checkbox" *ngIf="competentieBestaat(c.CompetentieID[1])"
                   id="O{{c.CompetentieID[1]}}"
                   class="form-check-inline"
                   (change)="zetProgressie($event, c.CompetentieID[1])"
                   [checked]="CheckGehaald(c.CompetentieID[1])"
                   [disabled]="CheckDisabled(c.CompetentieID[1])">       <!-- als checked, dan disable. Verwijderen via progressie boom -->
        </td>
    </tr>
</table>

<table class="overigTabel">
    <tr *ngFor="let o of overig;">
        <td class="col1">
            {{o.Omschrijving}}
        </td>
        <td class="kolom2">
            <input type="checkbox" *ngIf="competentieBestaat(o.CompetentieID)"
                   id="{{o.CompetentieID}}"
                   class="form-check-inline"
                   (change)="zetProgressie($event, o.CompetentieID)"
                   [checked]="CheckGehaald(o.CompetentieID)"
                   [disabled]="CheckDisabled(o.CompetentieID)">          <!-- als checked, dan disable. Verwijderen via progressie boom -->
        </td>
    </tr>
</table>

<div class="spinnerOverlay" *ngIf="isLoading">
    <app-loader></app-loader>
</div>

<app-progressie-editor [competenties]="competenties" *ngIf="Vlieger" [vliegerID]="Vlieger.ID!" (aangepast)="ophalen()"></app-progressie-editor>
