.statusTabel {
  width: 100%;
}

.headerRow {
  font-weight: bold;
}

.kolom2 {
  text-align: center;
}

.kolom3 {
  text-align: center;
}

.overigTabel {
  margin-top: 15px;
}

.col1 {
  padding-right: 20px;
}

