<app-error [error]="error"></app-error>
<app-success [success]="success"></app-success>

<app-modal [titel]="formTitel">
    <div body>
        <app-lid-invoer id="LID" *ngIf="toonLidSelectie"
                        placeholder="Selecteer lid"
                        label="Lid"
                        [LID_ID]="track.LID_ID"
                        [disabled]="isVerwijderMode || isRestoreMode"
                        excludeLidTypes="600,607,609,610,612,613,625"
                        [leden]="leden"
                        (LidChanged)="lidGeselecteerd($event)"
        ></app-lid-invoer>

        <fieldset [disabled]="isVerwijderMode || isRestoreMode">
            <div class="row">
                <div class="col-12">
                    <textarea [(ngModel)]="track.TEKST" name="TEKST"
                              class="w-100 text-invoer form-control"
                              rows=8></textarea>
                </div>
            </div>
        </fieldset>
    </div>
    <div footer>
        <app-icon-button *ngIf="!isLoading && !isSaving && track.ID !== undefined && !isRestoreMode && !isVerwijderMode" iconNaam="fas Edit" btnColor="btn-primary"
                         tekst="Opslaan" (btnClicked)="uitvoeren()"></app-icon-button>
        <app-icon-button *ngIf="!isLoading && !isSaving && track.ID === undefined && !isRestoreMode && !isVerwijderMode" iconNaam="fas Plus" btnColor="btn-primary"
                         tekst="Opslaan" (btnClicked)="uitvoeren()"></app-icon-button>
        <app-icon-button *ngIf="!isLoading && !isSaving && isVerwijderMode" iconNaam="fas TrashAlt" btnColor="btn-primary editorDeleteBtn"
                         tekst="Verwijderen" (btnClicked)="uitvoeren()"></app-icon-button>
        <app-icon-button *ngIf="!isLoading && !isSaving && isRestoreMode" iconNaam="fas Undo" btnColor="btn-primary editorRestoreBtn"
                         tekst="Herstellen" (btnClicked)="uitvoeren()"></app-icon-button>

        <button class="btn btn-primary" *ngIf="isLoading || isSaving">
            <span><app-loader></app-loader></span>
        </button>
    </div>
</app-modal>
