<app-modal popupClass="popupLarge" titel="Recency verloop {{naam}} over 24 maanden">
    <div body>
        @if (bezig) {
            <div>
                <ngb-progressbar type="info" [value]="counter" showValue="true" max="36"
                                 [striped]="true"></ngb-progressbar>
            </div>
        } @if (!bezig) {
        <div class="barchart-wrapper popupLargeWrapper">
            <div class="linechart-wrapper inlineGrafiek">
                @if (waardes) {
                    <canvas class="recencyGrafiek" baseChart
                            style="width: inherit;height: 66vh;"
                            [type]="'line'"
                            [data]="lineChartData"
                            [options]="lineChartOptions">
                    </canvas>
                }
            </div>
        </div>
    }
    </div>
</app-modal>
