<app-icon-card titel="Vliegtuigen" subtitel="Een overzicht van de vliegtuigen" [icon]="vliegtuig">
    <div class="box h-100">
        <div class="row h-100" style="overflow: hidden;">
            <app-datatable
                    id="vliegtuiggrid"
                    [rowData]="data"
                    [columnDefs]="columns"
                    [frameworkComponents]="frameworkComponents"
                    (rowDoubleClicked)="openEditor($event)"
                    style="height:100%;" class="mt-n8"></app-datatable>
        </div>
        <div class="row justify-content-start" id="toolbar">
            <div class="col-4">

                    <app-icon-button class="toolbarBtn" tekst="Toevoegen" iconNaam="far PlusSquare"
                                     btnColor="btn-primary"></app-icon-button>

                    <app-icon-button class="toolbarBtn" tekst="Verwijderen" iconNaam="far TrashAlt"
                                     btnColor="btn-secondary"></app-icon-button>
                </div>
            <div class="col-8">
            <div class="d-flex" style="align-items: baseline">
                    <label id="zoekLabel" for="zoekInput" class="form-label">Zoeken : </label>
                    <input id="zoekInput"
                           type="search"
                           class="form-control"
                           [(ngModel)]="zoekString"
                           name="zoekString"
                           (keyup)="opvragen()"
                           (search)="opvragen()"
                           >
                </div>
            </div>
        </div>
    </div>

    <app-vliegtuig-editor></app-vliegtuig-editor>

</app-icon-card>
