<app-icon-card titel="Vliegtuigen" subtitel="Een overzicht van de vliegtuigen" [icon]="vliegtuig">
    <div class="box h-100">
        <app-datatable
                id = "vliegtuiggrid"
                [rowData]="data"
                [columnDefs]="columns"
                [frameworkComponents]="frameworkComponents"
                (rowDoubleClicked)="openEditor($event)"
                style="height:100%;" class="mt-n4"></app-datatable>
    </div>

     <app-vliegtuig-editor></app-vliegtuig-editor>
</app-icon-card>
