<app-modal [titel]="formTitel">
    <div body>
            <fieldset>
                <div class="row">
                    <div class="col-9 col-md-6">
                        <label for="tijdInvoer" class="form-label">{{label}}</label>
                    </div>
                    <div class="col-3 col-md-6">
                        <div class="d-flex justify-content-end">

                            <div class="overflow-box">
                                <ng-select id="tijdInvoer"
                                           placeholder="hh:mm"
                                           bindLabel="label"
                                           bindValue="value"
                                           [items]="overdag"
                                           [closeOnSelect]="true"
                                           [(ngModel)]="tijd">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

        <br>
        Selected city ID: {{tijd}}

    </div>
    <div footer>
        <app-icon-button *ngIf="!isLoading" iconNaam="fas Edit" btnColor="btn-primary"
                         tekst="Opslaan" (click)="opslaan()"></app-icon-button>
    </div>
</app-modal>
